@model MemberTypeViewModel
@{
    ViewData["TitleMD"] = "Member Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style{
    <style>
        .redStar {
            color: red;
        }
    </style>
}


<div class="card" style="width: 100%;">
    <div class="card-body">
        <h5 class="card-title" style="color: black">Member Type</h5>
        <hr>
        <div class="container">
            <form asp-area="MemberInfo" asp-controller="MemberType" asp-action="Index" method="post" data-parsley-validate="parsley">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group row">
                    <input type="hidden" name="memberTypeId" id="memberTypeId" value="0" />

                    <label for="empType" class="col-sm-2 col-form-label">Member Type Name <span style="float:right;" class="redStar">*</span></label>
                    <div class="col-sm-10">
                        <input type="text" data-parsley-required="true" data-parsley-trigger="keyup" class="form-control" name="memberType" id="memberType">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="empTypeBn" class="col-sm-2 col-form-label">Member Type (Bn)</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="memberTypeBn" id="memberTypeBn">
                    </div>
                </div>
                <hr />
                <button type="submit" value="Submit" class="btn btn-success btn-lg" style="float:right; margin-top:5px;"><i class="fas fa-save"></i></button>

            </form>
        </div>
    </div>
</div>

<br />
<hr />
<div class="row clearfix">
    <div class="col-12">
        <div class="card mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Member Type</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table class="table table-striped table-bordered" id="empTypeTable">
                    <thead>
                        <tr>
                            <th>Member Type</th>
                            <th>Member Type Bn</th>
                            <th>Action</th>
                    </thead>
                    <tbody>
                        @foreach (var data in Model.memberTypes)
                        {
                            <tr>
                                <td>@data.memberType</td>
                                <td>@data.memberTypeBn</td>
                                <td>
                                    <a class="btn btn-success" onclick="Edit(@data.Id, '@data.memberType', '@data.memberTypeBn')" href="#"><i class="fa fa-edit"></i></a>
                                    <a class="btn btn-danger" href="#"><i class="fa fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#employeeType").addClass("active");

            $('#empTypeTable').DataTable({
                stateSave: false,
                dom: "<'row'<'col-sm-12 col-md-2'l><'col-sm-12 col-md-3'B><'col-sm-12 col-md-7'f>>" +
                    "<'row'<'col-sm-12't>>" +
                    "<'row'<'col-sm-12 col-md-6'i><'col-sm-12 col-md-6'pr>>",
                buttons: [
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel"></i> Excel',
                        titleAttr: 'Excel',
                        exportOptions: {
                            columns: [0, 1, 2]
                        },
                        title: "ERP-CLUB",
                        messageTop: 'List Of Local Training',
                        class: 'btn btn-info'
                    },
                    {
                        extend: 'csvHtml5',
                        text: '<i class="fa fa-file-excel"></i> CSV',
                        titleAttr: 'CSV',
                        exportOptions: {
                            columns: [0, 1, 2]
                        },
                        title: "ERP-CLUB",
                        messageTop: 'List Of Employee Training'
                    },
                    {
                        extend: 'print',
                        text: '<i class="fa fa-print"></i> Print',
                        titleAttr: 'Print',
                        title: "ERP-CLUB",
                        messageTop: 'List Of Local Training',
                        exportOptions: {
                            columns: [0, 1, 2]
                        },
                        customize: function (doc) {
                            $(doc.document.body).find('h1').css('font-size', '20pt');
                            $(doc.document.body).find('h1').css('font-family', "'Times New Roman', Times, serif");
                            $(doc.document.body).find('h1').css('text-align', 'center');
                        }
                    }
                ]
            });

        });

        function Edit(Id, empType, empTypeBn, shortName) {
            $("#memberTypeId").val(Id);
            $("#memberType").val(empType);
            $("#memberTypeBn").val(empTypeBn);
        }
    </script>
}

