@model LeaveRegisterViewModel

@{
    ViewData["Title"] = "Actual Leave List";
    Layout = "~/Areas/HRPMSLeave/Views/Shared/_LeaveForm.cshtml";
}

@section StyleL{
    <style>


        .b {
            font-size: 12px;
            margin: 5px;
        }

        .active {
            color: darkcyan;
        }

        .c {
            min-height: 290px;
            background-color: #FDF2E9;
        }

            .c .card-footer {
                height: 50px;
                background-color: #E9F7EF;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        a i {
            font-size: 15px !important;
            margin: 0 !important;
        }

        .delete {
            float: right;
            border: none;
            box-shadow: none;
        }

        #userRoles, #assignedPage {
            height: 200px;
            overflow: scroll;
        }
    </style>
}



<div class="row clearfix" style="">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">All Actual Leave List</h6>
                @*<a class='btn btn-info' style="margin-left: 641px;" data-toggle='tooltip' href='javascript:void(0)' onclick="PrintPdf()"><i style=" " class="fas fa-print"></i> Print</a>*@
                <a class='btn btn-info' style="margin-left: 641px;" data-toggle='tooltip' title='Go Back' href='/Home/GridMenuPage?moduleId=1018&perentId=6282'><i class="fas fa-angle-double-left"> <span style="">Back</span></i></a>

            </div>
            <div class="card-body">
               
                <form asp-action="ApprovedActualByHrAdmin" method="post" id="allform">

                    <div>
                        <input type="submit" value="Approve" class="btn btn-success mb-8 fa-pull-right" />
                        <button type="button" id="btnReject" onclick="Rejectdata()" class="btn btn-danger btn-xs mr-2 mb-8 " style="float:right;">Reject</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    </div>
                    <div style="margin-top:4px!important">
                        <table class="table table-striped table-bordered" id="requisitionListTable">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" id="selectAll" style="width:20px;height:20px" />
                                    </th>
                                    <th>Emp.Id-Name</th>

                                    <th>Proposed From</th>
                                    <th>Proposed To</th>
                                    <th>Actual From</th>
                                    <th>Actual To</th>
                                    <th>Leave Type</th>
                                    <th>Leave Remarks</th>
                                    <th>Days</th>
                                    <th>Subs. Employee</th>
                                    <th>Action</th>
                                  </thead>
                            <tbody id="tbody">
                                @foreach (var item in Model.ProleaveRegisters)
                                {
                                <tr>
                                    <td>
                                        <input type="checkbox" value="@item.leaveRegisterslists?.Id" style="width:20px;height:20px" id="chk_@item.leaveRegisterslists?.Id" class="js-switch" />
                                    </td>
                                    <td><span>@item.leaveRegisterslists?.employee?.employeeCode</span>-<span>@item.leaveRegisterslists?.employee?.nameEnglish</span></td>

                                    <td>@item.leaveRegisterslists?.leaveFrom?.ToString("dd MMM yyyy")</td>

                                    <td>@item.leaveRegisterslists?.leaveTo?.ToString("dd MMM yyyy")</td>

                                    <td>@item.leaveRegisterslists?.ActualLeaveFrom?.ToString("dd MMM yyyy")</td>

                                    <td>@item.leaveRegisterslists?.ActualLeaveTo?.ToString("dd MMM yyyy")</td>


                                    <td> @item.leaveRegisterslists?.leaveType?.nameEn</td>
                                    <td>
                                        @if (item.leaveRegisterslists?.purposeOfLeave == null || item.leaveRegisterslists?.purposeOfLeave == "")
                                        {
                                            <span></span>
                                        }
                                        else
                                        {
                                            @item.leaveRegisterslists?.purposeOfLeave
                                        }

                                    </td>
                                    <td>@item.leaveRegisterslists?.daysLeave</td>
                                    <td>
                                        <span>@item.leaveRegisterslists.substitutionUser?.employeeCode</span>-<span>@item.leaveRegisterslists.substitutionUser?.nameEnglish</span>

                                    </td>
                                    <td>
                                        <a class="btn btn-info btn-sm" target="_blank" data-toggle='tooltip' title='Print' href='/HRPMSLeave/LeaveRegister/ActualLeaveIndividualPDF?id=@item.leaveRegisterslists?.Id'><i class="fa fa-print"></i></a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                

                </form>
            </div>
        </div>
    </div>
</div>



@section ScriptsL{
    <script src="~/Assets/paginathing.js"></script>
    <script>
        var orgFromDate = '';
        var orgToDate = '';

        $(document).ready(function () {
            $('#selectAll').on('change', function () {
                if ($(this).prop('checked') == true) {
                    $('.js-switch').prop('checked', true);
                    $('.js-switch').attr('name', 'registerids');
                }
                else {
                    $('.js-switch').prop('checked', false);
                    $('.js-switch').removeAttr('name', 'registerids');
                }
            })

            $('.js-switch').on('change', function () {
                if ($(this).prop('checked') == true) {
                    $(this).attr('name', 'registerids');
                }
                else {
                    $(this).removeAttr('name', 'registerids');
                }
            })

            $('#btnReject').click(function () {
                Rejectdata();
            });

          
            $("#education").addClass("active");
            $('#requisitionListTable').DataTable({
                stateSave: false,
                dom: "<'row'<'col-sm-12 col-md-2'l><'col-sm-12 col-md-3'B><'col-sm-12 col-md-7'f>>" +
                    "<'row'<'col-sm-12't>>" + "<'row'<'col-sm-12 col-md-6'i><'col-sm-12 col-md-6'pr>>",
                buttons: [
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel"></i> Excel',
                        titleAttr: 'Excel',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        },
                        title: 'ERP',
                        messageTop: 'Re-creation Leave List',
                        class: 'btn btn-info'
                    },
                    {
                        extend: 'csvHtml5',
                        text: '<i class="fa fa-file-excel"></i> CSV',
                        titleAttr: 'CSV',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        },
                        title: 'ERP',
                        messageTop: 'Re-creation Leave List'
                    },
                    {
                        extend: 'print',
                        text: '<i class="fa fa-print"></i> Print',
                        titleAttr: 'Print',
                        title: 'ERP',
                        messageTop: 'Re-creation Leave List',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        },
                        customize: function (doc) {
                            $(doc.document.body).find('h1').css('font-size', '20pt');
                            $(doc.document.body).find('h1').css('font-family', "'Times New Roman', Times, serif");
                            $(doc.document.body).find('h1').css('text-align', 'center');
                        }
                    }
                ]
            });
        });



         function Rejectdata() {
             var isChecked = $('.js-switch:checkbox:checked').length;
            if (isChecked == 0) {
                swal('Attention!', 'Please select minimum 1 !!!', 'warning');
                return false;
			}

             var form = $("#allform");

           
			swal({
				title: 'Are you sure?', text: 'Do you want to reject this!', type: 'warning', showCancelButton: true, confirmButtonColor: '#3085d6', cancelButtonColor: '#d33', confirmButtonText: 'Yes, reject it!'
			}).then(function () {
				$.ajax({
					url: '@Url.Action("RejectActualListByHrAdmin", "LeaveRegister")',
                    data: form.serialize(),
                    type: 'POST',
				})
				.done(function () {
					swal({
						title: '', text: 'Reject Successfully!', type: 'success', showCancelButton: false, confirmButtonColor: '#3085d6', confirmButtonText: 'Ok!',
					}).then(function () {
						location.reload();
					});
				})
				.fail(function () {
					location.reload();
				});
			});
        }







        function ajaxRejectLeave(res) {
            if (res == 'rejected') {
                swal('success', 'Rejected Success', 'success').then(function () {
                    location.reload();
                });
            }
            else {
                swal('warning', 'Rejected Failed', 'warning');
            }
        }
       
        function formatingDate1(date) {
            date = new Date(date);
            var year = date.getFullYear(),
                month = date.getMonth() + 1, // months are zero indexed
                day = date.getDate(),
                hour = date.getHours(),
                minute = date.getMinutes(),
                second = date.getSeconds(),
                hourFormatted = hour % 12 || 12, // hour returned in 24 hour format
                minuteFormatted = minute < 10 ? "0" + minute : minute,
                morning = hour < 12 ? "am" : "pm";

            return month + "/" + + day + "/" + year;
        }


        

      


    </script>
}


