@model ItemViewModel
@{
    ViewData["Title"] = "Item List";
    Layout = "~/Areas/Auth/Views/Shared/_MasterLayout.cshtml";
}
<style>
    .fas {
        /*color: black;*/
        cursor: pointer;
        margin-top: 10px;
        font-size: 25px;
        padding-left: 7px;
    }

    .fa-print, .fa-file {
        color: white;
    }

    .active {
        color: darkcyan;
    }

    .c {
        /* min-height: 570px;*/
        background-color: #FDF2E9;
    }

        .c .card-footer {
            height: 65px;
            background-color: #E9F7EF;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    .cb {
        height: 475px;
    }

    .c .cb {
        transition: .3s all;
        cursor: default;
    }

    .cf {
        transition: .3s all;
        cursor: pointer;
    }

    .c:hover {
        background-color: #D6DBE9;
    }

    #myInput1 {
        width: 30%;
        position: absolute;
        right: 18px;
        box-shadow: none;
        margin-top: -26px;
        right: 41px;
        margin-top: -17px;
    }

    .fas.fa-minus, .fas.fa-plus {
        color: #4e73df;
    }

    .itemCard {
        min-height: 260px;
        cursor: pointer;
    }

    .cardFoot {
        min-height: 50px;
        font-size: 20px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 0;
    }

    .cardbody {
        padding-bottom: 0;
        font-size: 18px;
    }

    .pagination > li > a,
    .pagination > li > span {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #337ab7;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
    }

    .pagination > .active > a,
    .pagination > .active > a:focus,
    .pagination > .active > a:hover,
    .pagination > .active > span,
    .pagination > .active > span:focus,
    .pagination > .active > span:hover {
        z-index: 3;
        color: #fff;
        cursor: default;
        background-color: #337ab7;
        border-color: #337ab7;
    }

    .pagination-container {
        margin: 20px 0;
        display: flex;
        justify-content: flex-end;
    }

    .programflow {
        background-color: antiquewhite !important;
        background: antiquewhite !important;
    }


    input[name="skuspec"], input[name="specificationCategoryname"], input[name="CategoryValue"], input[name="specificationCategoryname"] {
        background-color: antiquewhite;
    }

    #grad1 {
        height: 53px;
        background-image: linear-gradient(to right, rgb(27 220 239 / 12%), #86b8ed);
        width: 98%;
        border-radius: 7px;
        padding-left: 30px;
        margin-left: 11px;
    }
</style>
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet">
@*<div id="grad1">
        <a href="javascript:void(0)" id="grid"><i class="fas fa-th text-left ml-2 mr-1"></i></a>
        <a href="javascript:void(0)" id="list"><i class="fas fa-list-alt text-left"></i></a>
    </div>*@
<div style="margin-top: 25px;">
    <div>
        <a href="javascript:void(0)" id="list">
            <i class="fas fa-th text-left mx-2" style="font-size: 24px; margin: 5px; background-color: lightgray; padding: 5px; cursor: pointer !important;"></i>
        </a>
        <a href="javascript:void(0)" id="grid">
            <i class="fas fa-list-alt text-left mx-2" style="font-size: 24px; margin: 5px; background-color: lightgray; padding: 5px; cursor: pointer !important;"></i>
        </a>
        <div class="fa-pull-right">
            <a href="/SCMMasterData/Item/ItemEntry" id="plus">
                <i class="fas fa-plus-square text-left mx-2" style="font-size: 24px; margin: 5px; background-color: lightgray; padding: 5px; cursor: pointer !important;"></i>
            </a>
            <a href="/Home/GridMenuPage?moduleId=11&perentId=1248" id="back">
                <i class="fas fa-backward text-left mx-2" style="font-size: 24px; margin: 5px; background-color: lightgray; padding: 5px; cursor: pointer !important;"></i>
            </a>
        </div>
    </div>
    <div id="ListView">
        <div class="card p-3">
            <table id="AllItemLists" class="table table-sm table-bordered table-striped" style="">
                <thead>
                    <tr>
                        <th>Sl.</th>
                        <th>Type</th>
                        <th>Category</th>
                        <th>Full Category</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div style="width: 100%; height: 500px; display: flex; justify-content: center; align-items: center;" id="divLoad">
        <img width="500" src="~/images/loading.gif" />
    </div>

    <div id="GridView" style="display: none;">
        <div class="card">
            <div class=" card-header" style="padding:28px;">
                <input class="form-control" type="text" id="myInput1" placeholder="Type to search..." />
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <div class="row px-2" id="AllItemGrid">


                    </div>


                </div>
            </div>
        </div>

        @*<div class="row">
            <div class="col-md-12">
                <input class="form-control" type="text" id="myInput" placeholder="Type to search..." />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row px-2" id="AllItemGrid">


                </div>

                
            </div>
        </div>*@
    </div>



</div>


<!-- Modal   again  -->
@*<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Specifications</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="specTable" class="table table-warning table-hover table-striped">
                        <thead>
                            <tr class="font-weight-bold">
                                <th style="font-weight: bold !important;">Sl.</th>
                                <th style="font-weight: bold !important;">SKU No.</th>
                                <th style="font-weight: bold !important;">Spectification Name</th>
                                <th style="font-weight: bold !important;">Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>*@
<!-- Modal -->
<div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit <span id="itemNameForEdit"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-area="SCMMasterData" asp-controller="Item" enctype="multipart/form-data" asp-action="ItemUpdate" id="ItemUpdate" method="post" data-parsley-validate="parsley">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row">
                        <div class="col-sm-9 row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="itemName" class="col-sm-4 col-form-label">Item Code</label>
                                    <div class="col-sm-8">
                                        <input type="hidden" id="itemSpecificationIdEdit" value="0" name="itemSpecificationId">
                                        <input type="text" readonly class="form-control" id="itemSpecificationCodeEdit" value="0" name="itemSpecificationCode">
                                        <input type="hidden" class="form-control" id="itemIdEdit" value="0" name="itemId">
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <label for="itemName" class="col-sm-4 col-form-label">Name</label>
                                    <div class="col-sm-8">
                                        <input type="hidden" id="parentIdEdit" name="parentId" />
                                        <input type="text" maxlength="150" class="form-control" id="itemNameEdit" value="" name="itemName" data-parsley-required="true">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-form-label col-md-4">Item Category</label>
                                    <div class="col-md-8">
                                        @*<input type="text" class="form-control" name="ItemCategory" />*@
                                        <label id="select_parent_label_id" onclick="parentFun()" class="form-control btn btn-info" href="#"><span style="color: white; font-size: 15px;">select parent</span></label>
                                        <input type="text" class="form-control" id="select_parent_label_id1" data-parsley-required="true" autocomplete="off">
                                        <input type="text" class="form-control" readonly id="select_parent_label_id10" style="background-color: aqua; font-weight: bold; border: none;" autocomplete="off">
                                    </div>
                                    <div id="parent_list_div_id" class="col-md-8" style="display: none;">
                                        <div class="card" style="width: 1040px; z-index: 100;">
                                            <div class="card-body" style="text-align: left;">

                                                <div class="custom-control-inline" id="category_block_row_id" style="max-width:1000px; overflow-x:scroll;">
                                                    <div class="caregory_block_col_cls" id="categoryBlockColId_1" style="width:252px; height:320px; overflow:auto; padding-left: 10px; border: 1px solid lightgray; padding-right: 10px; padding-top: 12px;">
                                                        <div>
                                                            <input type="text" id="filter_category_id_1" onkeyup="filterCategoryFun(1)" class="form-control" placeholder="name" style="width: 230px; margin-bottom: 10px;">
                                                        </div>
                                                        @foreach (var data in Model.itemCategories.Where(x => x.isParent == null))
                                                        {
                                                            <label class="btn category_common_cls category_cls_1" id="label_id_@data.Id" href="#" onclick="viewSubParent(@data.Id, 1)" style="border-radius: 0; border-left: 5px solid silver; text-align: left; width: 230px; background: #E9EBEC; margin-top: -7px;color:gray">@data.categoryName &nbsp;<span><img src="~/images/arrow.png" style="height: 12px; width: 12px; float: right;margin-top: 6px;" /></span></label>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="row" style="width: 100%; background: #E9EBEC; margin-top: 20px; margin-left: 5px; border-radius: 5px;">
                                                    <p id="current_location_id" style="color: gray; margin-top: 2px; margin-top: 10px; padding-left: 48px; font-weight: bold">Current Location : </p>
                                                </div>
                                                <div class="custom-control-inline" style=" margin-top: 10px;">
                                                    <button class="btn" type="button" onclick="confirmFun()" style="border-radius: 0; background: #FF4E01; margin-left: 5px; color: whitesmoke">confirm</button>
                                                    <button class="btn" type="button" onclick="cancelFun()" style="border-radius: 0;margin-left: 5px; background: none; border: 1px solid lightgray">cancel</button>
                                                    <button class="btn" type="button" onclick="clearFun()" style="border-radius: 0;margin-left: 5px; background: none; border: 1px solid lightgray">clear</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="unitId" class="col-sm-4 col-form-label">@Model.fLang.unitId</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" name="unitId" id="unitIdEdit" data-parsley-required="true">
                                            <option value="">Select</option>
                                            @foreach (var data in Model.units)
                                            {
                                                <option value="@data.Id">@data.unitName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="unitId" class="col-sm-4 col-form-label">Item Type</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" name="itemTypeId" id="itemTypeId" data-parsley-required="true">
                                            <option value="">Select</option>
                                            @foreach (var data in Model.itemTypes)
                                            {
                                                <option value="@data.Id">@data.itemTypeName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="particular" class="col-sm-4 col-form-label">Account Ledger</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-group-sm" name="particular" id="particular" />
                                        <input type="hidden" name="accountLedgerId" id="particularId" />
                                        <input type="hidden" name="txtHaveSubLedger" id="txtHaveSubLedger" />
                                        <input type="hidden" id="txtAccountCode" />
                                        <input type="hidden" name="txtnatureId" id="txtnatureId" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="reOrderLevel" class="col-sm-4 col-form-label">Stock Alert</label>
                                    <div class="col-sm-8">
                                        <input type="number" class="form-control" id="reOrderLevelEdit" name="reOrderLevel">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="itemDescription" class="col-sm-4 col-form-label">@Model.fLang.itemDescription</label>
                                    <div class="col-sm-8">
                                        <textarea maxlength="250" class="form-control" id="itemDescriptionEdit" value="" name="itemDescription"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 row">
                            <div class="col-12">
                                <img id="user_img" style="width:200px;height:200px" src="https://www.phoca.cz/images/projects/phoca-gallery-r.png" alt="" class="img-thumbnail float-left">
                                <input type="file" title="Photo Upload" id="imagePath" name="itemPhoto" class="btn btn-default btn-sm pull-right" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-11">
                        <button type="button" data-toggle="tooltip" title="Refresh" onclick="RefreshAll()" class="btn btn-danger btn-sm" style="float:right; margin-top:5px;margin-right:5px;margin-left: 8px;">Refresh</button>
                        <button data-toggle="tooltip" title="Update" type="submit" value="Submit" class="btn btn-success btn-sm" style="float:right; margin-top:5px;">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal open again -->
@*<div class="modal fade" id="exampleModalLong3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form asp-area="SCMMasterData" asp-controller="Item" enctype="multipart/form-data" asp-action="UpdateSpecById" method="post" data-parsley-validate="parsley">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Edit <span class="text-success" id="specEditName"></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="skuNumber" class="col-sm-4 col-form-label">SKU Number</label>
                                    <div class="col-sm-6">
                                        <input type="hidden" name="specId" id="specId1" />
                                        <input type="text" class="form-control" id="skuNumber1" name="skuNumber" data-parsley-required="true" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="SpecName" class="col-sm-4 col-form-label">Spec Name</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="SpecName1" name="SpecName" data-parsley-required="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" value="Update" class="btn btn-success btn-lg" style="float: right !important; padding: 2px 19px !important; font-size: 17px !important; margin: 0 !important;"><i style="font-size: 20px;" class="fas fa-save"></i></button>
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>*@

@section Scripts{
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js" type="text/javascript"></script>
    <script src="https://d3js.org/d3.v3.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
    <script src="~/Paginathing/paginathing.js"></script>
    <script>
        var i = 1;
        var j = 1;
        var speccatid = "";
        $(document).ready(function () {
            $("#parent_list_div_id").hide();
            $('#unitId').select2();
            $('.select2').css('width', '100%');


            //setInterval(function () {
            //	if ($('#AllItemLists tbody').text != '') {
            //		console.log("ok");
            //	}
            //	else {

            //		console.log("ok2")
            //	}
            //}, 500);

            $('.fa-list-alt').addClass('active');
            //$("#myInput").on("keyup", function () {
            //    var value = $(this).val().toLowerCase();
            //    $(".ca").filter(function () {
            //        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            //    });
            //});

            $("#myInput1").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $(".searchdiv").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });

            $('#divLoad').show();
            $('#AllItemGrid').hide();
            Common.Ajax('GET', '/SCMMasterData/Item/NewItemListJson', [], 'json', ajaxFunction, false);
            $('#AllItemGrid').show();
            $('#AllItemLists').DataTable().destroy();
            $('#AllItemLists').DataTable({
                dom: "<'row'<'col-sm-12 col-md-2'l><'col-sm-12 col-md-3'B><'col-sm-12 col-md-7'f>>" +
                    "<'row'<'col-sm-12't>>" + "<'row'<'col-sm-12 col-md-6'i><'col-sm-12 col-md-6'pr>>",
                buttons: [
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel"></i> Excel',
                        titleAttr: 'Excel',
                        exportOptions: {
                            columns: ':not(:last-child)'
                        }
                    },
                    {
                        extend: 'csvHtml5',
                        text: '<i class="fa fa-file-excel"></i> CSV',
                        titleAttr: 'CSV',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        },
                        title: 'Item List',
                        messageTop: 'Item List'
                    },
                    {
                        extend: 'print',
                        text: '<i class="fa fa-print"></i> Print',
                        titleAttr: 'Print',
                        title: 'Item',
                        messageTop: 'Item List',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        },
                        customize: function (doc) {
                            $(doc.document.body).find('h1').css('font-size', '20pt');
                            $(doc.document.body).find('h1').css('font-family', "'Times New Roman', Times, serif");
                            $(doc.document.body).find('h1').css('text-align', 'center');
                        }
                    }
                ]
            });

            $('#AllItemGrid').paginathing({
                limitPagination: 8,
                perPage: 8,
                prevNext: true,
                firstLast: true,
                prevText: '&laquo;',
                nextText: '&raquo;',
                firstText: 'First',
                lastText: 'Last',
                containerClass: 'pagination-container',
                ulClass: 'pagination',
                liClass: 'page',
                activeClass: 'active',
                disabledClass: 'disabled',
                pageNumbers: true,
                insertAfter: '#AllItemGrid'
            })

        })
        $("#imagePath").change(function () {
            readURL(this);
        });
        function readURL(input) {
            // alert(input);
            //sleep(200);
            if (input.files && input.files[0]) {
                var filerdr = new FileReader();
                filerdr.onload = function (e) {
                    $('#user_img').attr('src', e.target.result);
                }
                filerdr.readAsDataURL(input.files[0]);
            }
        }




        function AddSpec() {
            //var id = 0;
            //var count = 0;
            //$('#outer-box').find('input[name="itemSpecificationName"]').each(function () {
            //    count += 1
            //    $('#Lg' + count + '').prop("disabled", true);
            //    $('#Lg' + count + '').prop("text-align", "justify");

            //});
            //id = count + 1;
            //skuid = id;
            $('#outer-box').append(`<div class="card card_1 mb-2 col-md-4">
                                                        <a href="javascript:void(0)" style="width: 30px; position: absolute; right: 5px; top: 5px;" class="addNewCard btn btn-info btn-sm" onclick="addNewCard()">+</a>
                                                        <a href="javascript:void(0)" style="width: 30px; position: absolute; right: 5px; top: 40px;" class="RemoveCard btn btn-success btn-sm" onclick="removeCard(1)">-</a>
                                                        <a href="javascript:void(0)" onclick="uploadImage(${i})" style="display: flex; margin-top: 20px;">
                                                            <img src="/SKUImages/${value.FileName}" id="imgsmall1" width="100" height="100" style="border-radius: 50%; margin: 0 auto;">
                                                        </a>
                                                        <input type="file" name="skuPhotes" style="display: none;" id="my_file1" onchange="imageChange(this, 1)">
                                                        <div class="card-body row">
                                                            <div class="col-md-12">

                                                            <input type="text" class="form-control"  placeholder="Specification name" name="itemSpecificationName" />
                                                            </div>
                                                            <div class="col-md-12">
                                                                <input type="text" class="form-control" placeholder="SKU No." name="skuList" />
                                                            </div>
                                                            <div class="col-md-12" style="display: flex; justify-content: center;">
                                                                <a href="javascript:void(0)" class="btn btn-info btn-sm" style="border-radius: 50%;" onclick="AddType(1)">+</a>
                                                            </div>
                                                            <div class="row typeSection">

                                                            </div>
                                                        </div>
                                                    </div>`);
            $('#AddSpecBtn').attr("disabled", true);
        }
        function removeType(index2) {
            $('.t_' + index2).remove();
        }
        function AddType(index) {
            $('.card_' + index + ' .typeSection').append(`<div class="col-md-6 t_${j}">
                                                                                <input type="text" class="form-control"  placeholder="Variation Type" name="specificationCategoryname" />
                                                                                </div>
                                                                                <div class="col-md-6 t_${j}">
                                                                                    <div class="input-group mb-3">
                                                                                      <input class="form-control" type="text" placeholder="Value" name="CategoryValue" />
                                                                                      <div class="input-group-append">
                                                                                        <button class="btn btn-outline-secondary btn-sm" type="button" onclick="removeType(${j})">x</button>
                                                                                      </div>
                                                                                    </div>
                                                                                </div>`);
            j++;
        }
        function removeCard(index) {
            $('.card_' + index).remove();
        }

        function addNewCard() {
            $('#outer-box').append(`<div class="card card_${i + 1} mb-2 col-md-4">
                                                            <a href="javascript:void(0)" style="width: 30px; position: absolute; right: 5px; top: 5px;" class="addNewCard btn btn-info btn-sm" onclick="addNewCard()">+</a>
                                                            <a href="javascript:void(0)" style="width: 30px; position: absolute; right: 5px; top: 40px;" class="RemoveCard btn btn-success btn-sm" onclick="removeCard(${i + 1})">-</a>
                                                            <a href="javascript:void(0)" onclick="uploadImage(${i + 1})" style="display: flex; margin-top: 20px;">
                                                                <img src="/SKUImages/${value.FileName}" id="imgsmall${i + 1}" width="100" height="100" style="border-radius: 50%; margin: 0 auto;">
                                                            </a>
                                                            <input type="file" name="skuPhotes" style="display: none;" id="my_file${i + 1}" onchange="imageChange(this, ${i + 1})">
                                                            <div class="card-body row">
                                                                <div class="col-md-12">

                                                                    <input type="text" class="form-control" placeholder="Specification name" name="itemSpecificationName" />
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <input type="text" class="form-control" placeholder="SKU No." name="skuList" />
                                                                </div>
                                                                <div class="col-md-12" style="display: flex; justify-content: center;">
                                                                    <a href="javascript:void(0)" class="btn btn-info btn-sm" style="border-radius: 50%;" onclick="AddType(${i + 1})">+</a>
                                                                </div>
                                                                <div class="row typeSection">

                                                            </div>
                                                        </div>`)
            i++;
        }

        $('.addTypeBtn').click(function () {
            //alert("ok")
            console.log($(this).parent().parent().parent().parent().find('.type-outer-box').html());
            $(this).parent().parent().parent().parent().parent().parent().find('.type-outer-box').append(`<div class="col-md-6">
                                                                    <input type="text" class="form-control" name="variationType" />
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="input-group mb-3">
                                                                        <input class="form-control" type="text" name="typeValue" />
                                                                        <div class="input-group-append">
                                                                            <button class="btn btn-outline-secondary btn-sm" onclick="addModeTypeBtn()" type="button" title="Add Variation Type">+</button>
                                                                        </div>
                                                                    </div>
                                                                </div>`);
        })


        function uploadImage(id) {
            $("input[id='my_file" + id + "']").click();
        }
        function imageChange(e, id) {
            console.log(e);
            readImgURL(e, id);
        }
        function sleep(milliseconds) {
            const date = Date.now();
            let currentDate = null;
            do {
                currentDate = Date.now();
            } while (currentDate - date < milliseconds);
        }
        function readImgURL(input, id) {
            sleep(200);
            if (input.files && input.files[0]) {
                var filerdr = new FileReader();
                filerdr.onload = function (e) {
                    $('#imgsmall' + id).attr('src', e.target.result);
                }
                filerdr.readAsDataURL(input.files[0]);
            }
        }


        function uploadImage1() {
            $("#imagePath").click();
        }

        function imageChange1(e) {
            console.log(e);
            readImageUrl1(e);
        }
        function readImageUrl1(input) {
            // console.log(input.files)
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (ev) {
                    // console.log("ok: " + ev.target.result);
                    $('#img1').attr('src', ev.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }




        //Parent child parent child load

        function parentFun() {
            $("#parent_list_div_id").show();
        }

        var lastClicked = 0;
        var lastChild = 0;
        var col = 2;
        var spanTag = 1;
        var searchId = 2;
        function viewSubParent(id, colClicked, lastNode) {
            console.log('ok2')
            console.log(id + ' ' + colClicked + ' ' + lastNode)
            //alert(id);
            //alert(colClicked);

            $(".caregory_block_col_cls").each(function () {

                var id = this.id;
                var test = id.split("_");
                var index = test[test.length - 1];
                console.log('index = ' + index);
                console.log('colClicked = ' + colClicked);
                if (index > colClicked) {

                    $("#categoryBlockColId_" + index).remove();
                }

            });

            for (var i = 0; i <= spanTag; i++) {

                if (colClicked <= i) {
                    $("#currentLocationId_" + i).remove();
                }
            }

            $("#select_parent_label_id").text($("#label_id_" + id).text());
            if (lastClicked == id) {

                return false;
            }
            else if (lastNode == 0) {

                lastClicked = id;
                lastChild = 1;
                var locationText = $("#label_id_" + id).text();
                $("#current_location_id").append('<span id="currentLocationId_' + spanTag + '" style="color: #1e90ff">' + locationText + '</span>');
                $("#parentId").val(id);
                $(".category_cls_" + colClicked).css('border-left', '5px solid silver');
                $("#label_id_" + id).css('border-left', '5px solid red');

            } else if (lastNode == null) {

                lastClicked = id;
                $("#parentId").val(id);
                $(".category_cls_" + colClicked).css('border-left', '5px solid silver');
                $("#label_id_" + id).css('border-left', '5px solid red');
                var locationText = $("#label_id_" + id).text() + '> ';
                $("#current_location_id").append('<span id="currentLocationId_' + spanTag + '" style="color: #1e90ff">' + locationText + '</span>');

            }

            if (lastNode == null) {

                $.ajax({
                    url: "/SCMMasterData/Item/GetItemCategoryByParentId/" + id,
                    type: "get",
                    success: function (res) {
                        console.log("ok");
                        console.log(res);
                        if (res != null) {

                            if (res.length > 0) {

                                $("#category_block_row_id").append('<div class="caregory_block_col_cls" id="categoryBlockColId_' + col + '" style="width:252px; height:320px; overflow:auto; padding-left: 10px; border: 1px solid lightgray; padding-right: 10px; padding-top: 12px;"> <div><input type="text" id="filter_category_id_' + searchId + '" onkeyup="filterCategoryFun(' + searchId + ')" class="form-control" placeholder="name" style="width: 230px; margin-bottom: 10px;"></div></div>');

                            }
                            $.each(res, function (i, e) {
                                //alert(e.countChild);
                                //alert(e.Id)

                                if (e.countChild > 0) {

                                    $("#categoryBlockColId_" + col).append('<label class="btn category_common_cls category_cls_' + searchId + '" id="label_id_' + e.Id + '" href="#" onclick="viewSubParent(' + e.Id + "," + col + ')" style="border-radius: 0; border-left: 5px solid silver; text-align: left; width: 230px; background: #E9EBEC; margin-top: -7px;color:gray">' + e.categoryName + '&nbsp;<span><img src="/images/arrow.png" style="height: 12px; width: 12px; float: right;margin-top: 6px;"/></span></label>');
                                }
                                else {

                                    $("#categoryBlockColId_" + col).append('<label class="btn category_common_cls category_cls_' + searchId + '" id="label_id_' + e.Id + '" href="#" onclick="viewSubParent(' + e.Id + "," + col + ')" style="border-radius: 0; border-left: 5px solid silver; text-align: left; width: 230px; background: #E9EBEC; margin-top: -7px;color:gray">' + e.categoryName + '&nbsp;</label>');
                                    //$("#categoryBlockColId_" + col).append('<label class="btn category_common_cls category_cls_' + searchId + '" id="label_id_' + e.Id + '" href="#" onclick="viewSubParent(' + e.Id + "," + col + "," + 0 + ')" style="border-radius: 0; border-left: 5px solid silver; text-align: left; width: 230px; background: #E9EBEC; margin-top: -7px;color:gray">' + e.categoryName + '&nbsp;</label>');
                                }

                            });

                            col++;
                            spanTag++;
                            searchId++;
                        }
                    }
                });
            }

        }

        function filterCategoryFun(searchId) {

            console.log(searchId);
            var value = $('#filter_category_id_' + searchId).val().toLowerCase();
            $(".category_cls_" + searchId).filter(function () {
                $(this).toggle($(this).html().toLowerCase().indexOf(value) > -1);
            });
        }

        function confirmFun() {
            //alert("ok")
            var cat = $("#current_location_id").text();
            $("#select_parent_label_id").text($("#current_location_id").text());
            $("#select_parent_label_id1").val(cat.substring(19, cat.length - 4));
            $("#parent_list_div_id").hide();
        }
        function clearFun() {
            location.reload();
        }
        function cancelFun() {
            $('#parent_list_div_id').hide();
        }




        function ajaxFunction(response) {
            
            $('#divLoad').hide();

            var option = "";
            var option1 = "";
            $.each(response, function (i, item) {
                //console.log(item.itemSpecification.Item.itemType.itemTypeName)
                var itemTypeName = '';
                var categoryName = '';
                var filename = '';
				var unit = '';
				var sku = '';
                var unitId = 0;
                var sKUNumber = 0;
                var reOrderLevel = 0;
                if (item.itemSpecification.SKUNumber == null) {
                    sKUNumber = '';
                }
                else {
                    sKUNumber = item.itemSpecification.SKUNumber
                }
                if (item.itemSpecification.Item.itemType == null) {
                    itemTypeName = '';
                }
                else {
                    itemTypeName = item.itemSpecification.Item.itemType.itemTypeName
                }
                if (item.itemSpecification.Item.parent == null) {
                    categoryName = '';
                }
                else {
                    categoryName = item.itemSpecification.Item.parent.categoryName
                }
                if (item.itemSpecification.Item.fileName == null || item.itemSpecification.Item.fileName == '') {
                    filename = "Default.png"
                }
                else {
                    filename = item.itemSpecification.Item.fileName;
                }
                if (item.itemSpecification.Item.unit == null || item.itemSpecification.Item.unit == '') {
                    unit = ''
                }
                else {
                    unit = item.itemSpecification.Item ?.unit ?.unitName;
                }
                if (item.itemSpecification.Item.unit == null || item.itemSpecification.Item.unit == '') {
                    unitId = 0
                }
                else {
                    unitId = item.itemSpecification.Item ?.unit ?.Id;
                }
                if (item.itemSpecification.Item ?.reOrderLevel == null || item.itemSpecification.Item ?.reOrderLevel == '') {
                    reOrderLevel = 0
                }
                else {
                    reOrderLevel = item.itemSpecification.Item ?.reOrderLevel;
				}
				if (item.itemSpecification.SKUNumber == null || item.itemSpecification.SKUNumber == '') {
					sku = ''
				}
				else {
					sku = item.itemSpecification.SKUNumber;
				}
                option += `<tr>
                                            <td>${i + 1}</td>
                                            <td>${item.itemSpecification.Item ?.itemType ?.itemTypeName}</td>
                                            <td>${item.itemSpecification.Item ?.parent ?.categoryName}</td>
                                            <td>${item.fullparent}</td>
                                            <td>${sku}</td>
                                            <td>${item.itemSpecification.specificationName}</td>
                                            <td><a class="btn btn-success" id="editbutton" title='Edit' onclick="Edit(${item.itemSpecification.Item.Id}, '${item.itemSpecification.Item.itemCode}','${item.itemSpecification.SKUNumber}','${item.itemSpecification.specificationName}', ${item.itemSpecification.Item.Id}, '${item.itemSpecification.Item.itemName}', '${item.itemSpecification.Item.itemDescription}', ${item.itemSpecification.Item ?.parent ?.Id}, '${item.itemSpecification.Item ?.parent ?.categoryName}', ${reOrderLevel}, ${unitId}, ${item.itemSpecification.Item.itemTypeId}, ${item.itemSpecification.Id}, '${item.fullparent}','${item.itemSpecification?.ledger?.Id}','${item.itemSpecification?.ledger?.accountName}')" href="javascript:void(0)"><i class="fa fa-edit"></i></a></td>
                                        </tr>`
                option1 += `<div class="col-md-3 mb-1 searchdiv" style="padding-bottom: 20px;">
                            
                              <div class="card c" style="font-size: 16px;">
                                 <div  class="card-body cb text-center">
                                  <div>
                                     </div>
                                       <div>
                                         <strong>Type:</strong> </br>
                                         ${item.itemSpecification.Item ?.itemType ?.itemTypeName}</br></br>
                                           <strong>Category :</strong> </br>
                                         ${item.itemSpecification.Item ?.parent ?.categoryName} </br></br>
                                            <strong>Full Category :</strong> </br>
											${item.fullparent} </br></br>
                                          <strong>Code :</strong> </br>
                                          ${sKUNumber}</br></br>
                                            <strong>Name :</strong> </br>
											${item.itemSpecification.specificationName}</br>
                                             
                                          </div>
                                     </div>
                                     <div class="card-footer cf text-center font-weight-bold">
                                     <a class="btn btn-success" id="editbutton" title='Edit' onclick="Edit(${item.itemSpecification.Item.Id}, '${item.itemSpecification.Item.itemCode}','${item.itemSpecification.SKUNumber}','${item.itemSpecification.specificationName}', ${item.itemSpecification.Item.Id}, '${item.itemSpecification.Item.itemName}', '${item.itemSpecification.Item.itemDescription}', ${item.itemSpecification.Item ?.parent ?.Id}, '${item.itemSpecification.Item ?.parent ?.categoryName}', ${reOrderLevel}, ${unitId}, ${item.itemSpecification.Item.itemTypeId}, ${item.itemSpecification.Id}, '${item.fullparent}','${item.itemSpecification ?.ledger ?.Id}','${item.itemSpecification ?.ledger ?.accountName}')" href="javascript:void(0)"><i class="fa fa-edit"></i></a>                                     </div>
                                 </div>
                          </div>`
            });
            $('#AllItemLists tbody').empty();
            $('#AllItemLists tbody').append(option);
            //$('#AllItemLists').DataTable({
            //	dom: 'Bfrtip',
            //	"pageLength": 50,

            //	buttons: [{
            //		extend: 'excel',
            //		text: '<i class="fas fa-file-excel"></i> Export to Excel',
            //		titleAttr: 'Click to Export',
            //		//title: 'Click to Export',
            //		exportOptions: {
            //			columns: ':not(:last-child)'
            //		}
            //	},
            //	{
            //		extend: 'pdf',
            //		text: '<i class="fas fa-file-pdf"></i> Export to Pdf',
            //		titleAttr: 'Click to Export',
            //		title: "Stock Alert",
            //		customize: function (doc) {
            //			doc.content[1].table.widths = [50, 150, 180, 50, 50];
            //			doc['styles'] = {
            //				userTable: {
            //					margin: [0, 15, 0, 15]
            //				},
            //				tableHeader: {
            //					bold: !0,
            //					fontSize: 11,
            //					color: 'black',
            //					fillColor: '#F0F8FF',
            //					alignment: 'middle',
            //				}
            //			};
            //		}
            //	}]
            //});

            $('#AllItemGrid').empty();
            //$('#AllItemGrid').append(`<input class="form-control" type="text" id="myInput" placeholder="Type to search..." />`);
            $('#AllItemGrid').append(option1);
        }
        function AddImpact() {
            var id = 0;
            var count = 0;
            $('#programflow').find('input[name="skuspec"]').each(function () {
                count += 1
                //alert(count);
                $('#Lg' + count + '').prop("disabled", true);
                $('#Lg' + count + '').prop("text-align", "justify");
            });
            id = count + 1;
            skuid = id;
            $('#programflow').append('<div id="Impact' + id + '" class="col-sm-6 row"><div class="col-sm-10 row"><input type="text" style="width:50%" class="form-control"   id="Lgspec' + id + '" name="skuspec"  value=""/><input type="text" style="width:30%" class="form-control"   id="Lgsku' + id + '"  value=""/>' + '<a href="javascript:void(0)" style="width:20%" onclick="uploadimage(' + id + ')" onclick="uploadimage(' + id + ')><img style="width:50px" id="imgsmall' + id + '" src="../../SKUImages/Default.png"></a><input type="file" id="my_file' + id + '" name="skuPhotes" onchange="imagechange(this, ' + id + ')" style="display: none;" />' + '</div><div class="col-sm-2 row"><a  class="ml-1 mr-2" href="javascript:void(0)"><span style="width:30%" class="crossButton" onclick="Deletesku(' + "'" + id + "'" + ')"><i class="fas fa-minus"></i></span></a><a style="width:30%" class="" href="javascript:void(0)"><span style="width:50%" class="crossButton" onclick="AddOutCome(' + id + ')"><i class="fas fa-plus"></i></span></a></div></div><div id="outcome' + id + '" class="col-sm-6 row"></div><br id="br' + id + '"/><hr id="hr' + id + '" class="col-sm-12"  />');
            getskuno(count);
            //$('#cardhead').show();
        }
        function getskuno(Id) {
            var itemid = $("#itemId").val();
            if (itemid == "") {
                itemid = 0;
            }
            if (Id <= 0) {
                Id = 0;
            }
            Common.Ajax('GET', '/SCMMasterData/Item/getitemspecno/?Id=' + Id + '&&itemId=' + itemid, [], 'json', ajaxskuno, false);
        }
        function ajaxskuno(response) {
            //$('#sku'+).val(response);
            var numTypeId = $('#NumType').val();
            if (numTypeId == 3) {
                $('#Lgsku' + skuid).val(response).removeAttr('disabled');
            } else {
                $('#Lgsku' + skuid).val(response);
            }

        }
        function GetSpecByItemId(id) {
            Common.Ajax('GET', '/SCMMasterData/Item/GetSpecDetailsByItemId?id=' + id, [], 'json', ajaxFunction1, false);
            $('#exampleModalLong').modal('show');
        }
        function ajaxFunction1(response) {
            var option = "";
            $.each(response, function (i, item) {
                console.log(item)
                option += `<tr>
                                                    <td>${i + 1}</td>
                                                    <td>${item.SKUNumber}</td>
                                                    <td>${item.specificationName}</td>
                                                    <td>
                                                        <a class="btn btn-success" id="editbutton1" title='Edit'  onclick="EditSpec(${item ?.Id},'${item ?.SKUNumber}','${item ?.specificationName}')" href="javascript:void(0)"><i class="fa fa-edit"></i></a>
                                                    </td>
                                                </tr>`
            });
            $('#specTable tbody').empty();
            $('#specTable tbody').append(option);
        }
        $('.fa-list-alt').click(function () {
            $('#ListView').show();
            $('#GridView').hide();
            $('.fa-list-alt').addClass('active');
            $('.fa-th').removeClass('active');
        })
        $('.fa-th').click(function () {
            $('#ListView').hide();
            $('#GridView').show();
            $('.fa-th').addClass('active');
            $('.fa-list-alt').removeClass('active');
        })
        function Remove(Id) {
            chk = confirm('Do you want to delete this?');
            if (chk) {
                location.replace("/SCMMasterData/Item/DeleteItem/" + Id);
            } else {
                return false;
            }
        }
		function Edit(itemId, itemCode, SKUNumber, specName, itemId, itemName, itemDescription, parentId, categoryName, reorderLevel, unitId, ItemTypeId, specId, fullparent,ledgerId,accName) {
            Common.Ajax('GET', '/SCMMasterData/ItemCategory/getParentCategories?Id=' + parentId, [], 'json', ajaxSup1, false);
            Common.Ajax('GET', '/api/global/getLedersForParticular/' + 2, [], 'json', GetLedgerForParticular);
            $('#itemSpecificationIdEdit').val(specId);
			$('#itemSpecificationCodeEdit').val(itemCode);
            $('#itemNameEdit').val(specName);
            $('#itemIdEdit').val(itemId);
            $('#itemDescriptionEdit').val(itemDescription);
            $('#reOrderLevelEdit').val(reorderLevel);
            $('#parentIdEdit').val(parentId);
            //$('#select_parent_label_id10').val(fullparent);
            $('#select_parent_label_id1').val(categoryName);
            $('#unitIdEdit').val(unitId);
            $('#itemTypeId').val(ItemTypeId);
            $('#exampleModalLong2').modal('show');
            var fileName = 'phoca-gallery-r.png';

            $('#user_img').attr('src', '/../../ItemImages/' + fileName);

            if (accName != 'undefined') {
                $('#particular').val(accName);
            }
            if (ledgerId != 'undefined') {
                $("#particularId").val(ledgerId);
            }
            

            Common.Ajax('GET', '/SCMMasterData/Item/getspeccat/' + parentId, [], 'json', ajaxSup, false);
            //$("#itemTypeId").val(itemTypeId);
            Common.Ajax('GET', '/SCMMasterData/Item/GetAllSpecificationDetailByitemId/?itemId=' + $("#itemId").val(), [], 'json', ajaxGetAllSpecificationDetailByitemId);
            Common.Ajax('GET', '/SCMMasterData/Item/GetAllSpecificationDetailByitemIdp/?itemId=' + $("#itemId").val(), [], 'json', ajaxGetAllSpecificationDetailByitemIdP);
            //Common.Ajax('GET', '/global/api/ItemSpec/' + Id, [], 'json', GetSpecName);
            // Common.Ajax('GET', '/global/api/CatParent/' + parentId, [], 'json', GetItemName);
            $('#exampleModalLong2').modal('show');

        }
        //function EditItem(id) {
        //    Common.Ajax('GET', '/SCMMasterData/Item/GetAllItemWithSpecifications/=' + id, [], 'json', ajaxMethod1);
        //}
        //function ajaxMethod1() {

        //}
        function EditSpec(Id, Sku, name) {
            $('#specId1').val(Id);
            $('#skuNumber1').val(Sku);
            $('#SpecName1').val(name);
            $('#specEditName').text(name);
            $('#exampleModalLong3').modal('show');
            $('#exampleModalLong').modal('hide');

        }

        function ajaxSup1(response) {
            console.log(response);
            $('#select_parent_label_id10').val(response);
        }
        function AddOutCome(id) {
            var ids = 0;
            var count = 0;
            $('#outcome' + id + '').find('input[type="text"]').each(function () {
                count += 1;
                //alert(count);
                //$('#LgIs' + count + '').prop("disabled", true);
            });
            ids = count / 2 + 1;
            speccatid = id + '-' + ids
            var specname = $("#Lgspec" + id).val();
            var specsku = $("#Lgsku" + id).val();
            // var impacttext = $('#Lg' + id + '').val();
            $('#outcome' + id + '').append('<div id="outcomes' + id + '-' + ids + '" class="col-sm-12 row"><div class="col-sm-10 row"><input type="hidden" style="width:100%" class="form-control" name="itemSpecificationName"   id="Lgskuf' + id + '-' + ids + '"  value="' + specname + '"/><input type="hidden" style="width:100%" class="form-control" name="skuList"   id="Lgspecf' + ids + '"  value="' + specsku + '"/><input type="text" style="width:50%" class="form-control" name="specificationCategoryname"  id="Lgskucat' + id + '-' + ids + '"  value=""/><input type="text" style="width:50%" class="form-control" name="CategoryValue"  id="Lgskucatval' + ids + '"  value=""/></div><div class="col-sm-2><span class="spanClass" id="LgId' + ids + '" ><a class="m-1" href="javascript:void(0)"><span class="crossButton" onclick="Deletecat(' + "'" + id + "-" + ids + "'" + ')"><i class="fas fa-minus"></i></span></a></span></div></div>');
            // $('#output' + id + '').append('<div id="outputs' + ids + '" class="col-sm-12 row"></div>');
            var catId = $("#parentId").val();
            Common.Ajax('GET', '/SCMMasterData/Item/getspeccat/' + catId, [], 'json', ajaxSup, false);
        }
        function Deletesku(id) {
            $("#Impact" + id).remove();
            $("#outcome" + id).remove();
            $("#br" + id).remove();
            $("#hr" + id).remove();
        }
        function Deletecat(id) {
            $("#outcomes" + id).remove();
        }
        function RefreshAll() {
            location.reload();
        }
        function ajaxSup(response) {
            var lstLedger = [];
            $.each(response, function (i, option) {
                var obj = new Object();
                obj.key = option.Id;
                // obj.ledgerId = option.ledgerId;
                obj.value = option.specificationCategoryName;
                lstLedger[lstLedger.length] = obj;
            });
            $('#Lgskucat' + speccatid).autocomplete({
                source: lstLedger,
                select: function (event, ui) {
                    $('#Lgskucat' + speccatid).val(ui.item.value);
                }
            });
        }

        function GetLedgerForParticular(response) {
            $('#particular').empty();
            $("#particularId").val('');
            $('#txtHaveSubLedger').val('');
            $('#txtLedgerRelationId').val('');
            $('#txtAccountCode').val('');
            $('#txtnatureId').val(0);
            var lstParticular = [];
            $.each(response, function (i, option) {
                var obj = new Object();
                if (option.natureId == 4 || option.natureId == 2 || option.natureId == 1) {
                    obj.key = option.Id;
                    obj.ledgerId = option.ledgerId;
                    obj.haveSubLedger = option.haveSubLedger;
                    obj.value = option.accountName + ' (' + option.accountCode + ')';
                    obj.accountCode = option.accountCode;
                    obj.natureId = option.natureId;
                    lstParticular[lstParticular.length] = obj;
                }
            });
            $('#particular').autocomplete({
                source: lstParticular,
                select: function (event, ui) {
                    $('#particular').val(ui.item.value);
                    $("#particularId").val(ui.item.ledgerId);
                    $('#txtHaveSubLedger').val(ui.item.haveSubLedger);
                    $('#txtAccountCode').val(ui.item.accountCode);
                    $('#txtnatureId').val(ui.item.natureId);
                    let ledgerId = ui.item.ledgerId;
                    //Common.Ajax('GET', '/api/global/getOpenBalanceById/' + ui.item.key, [], 'json', GetLedgerBalance);
                    if (ui.item.haveSubLedger == 1) {
                        $('.haveSubledger').show();
                        //Common.Ajax('GET', '/api/global/getSubLedersByLedgerId/' + ledgerId, [], 'json', GetSubLedgerByLedgerId);
                    } else {
                        $('#txtLedgerRelationId').val(ui.item.key);
                        $('.haveSubledger').hide();
                    }
                }
            });
        }

        function ajaxGetAllSpecificationDetailByitemId(response) {
            console.log("ok");
            console.log(response);
            $('#programflow').empty();
            var skuShow = "";
            var id = 0;
            var count = 0;
            $.each(response, function (key, value) {
                //console.log(value.FileName);
                console.log(value);
                $('#outer-box').empty();
                $('#outer-box').append(`<div class="card card_1 mb-2 col-md-4">
                                                    <a href="javascript:void(0)" style="width: 30px; position: absolute; right: 5px; top: 5px;" class="addNewCard btn btn-info btn-sm" onclick="addNewCard()">+</a>
                                                    <a href="javascript:void(0)" style="width: 30px; position: absolute; right: 5px; top: 40px;" class="RemoveCard btn btn-success btn-sm" onclick="removeCard(1)">-</a>
                                                    <a href="javascript:void(0)" onclick="uploadImage(${i})" style="display: flex; margin-top: 20px;">
                                                        <img src="/SKUImages/${value.FileName}" id="imgsmall1" width="100" height="100" style="border-radius: 50%; margin: 0 auto;">
                                                    </a>
                                                    <input type="file" name="skuPhotes" style="display: none;" id="my_file1" onchange="imageChange(this, 1)">
                                                    <div class="card-body row">
                                                        <div class="col-md-12">

                                                        <input type="text" class="form-control"  placeholder="Specification name" name="itemSpecificationName" value="${value.specificationName}" />
                                                        </div>
                                                        <div class="col-md-12">
                                                            <input type="text" class="form-control" placeholder="SKU No." name="skuList" value="${value.SKUNumber}" />
                                                        </div>
                                                        <div class="col-md-12" style="display: flex; justify-content: center;">
                                                            <a href="javascript:void(0)" class="btn btn-info btn-sm" style="border-radius: 50%;" onclick="AddType(1)">+</a>
                                                        </div>
                                                        <div class="row typeSection">

                                                        </div>
                                                    </div>
                                                </div>`);

                var itemSpecificationName = value.specificationName;
                var itemSpecificationFileName = value.FileName;
                if (itemSpecificationFileName == null || itemSpecificationFileName == '') {
                    itemSpecificationFileName = 'Default.png'
                }
                var itemSpecificationNameShow = value.specificationName;
                var sku = value.SKUNumber;
                if (sku != skuShow) {
                    $('#programflow').find('input[name="skuspec"]').each(function () {
                        count = count + 1;
                        $('#Lg' + count + '').prop("disabled", true);
                        $('#Lg' + count + '').prop("text-align", "justify");
                    });

                    id = count + 1;
                    skuid = id;
                    $('#programflow').append('<div id="Impact' + id + '" class="col-sm-6 row"><div class="col-sm-10 row"><input type="text" style="width:50%" class="form-control"   id="Lgspec' + id + '" name="skuspec" onkeyup="myFunction(' + id + ')"  value="' + itemSpecificationName + '"/><input type="text" style="width:30%; background-color: antiquewhite" class="form-control" id="Lgsku' + id + '"  value="' + sku + '"/><a><img width="50px" src="../../SKUImages/' + itemSpecificationFileName + '" id="Lgskuw' + id + '" onclick="uploadimage(' + id + ')></a></div><div class="col-sm-2 row"><a  class="ml-1 mr-2" href="javascript:void(0)"><span style="width:30%" class="crossButton" onclick="Deletesku(' + "'" + id + "'" + ')"><i class="fas fa-minus"></i></span></a><a style="width:30%" class="" href="javascript:void(0)"><span style="width:50%" class="crossButton" onclick="AddOutCome(' + id + ')"><i class="fas fa-plus"></i></span></a></div></div><div id="outcome' + id + '" class="col-sm-6 row"></div><br id="br' + id + '"/><hr id="hr' + id + '" class="col-sm-12" />');
                    skuShow = value.SKUNumber;
                }
                count = 0;
                var ids = 0;
                var counts = 0;
                $('#outcome' + id + '').find('input[type="text"]').each(function () {
                    counts += 1;
                });
                ids = counts / 2 + 1;
                speccatid = id + '-' + ids
                var specname = $("#Lgspec" + id).val();
                var specsku = $("#Lgsku" + id).val();

                //$('#outcome' + id + '').append('<div id="outcomes' + id + '-' + ids + '" class="col-sm-12 row"><div class="col-sm-10 row"><input type="hidden" style="width:100%" class="form-control" name="itemSpecificationName"   id="Lgskuf' + id + '-' + ids + '"  value="' + specname + '"/><input type="hidden" style="width:100%" class="form-control" name="skuList"   id="Lgspecf' + ids + '"  value="' + specsku + '"/><input type="text" style="width:50%" class="form-control" name="specificationCategoryname"  id="Lgskucat' + id + '-' + ids + '"  value="' + value.specificationCategoryName + '"/><input type="text" style="width:50%" class="form-control" name="CategoryValue"  id="Lgskucatval' + ids + '"  value="' + value.value + '"/></div><div class="col-sm-2><span class="spanClass" id="LgId' + ids + '" ><a class="m-1" href="javascript:void(0)"><span class="crossButton" onclick="Deletecat(' + "'" + id + "-" + ids + "'" + ')"><i class="fas fa-minus"></i></span></a></span></div></div>');
                var catId = $("#parentId").val();
                Common.Ajax('GET', '/SCMMasterData/Item/getspeccat/' + catId, [], 'json', ajaxSup, false);
            })
        }

        function myFunction(id) {
            var count = 0;
            var text = $("#Lgspec" + id).val();
            $('#outcome' + id + '').find('input[type="hidden"]').each(function () {
                count += 1
                $("#Lgskuf" + id + '-' + count).val(text);
            });
        }
        function uploadimage(id) {
            console.log("my_file" + id);
            //alert("image");
            $("input[id='my_file" + id + "']").click();
        };
        function ajaxGetAllSpecificationDetailByitemIdP(response) {
            //console.log(response);
            var ifExistIndex = window.localStorage.getItem("holdIndex");
            var index = "0";
            if (ifExistIndex == "null" || ifExistIndex == null) {
                index = $("#tblitemDetailsP tbody>tr").length;
            }
            else {
                index = ifExistIndex;
                tdRID = $("#tblitemDetailsP tbody >tr:eq(" + ifExistIndex + ") td:eq(0) .clsspecificationCategoryId").val();
            }
            $("#tblitemDetailsP tbody>tr").empty();
            var trHtml = "";
            var trHtml1 = "";
            var trHtml2 = "";
            var trHtml3 = "";
            var trHtml4 = "";
            var ItemId = 0;
            var ItemSpecId = 0;
            var i = 1;
            $.each(response, function (key, value) {
                //var itemSpecificationName = value.specificationName;
                //var itemSpecificationNameShow = value.specificationName;
                //var sku = value.SKUNumber;
                //var skuShow = value.SKUNumber;
                var RowCount = $("#tblitemDetailsP tbody>tr").length;
                index = $("#tblitemDetailsP tbody>tr").length;
                var dtTable = $("#tblitemDetailsP");
                var tableBody = dtTable.find('tbody');
                if (ItemId != value.itemSpecification.itemId) {
                    var jj = 0;
                    $.each(response, function (jj, ff) {
                        if (ff.itemSpecification.itemId == value.itemSpecification.itemId) {
                            jj += 1;
                        }
                    });
                    trHtml1 = '<tr><td rowspan="' + jj + '" style="vertical-align : middle;text-align:center;">' + value ?.itemSpecification ?.Item ?.itemCode + '</td>' +
                        '<td rowspan="' + jj + '" style="vertical-align : middle;text-align:center;">' + value ?.itemSpecification ?.Item ?.itemName + '</td>' +
                            '<td rowspan="' + jj + '" style="vertical-align : middle;text-align:center;">' + value ?.itemSpecification ?.Item ?.parent ?.categoryName + '</td>';

                    if (ItemSpecId != value.itemSpecificationId) {
                        var jjj = 0;

                        $.each(response, function (js, fs) {
                            if (fs.itemSpecificationId == value.itemSpecificationId) {
                                jjj += 1;
                            }
                        });
                        trHtml2 = '<td rowspan ="' + jjj + '" style = "vertical-align : middle;text-align:center;">' + value ?.itemSpecification ?.SKUNumber + '</td > ' +
                            '<td rowspan="' + jjj + '" style="vertical-align : middle;text-align:center;">' + value ?.itemSpecification ?.specificationName + '</td>' +
                                '<td>' + value ?.specificationCategory ?.specificationCategoryName + '-' + value ?.value + '</td>';
                    }
                    else {
                        trHtml2 = '<td>' + value ?.specificationCategory ?.specificationCategoryName + '-' + value ?.value + '</td>';
                    }
                    trHtml3 = '</tr>';
                }
                else {
                    trHtml1 = '<tr>';
                    if (ItemSpecId != value.itemSpecificationId) {
                        var jjj = 0;
                        $.each(response, function (js, fs) {
                            if (fs.itemSpecificationId == value.itemSpecificationId) {
                                jjj += 1;
                            }
                        });
                        trHtml2 = '<td rowspan ="' + jjj + '" style = "vertical-align : middle;text-align:center;">' + value ?.itemSpecification ?.SKUNumber + '</td > ' +
                            '<td rowspan="' + jjj + '" style="vertical-align : middle;text-align:center;">' + value ?.itemSpecification ?.specificationName + '</td>' +
                                '<td>' + value ?.specificationCategory ?.specificationCategoryName + '-' + value ?.value + '</td>';
                    }
                    else {
                        trHtml2 = '<td>' + value ?.specificationCategory ?.specificationCategoryName + '-' + value ?.value + '</td>';
                    }
                    trHtml3 = '</tr>';
                }
                ItemId = value.itemSpecification.itemId;
                ItemSpecId = value.itemSpecificationId;
                tableBody.append(trHtml1 + trHtml2 + trHtml3);
            })
            index = index + 1;
        }





        //Parent child parent child load

        function parentFun() {

            $("#parent_list_div_id").show();
        }

        var lastClicked = 0;
        var lastChild = 0;
        var col = 2;
        var spanTag = 1;
        var searchId = 2;
        function viewSubParent(id, colClicked, lastNode) {
            console.log('ok2')
            console.log(id + ' ' + colClicked + ' ' + lastNode)
            //alert(id);
            //alert(colClicked);
            $('#parentIdEdit').val(id);

            $(".caregory_block_col_cls").each(function () {

                var id = this.id;
                var test = id.split("_");
                var index = test[test.length - 1];
                console.log('index = ' + index);
                console.log('colClicked = ' + colClicked);
                if (index > colClicked) {

                    $("#categoryBlockColId_" + index).remove();
                }

            });

            for (var i = 0; i <= spanTag; i++) {

                if (colClicked <= i) {
                    $("#currentLocationId_" + i).remove();
                }
            }

            $("#select_parent_label_id").text($("#label_id_" + id).text());
            if (lastClicked == id) {

                return false;
            }
            else if (lastNode == 0) {

                lastClicked = id;
                lastChild = 1;
                var locationText = $("#label_id_" + id).text();
                $("#current_location_id").append('<span id="currentLocationId_' + spanTag + '" style="color: #1e90ff">' + locationText + '</span>');
                $("#parentId").val(id);
                $(".category_cls_" + colClicked).css('border-left', '5px solid silver');
                $("#label_id_" + id).css('border-left', '5px solid red');

            } else if (lastNode == null) {

                lastClicked = id;
                $("#parentId").val(id);
                $(".category_cls_" + colClicked).css('border-left', '5px solid silver');
                $("#label_id_" + id).css('border-left', '5px solid red');
                var locationText = $("#label_id_" + id).text() + '> ';
                $("#current_location_id").append('<span id="currentLocationId_' + spanTag + '" style="color: #1e90ff">' + locationText + '</span>');

            }

            if (lastNode == null) {

                $.ajax({
                    url: "/SCMMasterData/Item/GetItemCategoryByParentId/" + id,
                    type: "get",
                    success: function (res) {
                        console.log("ok");
                        console.log(res);
                        if (res != null) {

                            if (res.length > 0) {

                                $("#category_block_row_id").append('<div class="caregory_block_col_cls" id="categoryBlockColId_' + col + '" style="width:252px; height:320px; overflow:auto; padding-left: 10px; border: 1px solid lightgray; padding-right: 10px; padding-top: 12px;"> <div><input type="text" id="filter_category_id_' + searchId + '" onkeyup="filterCategoryFun(' + searchId + ')" class="form-control" placeholder="name" style="width: 230px; margin-bottom: 10px;"></div></div>');

                            }
                            $.each(res, function (i, e) {
                                //alert(e.countChild);
                                //alert(e.Id)

                                if (e.countChild > 0) {

                                    $("#categoryBlockColId_" + col).append('<label class="btn category_common_cls category_cls_' + searchId + '" id="label_id_' + e.Id + '" href="#" onclick="viewSubParent(' + e.Id + "," + col + ')" style="border-radius: 0; border-left: 5px solid silver; text-align: left; width: 230px; background: #E9EBEC; margin-top: -7px;color:gray">' + e.categoryName + '&nbsp;<span><img src="/images/arrow.png" style="height: 12px; width: 12px; float: right;margin-top: 6px;"/></span></label>');
                                }
                                else {

                                    $("#categoryBlockColId_" + col).append('<label class="btn category_common_cls category_cls_' + searchId + '" id="label_id_' + e.Id + '" href="#" onclick="viewSubParent(' + e.Id + "," + col + ')" style="border-radius: 0; border-left: 5px solid silver; text-align: left; width: 230px; background: #E9EBEC; margin-top: -7px;color:gray">' + e.categoryName + '&nbsp;</label>');
                                    //$("#categoryBlockColId_" + col).append('<label class="btn category_common_cls category_cls_' + searchId + '" id="label_id_' + e.Id + '" href="#" onclick="viewSubParent(' + e.Id + "," + col + "," + 0 + ')" style="border-radius: 0; border-left: 5px solid silver; text-align: left; width: 230px; background: #E9EBEC; margin-top: -7px;color:gray">' + e.categoryName + '&nbsp;</label>');
                                }

                            });

                            col++;
                            spanTag++;
                            searchId++;
                        }
                    }
                });
            }

        }

        function filterCategoryFun(searchId) {

            console.log(searchId);
            var value = $('#filter_category_id_' + searchId).val().toLowerCase();
            $(".category_cls_" + searchId).filter(function () {
                $(this).toggle($(this).html().toLowerCase().indexOf(value) > -1);
            });
        }

        function confirmFun() {
            var cat = $("#current_location_id").text();
            $("#select_parent_label_id").text($("#current_location_id").text());
            $("#select_parent_label_id1").val(cat.substring(19, cat.length - 4));
            $("#parent_list_div_id").hide();
        }
        function clearFun() {
            location.reload();
        }




    </script>
}
