@model OPUSERP.SCM.Data.Entity.MasterData.ItemSpecification

<div>
    <h4>ItemSpecification</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SKUNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SKUNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.specificationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.specificationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.specImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.specImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isDelete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createdAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createdAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.updatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.updatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createdBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createdBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.updatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.updatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
