@model ApprovalMatrixViewModel
@{
	ViewData["Title"] = "CreateNewApprovalMatrix";
}

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<style>
	.aaa {
		border-radius: 0 !important
	}
</style>
<br />

<div class="col-md-12">
	<form asp-action="CreateNewApprovalMatrix" method="post">
		<div class="card">
			<div class="card-header">
				<div class="row no-gutters">
					<div class="col-md-1">
						<div class=" p-0">
							<h5>Project</h5>
							@if (Model.approvalMatrixForEdit.projectId == 0)
							{
								<input type="hidden" name="matrixId" value="0" />
							}
							else
							{
								<input type="hidden" name="matrixId" value="@Model.approvalMatrixForEdit.projectId" />
							}
						</div>
					</div>
					<div class="col-md-3">
						<select class="form-control" name="nProjectId">
							<option value="" id="mtrxTypeHead">Select Project</option>
							@foreach (var item in Model.projects)
							{
								if (item.Id == Model.approvalMatrixForEdit.projectId)
								{
									<option value="@Model.approvalMatrixForEdit.projectId" selected>@Model.approvalMatrixForEdit.projectName</option>
								}
								else
								{
									<option value="@item.Id">@item.projectName</option>
								}
							}
						</select>
					</div>
					<div class="col-md-1"></div>
					<div class="col-md-2">
						<div class=" p-0">
							<h5>Matrix Type</h5>
						</div>
					</div>
					<div class="col-md-3">
						<select class="form-control" id="matrixTypeId" name="matrixTypeId" required data-parsley-required="true">
							<option value="" id="mtrxTypeHead">Select Matrix Type</option>
							@foreach (var data in Model.matrixTypes)
							{
								if (data.Id == Model.approvalMatrixForEdit?.typeId)
								{
									<option value="@Model.approvalMatrixForEdit.typeId" selected>@Model.approvalMatrixForEdit.typeName</option>
								}
								else
								{
									<option value="@data.Id">@data.matrixTypeName</option>
								}
							}
						</select>
					</div>
					<div class="col-md-1"></div>
					<div class="col-md-1">
						<a href="/SCMMatrix/ApprovalMatrix/NewApprovalMatrix" class="btn btn-success"><i class="fas fa-backward"></i></a>
					</div>
				</div>


			</div>

			<div class="card-body pb-0">
				<div class="row">

					<div class="col-md-2">
						<div class="card aa" style="width:180px!important">
							<div class="pt-2" style="height:220px;text-align:center;">
								<div class="">
									@if (@Model.approvalMatrixForEdit.Raiser?.Photo != null)
									{
										<img data-toggle="modal" data-target="#exampleModal1" class="rounded-circle" src="~/@Model.approvalMatrixForEdit.Raiser?.Photo" width="100" />
										<div class="pt-2" id="result" name="raiserName">@Model.approvalMatrixForEdit.Raiser?.Name</div>
										<input type="hidden" id="nRaiserId" onclick="" name="nRaiserId" value="@Model.approvalMatrixForEdit.Raiser?.id" />
									}
									else
									{
										<img data-toggle="modal" data-target="#exampleModal1" class="rounded-circle" src="~/images/defaultperson.png" width="100" />
										<div class="pt-2" id="result" name="raiserName">@ViewBag.raiserName</div>
										<input type="hidden" id="nRaiserId" onclick="" name="nRaiserId" value="@ViewBag.raiserId" />
									}
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card-body pb-0 mb-0">

				<div class="row no-gutters mb-2">
					@if (Model.approvalMatrixForEdit.Approvars.Count() > 0)
					{
						@foreach (var item in Model.approvalMatrixForEdit.Approvars.OrderBy(x => x.sequence))
						{
							<div class="col-md-2">

								<div class="card cc" style="width:180px!important">
									<div>

										<button id="del2" type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span id="del3" class="btn btn-danger btn-sm aaa" aria-hidden="true">&times;</span>
										</button>
										<button type="button" class="close addF1" data-dismiss="modal" aria-label="Close">
											<span class="add1 btn btn-info btn-sm aaa" aria-hidden="true"><i class="fas fa-plus"></i></span>
										</button>

									</div>
									<div class="pt-3 outer-approve" style="height:220px;text-align:center;" id="a_@item.id" onclick="openModal('@item.id')">
										<div>
											@if (item.Photo != null)
											{
												<img class="rounded-circle imgCls" src="~/@item.Photo" width="100" />
											}
											else
											{
												<img class="rounded-circle imgCls" src="~/EmpImages/b1.png" width="100" />
											}
										</div>
										<p class="pt-2 name result2 nextApproverName" id="result2" name="nextApproverName">@item.Name</p>
										<input type="hidden" class="result23" name="nextApproversId" value="@item.id" />
									</div>
								</div>
							</div>
						}
					}
					else
					{
							<div class="col-md-2">

								<div class="card cc" style="width:180px!important">
									<div>

										<button id="del2" type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span id="del3" class="btn btn-danger btn-sm aaa" aria-hidden="true">&times;</span>
										</button>
										<button type="button" class="close addF1" data-dismiss="modal" aria-label="Close">
											<span class="add1 btn btn-info btn-sm aaa" aria-hidden="true"><i class="fas fa-plus"></i></span>
										</button>

									</div>
									<div class="pt-3 outer-approve" style="height:220px;text-align:center;" id="a1" onclick="openModal('1')">
										<div>
											<img class="rounded-circle imgCls" src="~/EmpImages/b1.png" width="100" />
										</div>
										<p class="pt-2 name result2 nextApproverName" id="result2" name="nextApproverName">Next Approver</p>
										<input type="hidden" class="result23" name="nextApproversId" value="" />
									</div>
								</div>
							</div>
					}

				</div>
			</div>`

			<div class="card-body pt-0 mt-0">
				<div class="row">
					<div class="col-md-2 mt-0 pt-0">
						<div class="card cc" style="width:180px!important">
							<div class="pt-3" style="height:220px;text-align:center;">
								<div class="">
									@if (Model.approvalMatrixForEdit.FinalApprovar.Photo != null)
									{
										<img data-toggle="modal" data-target="#exampleModal3" class="rounded-circle" src="~/@Model.approvalMatrixForEdit.FinalApprovar.Photo" width="100" />
									}
									else
									{
										<img data-toggle="modal" data-target="#exampleModal3" class="rounded-circle" src="~/EmpImages/b2.png" width="100" />
									}
								</div>
								<p class="pt-2" id="result3" name="finalApproverName">@Model.approvalMatrixForEdit.FinalApprovar.Name</p>
								<input type="hidden" id="nFinalId" name="nFinalId" value="@Model.approvalMatrixForEdit.FinalApprovar.id" />
							</div>
						</div>
					</div>
					<div class="col-md-10" style="margin-left:inherit">

						<div class="row">
							<div class="col-2">
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="mt-3 mb-3 mr-4">
				<input type="submit" name="submit" class="btn btn-info btn-sm float-right" value="Save" />
			</div>
		</div>
	</form>

</div>


<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<form action="/" id="searchForm">
					<div class="form-group">
						<label for="recipient-name" class="col-form-label">Raisar:</label>
						<input type="text" class="form-control" id="empName" name="sssss" value="" />
						<input type="hidden" id="raiser" name="raiserID" />
					</div>

					<div class="float-right">
						<input class="bg-info text-light btn btn-primary mt-2" type="button" onclick="clickraisar()" value="Add">
					</div>
				</form>

			</div>

		</div>
	</div>
</div>


<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="recipient-name" class="col-form-label">Recipient:</label>
						<input type="hidden" class="form-control" id="target">
						<input type="text" class="form-control" id="emp2">
						<input type="hidden" id="nApproverId" value="" />
					</div>


					<div class="float-right">
						<button type="button" class="bg-info text-light btn btn-primary mt-2" onclick="clickApprove()">Add</button>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>


<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" style="border:0!important">
				<form action="/" id="searchForm">
					<div class="form-group">
						<label for="recipient-name" class="col-form-label">Raisar:</label>
						<input type="text" class="form-control" id="emp" name="sssss" value="" />
						<input type="hidden" id="finalId" value="" />
					</div>

					<div class="float-right">
						<input class="bg-info text-light btn btn-primary mt-2" type="button" onclick="clickfinal()" value="Add">
					</div>
				</form>
			</div>

		</div>
	</div>
</div>


@section Scripts{
	<script>

		function GetEmployeeInfo(response) {
			var lstPOP = [];
			$.each(response, function (i, option) {
				var obj = new Object();
				obj.key = option.UserId;
				obj.value = option.EmpName + " - " + option.EmpCode;
				//obj.email = option.emailAddress;
				lstPOP[lstPOP.length] = obj;

			});

			$('#empName').autocomplete({
				source: lstPOP,
				select: function (event, ui) {
					console.log(ui)
					$("#empName").val(ui.item.value);
					$("#raiser").val(ui.item.key);
					//$("#Email").val(ui.item.email);
				}
			});

			$('#emp2').autocomplete({
				source: lstPOP,
				select: function (event, ui) {
					$("#emp2").val(ui.item.value);
					$("#nApproverId").val(ui.item.key);
					//$("#Email").val(ui.item.email);
				}
			});


			$('#emp').autocomplete({
				source: lstPOP,
				select: function (event, ui) {
					$("#emp").val(ui.item.value);
					$("#finalId").val(ui.item.key);
					//$("#Email").val(ui.item.email);
				}
			});
		}

		$(document).ready(function () {

			Common.Ajax('GET', '/api/Account/GetUserInfoList/', [], 'json', GetEmployeeInfo);
			$('.imgCls').click(function () {
				var id = $(this).closest('.outer-approve').prop('id');
				$('#target').val(id);
				$('#exampleModal2').modal('show');
				$('#emp2').val('');
            })
            
            $('#matrixTypeId').val(@Model.matrixTypeId);

		});

		$("#searchForm").submit(function (event) {
			event.preventDefault();
			var $form = $(this),
				term = $form.find("input[name='s']").val(),
				url = $form.attr("action");
			var posting = $.post(url, { s: term });
			posting.done(function (data) {
				var content = $(data).find("#content");
				$("#result").empty().append(content);
			});
		});

		$(".add1").click(function () {
			var i = Math.floor(Math.random() * 90000) + 10000;
			$(this).closest('.no-gutters').append(`<div class="col-md-2">

								<div class="card cc" style="width:180px!important">
									<div>
										<button id="del2" type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span id="del3" class="btn btn-danger btn-sm aaa" aria-hidden="true">&times;</span>
										</button>
										<button type="button" class="close addF1" data-dismiss="modal" aria-label="Close">
											<span class="add1 btn btn-info btn-sm aaa" aria-hidden="true"><i class="fas fa-plus"></i></span>
										</button>
									</div>
									<div class="pt-3 outer-approve" style="height:220px;text-align:center;" id="a_${i}" onclick="openModal('${i}')">
										<div>
											<img class="rounded-circle imgCls" src="/EmpImages/g2.png" width="100" />
										</div>
										<p class="pt-2 name" id="result2" name="nextApproverName">Next Approver</p>
										<input type="hidden" class="result23" name="nextApproversId" value="" />
									</div>
								</div>
							</div>`);

			$('#a_' + i).children().find('.addF1').hide();
			$('#a_' + i).find('.addF1').show();
		});
		$(document).ready(function () {


			$(document).on('click', '#del1', function () {
				$(this).closest('.aa').toggleClass('strike').fadeOut('slow', function () { $(this).remove(); });
			});


			$(document).on('click', '#del2', function () {
				$(this).closest('.bb').toggleClass('strike').fadeOut('slow', function () { $(this).remove(); });
			});


			$(document).on('click', '#del3', function () {
				$(this).closest('.cc').toggleClass('strike').fadeOut('slow', function () { $(this).parent('.col-md-2').remove(); });
			});

		})

		function clickraisar() {
			var val = $('#empName').val();
			var raiserid = $('#raiser').val();

			$('#result').text(val);
			$('#nRaiserId').val(raiserid);
			$('#exampleModal1').modal('hide');
		}

		function clickApprove() {
			var target = $('#target').val();
			var val = $('#emp2').val();
			var approveid = $('#nApproverId').val();
			//var option = `<div>
			//					<img class="rounded-circle img" src="/EmpImages/g2.png" width="100" />
			//				</div>
			//				<p class="pt-2 name" id="result2">${val}</p>
			//				<input type="hidden"  id="raiser" name="raiserID"/>`;
			//$('#' + target).empty();
			//$('#' + target).append(option);
			$('#' + target).find('#result2').text(val);
			//alert($('#nApproverId').val())
			//$('#' + target).find('.result23').val(val);
			$('#' + target).find('.result23').val(approveid);


			//$('#' +target).closest('#result2').text('dsads');
			$('#exampleModal2').modal('hide');
			$('.addF1').show();
		}


		function clickfinal() {
			var val = $('#emp').val();
			var final = $('#finalId').val();
			$('#result3').text(val);
			$('#nFinalId').val(final);
			$('#exampleModal3').modal('hide');
		}

		$('.imgCls').click(function () {
            var id = $(this).closest('.outer-approve').prop('id');
            $('#target').val(id);
			$('#exampleModal2').modal('show');
			$('#emp2').val('');
		})
		function openModal(a) {
			var id = $('#a_' + a).closest('.outer-approve').prop('id');
			$('#target').val(id);
			$('#exampleModal2').modal('show');
			$('#emp2').val('');
		}
	</script>
}