@model BillPaymentViewModel
@{
    ViewData["Title"] = "Bill Payment Slip";
    Layout = "~/Views/Shared/_PrintView.cshtml";
}

@section Style{
    <style>
        .print-card-body {
            width: 100%;
            padding-bottom: 10px;
        }

        .vartical-table th {
            width: 25%;
        }

        .vartical-table td {
            width: 25%;
        }

        .horizontal-table {
            /*width: 100%;*/
        }

        .table td, .table th {
            padding: .3rem;
            font-size: 15px;
        }

        table {
            page-break-inside: auto
        }

        tr {
            page-break-inside: avoid;
            page-break-after: auto
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-footer-group
        }

        h6 {
            font-size: 14px;
            background-color: gray;
            color: white !important;
            padding: 3px;
        }
    </style>
}

<div class="print-card" style="width: 100%;">
    <div class="print-card-body">
        <div class="container-fluid">
            <div class="fa-pull-right">
                <p style="font-size:smaller;">Print at: @DateTime.Now.ToString("dd-MMM-yyyy HH:mm:ss")</p>
            </div>
            <div class="row" style="padding-top:0px;">
                <div class="col-2"></div>
                <div class="col-8">
                    <div style="color:black;text-align:center;">
                        <img src="@Model.company.FirstOrDefault().filePath" alt="OPUS ERP" style="height:80px;" />
                        <h3>@Model.company.FirstOrDefault().companyName</h3>
                        <label>@Model.company.FirstOrDefault().addressLine</label>
                        <h5>Bill Payment Report</h5>
                        <br />
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
        <hr style="border:1px solid black;">
        <div class="container-fluid" style="color:black;">
            <div class="row" style="padding: 5px 0px 5px 0px;">
                <div class="col-3">
                    <span style="font-weight:bold;font-size: 15px;">Customer Name</span>
                    <span style="font-weight:bold;font-size: 15px;float: right;">:</span>
                </div>
                <div class="col-5">
                    <span style="font-size: 15px;">@Model.billPaymentMaster.relSupplierCustomerResourse.organizationName</span>
                </div>
                <div class="col-2 text-right">
                    <span style="font-weight:bold;font-size: 15px;">Date</span>
                    <span style="font-weight:bold;font-size: 15px;">:</span>
                </div>
                <div class="col-2 text-right">
                    <span style="font-size: 15px;">@Model.billPaymentMaster.billPaymentDate?.ToString("dd-MMMM-yyyy")</span>
                </div>
            </div>
            <div class="row" style="padding: 5px 0px 5px 0px;">
                <div class="col-3">
                    <span style="font-weight:bold;font-size: 15px;">Bill Payment Number</span>
                    <span style="font-weight:bold;font-size: 15px;float: right;">:</span>
                </div>
                <div class="col-5">
                    <span style="font-size: 15px;">@Model.billPaymentMaster.billNumber</span>
                </div>
                <div class="col-2 text-right">
                    <span style="font-weight:bold;font-size: 15px;">Remarks</span>
                    <span style="font-weight:bold;font-size: 15px;">:</span>
                </div>
                <div class="col-2 text-right">
                    <span style="font-size: 15px;">@Model.billPaymentMaster.remarks</span>
                </div>
            </div>
            <hr />
            <div class="row" style="padding: 0px 15px 0px 15px;">
                <table class="table table-striped table-bordered vartical-table">
                    <thead style="background-color:lightgray;">
                        <tr>
                            <th style="width:20%;">Bill Number</th>
                            <th style="width:20%;">Bill Date</th>
                            <th style="width:20%;">Invoice Number</th>
                            <th style="width:20%;">Invoice Date</th>
                            <th style="width:10%;">Total Amount</th>
                            <th style="width:10%;text-align:center;">Paid Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var data in Model.billPaymentDetails)
                        {
                            <tr>
                                <td>@data.billReceiveInformation.billPaymentNo</td>
                                <td>@data.billReceiveInformation.billPaymentDate?.ToString("dd/M/yyyy")</td>
                                <td>@data.billReceiveInformation?.purchaseOrderMaster?.poNo</td>
                                <td>@data.billReceiveInformation.purchaseOrderMaster.poDate?.ToString("dd/M/yyyy")</td>
                                <td>@data.billReceiveInformation.purchaseOrderMaster.totalAmount</td>
                                <td style="text-align:right;padding-right:10px;">@data.amount</td>
                            </tr>

                        }
                    </tbody>
                    <thead style="background-color:lightgray;">
                        <tr>
                            <th colspan="5">Total</th>
                            <th style="text-align:right;padding-right:10px;">@Model.billPaymentMaster.totalAmount</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="row" style="padding: 5px 0px 5px 0px;">
                <div class="col-3">
                    <span style="font-weight:bold;font-size: 15px;">Payment Type</span>
                    <span style="font-weight:bold;font-size: 15px;float: right;">:</span>
                </div>
                <div class="col-9">
                    <span style="font-size: 15px;">@Model.billPaymentMaster?.paymentMode?.paymentModeName</span>
                </div>
            </div>

            <div style="float:right;margin-top:20px">
                <p style="color:black;">------------------------</p>
                <b style="float:right;margin-right:20px">Signature</b>
            </div>

            @*<div class="row" style="padding: 5px 0px 5px 0px;">
            <div class="col-3">
                <span style="font-weight:bold;font-size: 15px;">Transaction No.</span>
                <span style="font-weight:bold;font-size: 15px;float: right;">:</span>
            </div>
            <div class="col-9">
                <span style="font-size: 15px;">@Model.trMaster.trNumber</span>
            </div>
        </div>*@

        </div>
    </div>
</div>