@model ActivityNameViewModel
@{
    ViewData["TitleMD"] = "Activity Name";
    Layout = "~/Areas/HRPMSMasterData/Views/Shared/_MasterDataForm.cshtml";
}

@section StyleMD{
    <style>
        .redStar {
            color: red;
        }
    </style>
}


    <div class="card" style="width: 100%;">
        <div class="card-header  d-flex flex-row align-items-center justify-content-between">
            <h5 class="m-0 font-weight-bold text-primary">Activity Name</h5>
            <a class=' mr-5' style="float:right" data-toggle='tooltip' title='Go Back' href='/Home/GridMenuPage?moduleId=3&perentId=5701'>@*<i class="fas fa-backward fa-2x "></i>*@<i class="fas fa-chevron-circle-left" style="font-size:33px;"></i></a>

        </div>
        <div class="card-body">
            @*<h5 class="card-title" style="color: black">Activity Name</h5>
            <hr>*@
            <div class="container">
                <form asp-area="HRPMSMasterData" asp-controller="ActivityName" asp-action="Index" method="post" id="FormId" data-parsley-validate="parsley">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group row">
                        <input type="hidden" name="ActivityNameId" id="ActivityNameId" value="0" />

                        <label for="ActivityType" class="col-sm-3 col-form-label">Activity Type <span style="float:right;" class="redStar">*</span></label>
                        <div class="col-sm-9">
                            <select data-parsley-required="true" data-parsley-trigger="keyup" class="form-control" name="ActivityType" id="ActivityType">
                                <option value="">Select</option>
                                @foreach (var item in Model.hRPMSActivityTypes)
                                {
                                    <option value="@item.Id">@item.name</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="ActivityName" class="col-sm-3 col-form-label">Activity Name <span style="float:right;" class="redStar">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" data-parsley-required="true" data-parsley-trigger="keyup" class="form-control" name="ActivityName" id="ActivityName">
                        </div>
                    </div>

                    <hr>
                    @*<button type="button" id="submit" value="Submit" class="btn btn-success btn-lg" style="float:right; margin-top:5px;"><i class="fas fa-save"></i></button>*@
                    <button type="submit" id="submitbtn" value="Submit" class="btn btn-success btn-lg" style="float:right; margin-top:5px;display:none;"><i class="fas fa-save"></i></button>
                    <button type="button" id="submit" value="Submit" class="btn btn-success btn-lg" style="float:right; margin-top:5px;"><i class="fas fa-save"></i></button>

                </form>
            </div>
        </div>
    </div>

<hr />
<div class="row clearfix">
    <div class="col-12">
        <div class="card mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Activity Name List</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table class="table table-striped table-bordered" id="ActivityNameTable">
                    <thead>
                        <tr>
                            <th>Activity Type</th>
                            <th>Activity Name</th>
                            <th>Action</th>
                    </thead>
                    <tbody>
                        @foreach (var data in Model.activityNames)
                        {
                            <tr>
                                <td>@data.activityType?.name</td>
                                <td>@data.name</td>
                                <td>
                                    <a class="btn btn-success" onclick="Edit(@data.Id, @data.activityTypeId, '@data.name')" href="#"><i class="fa fa-edit"></i></a>
                                    <a class="btn btn-danger" href="javascript:void(0)" onclick="DeleteMaster(@data.Id)"><i class="fa fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section ScriptsMD{
    <script>
        @*$('#submit').click(function () {
		console.log($('#FormId').serializeArray());
		var data = $('#FormId').serializeArray();

		console.log(data[0].value)
		swal({
			title: 'Are you sure?', text: 'Do you want to submit this record!', type: 'warning', showCancelButton: true, confirmButtonColor: '#3085d6', cancelButtonColor: '#d33', confirmButtonText: 'Yes, submit it!'
		}).then(function () {
			$.ajax({
				url: '@Url.Action("Index", "ActivityName")',
				type: 'POST',
				data: data
			}).done(function () {
                if (data[0].value == 0) {
                    swal('success', 'Saved Successfully!', 'success').then(function () {
                        location.reload();
                    });
                }
                else {
                    swal('success', 'Updated Successfully!', 'success').then(function () {
                        location.reload();
                    });;
                }
			}).fail(function () {
				swal('warning', 'Failed!', 'warning');
			})
		});
	})*@
        $(document).ready(function () {
            $("#submit").click(function () {
                swal({
                    title: 'Are you sure?', text: 'Do you want to submit this record!', type: 'warning', showCancelButton: true, confirmButtonColor: '#3085d6', cancelButtonColor: '#d33', confirmButtonText: 'Yes, submit it!'
                }).then(function () {
                    $("#submitbtn").click();
                });
            });
            $("#ActivityNameMenu").addClass("active");
            $('#ActivityNameTable').DataTable({
                stateSave: false,
                dom: "<'row'<'col-sm-12 col-md-2'l><'col-sm-12 col-md-3'B><'col-sm-12 col-md-7'f>>" +
                    "<'row'<'col-sm-12't>>" +
                    "<'row'<'col-sm-12 col-md-6'i><'col-sm-12 col-md-6'pr>>",
                buttons: [
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel"></i> Excel',
                        titleAttr: 'Excel',
                        exportOptions: {
                            columns: [0, 1]
                        },
                        title: "ERP-HRPMS",
                        messageTop: 'List Of Local Training',
                        class: 'btn btn-info'
                    },
                    {
                        extend: 'csvHtml5',
                        text: '<i class="fa fa-file-excel"></i> CSV',
                        titleAttr: 'CSV',
                        exportOptions: {
                            columns: [0, 1]
                        },
                        title: "ERP-HRPMS",
                        messageTop: 'List Of Employee Training'
                    },
                    {
                        extend: 'print',
                        text: '<i class="fa fa-print"></i> Print',
                        titleAttr: 'Print',
                        title: "ERP-HRPMS",
                        messageTop: 'List Of Local Training',
                        exportOptions: {
                            columns: [0, 1]
                        },
                        customize: function (doc) {
                            $(doc.document.body).find('h1').css('font-size', '20pt');
                            $(doc.document.body).find('h1').css('font-family', "'Times New Roman', Times, serif");
                            $(doc.document.body).find('h1').css('text-align', 'center');
                        }
                    }
                ]
            });
        });

        function Edit(Id, activityTypeId, name) {
            $("#ActivityNameId").val(Id);
            $("#ActivityType").val(activityTypeId);
            $("#ActivityName").val(name);
        }
        function DeleteMaster(Id) {
            swal({
                title: 'Are you sure?', text: 'Do you want to delete this record!', type: 'warning', showCancelButton: true, confirmButtonColor: '#3085d6', cancelButtonColor: '#d33', confirmButtonText: 'Yes, delete it!'
            }).then(function () {

                $.ajax({
                    url: '@Url.Action("DeleteActivityNameById", "ActivityName")',
                    data: { Id: Id },
                    type: 'POST',
                })
                    .done(function () {
                        swal('', 'Deleted Successfully!', 'success');
                        window.location.href = "/HRPMSMasterData/ActivityName/Index";
                    })
                    .fail(function () {
                        swal('Cancelled', 'It will not be deleted. Please try again later !!!', 'error');
                    });
            });
        }
    </script>
}



