@model UnitViewModel
@{
    ViewData["TitleMD"] = "Unit";
    Layout = "~/Areas/Auth/Views/Shared/_MasterLayout.cshtml";
}

@section Style{
    <style>
        #myDIV {
            background-color: white;
            padding: 20px;
            box-shadow: 3px 3px 3px 3px lightgray;
            max-height: 415px;
            overflow-y: scroll;
            padding-top: 5px;
        }

        ::-webkit-scrollbar {
            width: 10px;
            background-color: white;
        }

        ::-webkit-scrollbar-thumb {
            background: #F3F3F3;
        }

        .g {
            text-decoration: none;
            color: #1492a5;
        }

            .g:hover {
                text-decoration: none;
                color: #070a67;
            }

            .g span {
                font-family: serif;
            }

        .small-box {
            text-align: center;
            border-radius: 10px;
            padding: 10px;
            transition: transform .5s;
        }

            .small-box:hover {
                background-color: #e8f0fe;
                transform: scale(.95);
            }

            .small-box i {
                font-size: 35px;
                margin: 10px;
            }

        .redStar {
            color: red;
        }
    </style>
}

<div class="card" style="width: 100%;">
    <div class="card-body">
        <h5 class="card-title" style="color: black">
            Unit
            <a id="btngle" href="javascript:void(0)" class="btn btn-outline-secondary btn-sm"
               style="position: absolute; right: 82px; top: 17px; box-shadow: none; font-size: 20px;">
                <i class="fas fa-th"></i>
            </a>
        </h5>
        <hr>
        <div class="container">
            <form asp-area="SCMMasterData" id="FormId" asp-controller="SCMUnit" asp-action="FieldType" method="post" data-parsley-validate="parsley">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group row">
                    <input type="hidden" name="unitId" id="unitId" value="0" />

                    <label for="unitName" class="col-sm-3 col-form-label">Unit Name <span style="float:right;" class="redStar">*</span></label>
                    <div class="col-sm-9">
                        <input type="text" data-parsley-required="true" data-parsley-trigger="keyup" class="form-control" name="unitName" id="unitName">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="description" class="col-sm-3 col-form-label">Description</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="description" id="description">
                    </div>
                </div>

                <hr>
                <button type="button" id="submit" value="Submit" class="btn btn-success btn-lg" style="float:right; margin-top:5px;"><i class="fas fa-save"></i></button>
            </form>
        </div>
    </div>
</div>

<br />
<hr />
<div class="row clearfix">
    <div class="col-12">
        <div class="card mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Unit List</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table class="table table-striped table-bordered" id="unitTable">
                    <thead>
                        <tr>
                            <th>SL#</th>
                            <th>Unit Name</th>
                            <th>Description</th>
                            <th>Action</th>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            @foreach (var data in Model.units)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@data.unitName</td>
                                    <td>@data.description</td>
                                    <td>
                                        <a class="btn btn-success" onclick="Edit(@data.Id, '@data.unitName', '@data.description')" href="#"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;
                                        <a class="btn btn-danger" href="javascript:void(0)" onclick="DeleteMaster(@data.Id)"><i class="fa fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                                i++;
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





<div id="myDIV" style="display: none; width: 311px; position: absolute; right: 50px; top: 167px;">
    <div class="row">

        <a href="/SCMMasterData/ItemCategory/" class="col-md-4 small-box g">
            <i class="fa fa-chart-line"></i><span>Item Category</span>
        </a>


        <a href="/SCMMasterData/Item/NewItem/" class="col-md-4 small-box g">
            <i class="fas fa-sitemap"></i><span>items</span>
        </a>



    </div>
</div>




@section Scripts{
    <script>


        $("#btngle").click(function () {
            $("#myDIV").slideToggle("slow");
        });



         $('#submit').click(function () {
		console.log($('#FormId').serializeArray());
		var data = $('#FormId').serializeArray();

		console.log(data[0].value)
		swal({
			title: 'Are you sure?', text: 'Do you want to submit this record!', type: 'warning', showCancelButton: true, confirmButtonColor: '#3085d6', cancelButtonColor: '#d33', confirmButtonText: 'Yes, submit it!'
		}).then(function () {
			$.ajax({
                url: '@Url.Action("FieldType", "SCMUnit")',
				type: 'POST',
				data: data
			}).done(function () {
                if (data[0].value == 0) {
                    swal('success', 'Saved Successfully!', 'success').then(function () {
                        location.reload();
                    });
                }
                else {
                    swal('success', 'Updated Successfully!', 'success').then(function () {
                        location.reload();
                    });;
                }
			}).fail(function () {
				swal('warning', 'Failed!', 'warning');
			})
		});
	})


        $(document).ready(function () {
			$('#unitTable').DataTable({
				dom: 'Bfrtip',
				buttons: [{
					extend: 'excel',
					text: '<i class="fas fa-file-excel"></i> Export to Excel',
					titleAttr: 'Click to Export',
					//title: 'Click to Export',
					exportOptions: {
						columns: ':not(:last-child)'
					}
				}]
			});
        });

        function Edit(Id, name, description) {
            $("#unitId").val(Id);
            $("#unitName").val(name);
            $("#description").val(description);
        }

        function DeleteMaster(Id) {
            swal({
                title: 'Are you sure?', text: 'Do you want to delete this record!', type: 'warning', showCancelButton: true, confirmButtonColor: '#3085d6', cancelButtonColor: '#d33', confirmButtonText: 'Yes, delete it!'
            }).then(function () {

                $.ajax({
                    url: '@Url.Action("DeleteUnitById", "SCMUnit")',
                    data: { Id: Id },
                    type: 'POST',
                })
                    .done(function () {
                        swal('', 'Deleted Successfully!', 'success');
                        window.location.href = "/SCMMasterData/SCMUnit/Index";
                    })
                    .fail(function () {
                        swal('Cancelled', 'It will not be deleted. Please try again later !!!', 'error');
                    });
            });
        }
    </script>
}
