@model ProjectLocationViewModel
@{
    ViewData["TitleMD"] = "Project Location";
    Layout = "~/Areas/Auth/Views/Shared/_MasterLayout.cshtml";
}

@section Style{
    <style>
        .redStar {
            color: red;
        }
    </style>
}

<div class="card" style="width: 100%;">
    <div class="card-body">
        <h5 class="card-title" style="color: black">Project Location</h5>
        <hr>
        <div class="container">
            <form asp-area="SCMMasterData" asp-controller="Project" asp-action="ProjectLocation" method="post" data-parsley-validate="parsley">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group row">
                            <input type="hidden" name="projectLocationId" id="projectLocationId" value="0" />

                            <label for="locationPosition" class="col-sm-3 col-form-label">Location Name <span style="float:right;" class="redStar">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" data-parsley-required="true" data-parsley-trigger="keyup" class="form-control" name="locationPosition" id="locationPosition">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="remarks" class="col-sm-3 col-form-label">Remarks</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="remarks" id="remarks">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group row">
                            <label for="projectId" class="col-sm-3 col-form-label">Project<span style="float:right;" class="redStar">*</span></label>
                            <div class="col-sm-9">
                                <select class="form-control" name="projectId" id="projectId" data-parsley-required="true">
                                    <option value="">Select</option>
                                    @foreach (var data in Model.projects)
                                    {
                                        <option value="@data.Id">@data.projectName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="userName" class="col-sm-3 col-form-label">Reporting User</label>
                            <input type="hidden" id="applicationUserId" name="applicationUserId" />
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="userName" id="userName">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 style="font-weight:bold; color:black">
                                    Activities
                                </h5>
                            </div>
                            <div class="card-body">
                                <div id="ItemInfo" class="tabcontent">
                                    <div class="form-group row">
                                        <label for="itemId" class="col-md-4 col-sm-4 col-form-label">Activity Name</label>
                                        <div class="col-md-6 col-sm-6">
                                            @*<input type="text" placeholder="please type activities here" class="form-control" id="headlineName" autocomplete="off" />*@
                                            <select class="form-control" name="headlineName" id="headlineName">
                                                <option value="">Select</option>
                                                @foreach (var data in Model.workProgressActivityTypes)
                                                {
                                                    <option value="@data.Id">@data.activityName</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-2">
                                            <a href="#" title='Add Specification' class="btn btn-info" data-toggle="modal" data-target="#addItemSpecificationModal" style="font-size:12px;float:left;">
                                                <span>
                                                    <i class="fas fa-plus-square"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    @*<div class="form-group row">
                                <label for="addSpecification" class="col-sm-4 col-form-label">Add Specification</label>
                                <div class="col-sm-8">
                                    <a href="#" title='Add Specification' class="btn btn-info" data-toggle="modal" data-target="#addItemSpecificationModal" style="font-size:12px;float:left;">
                                        <span>
                                            <i class="fas fa-plus-square"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>*@
                                    <br />
                                    <div class="row">
                                        <div class="col-md-9">
                                        </div>
                                        <div class="col-md-3">
                                            <button type="button" onclick="AddItemInfo()" value="Add" title="Add" class="btn btn-success ml-1" style="float:right; margin-top:5px;">Add</button>&nbsp;&nbsp;
                                        </div>

                                    </div>
                                    <div class="row">
                                        <h5 class="card-title pull-left col-md-12 col-form-label " style="color: black;margin-left:0px;padding-left:0px;">Activities List</h5>
                                        <table class="table table-bordered" id="tblfuelDetails" data-parsley-required="true">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th><span>Action</span></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal fade" id="addItemSpecificationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add Item Specification</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="row">
                                            <input type="hidden" id="itemSpecificationId" name="itemSpecificationId" />
                                            <label for="itemDescription" class="col-sm-3 col-form-label">Specification Name</label>
                                            <div class="col-sm-9">
                                                <input maxlength="150" type="text" class="form-control" id="itemspecification" name="itemspecification">
                                                @*<textarea class="form-control" id="itemspecification" value="" name="itemspecification"></textarea>*@
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label for="catValue" class="col-sm-3 col-form-label">Value</label>
                                                    <div class="col-sm-9">
                                                        <input maxlength="150" type="text" class="form-control" id="catValue" name="catValue">
                                                        @*<textarea class="form-control" id="catValue" value="" name="catValue"></textarea>*@

                                                    </div>


                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-11">
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <button type="button" onclick="AdditemDetails()" value="Add" title="Add" class="btn btn-success" style="float:right;"><i class="fas fa-plus fa-w-1"></i></button>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">

                                            <input type="hidden" id="detailsId" name="detailsId" value="0" />
                                            <input type="hidden" id="IsEdit" name="IsEdit" value="0" />
                                            <div class="col-12" style="overflow-y:auto;height:400px;">
                                                <table class="table table-bordered table-striped" id="tblitemDetails" data-parsley-required="true">
                                                    <thead style="width:100%;background-color:lightgray;">
                                                        <tr>
                                                            <th style="width:30%">Item Name</th>
                                                            <th style="width:30%">Specification Name</th>
                                                            <th style="width:20%">Value</th>
                                                            <th style="width:20%">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="col-sm-10">

                                </div>
                                <div class="col-sm-2">
                                    @*<a href="javascript:void(0)" style="color:deepskyblue" data-dismiss="modal">Close</a>*@

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <hr>
                <button type="submit" value="Submit" class="btn btn-success btn-lg" style="float:right; margin-top:5px;"><i class="fas fa-save"></i></button>
            </form>
        </div>
    </div>
</div>

<br />
<hr />
<div class="row clearfix">
    <div class="col-12">
        <div class="card mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Project Location Info</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table class="table table-striped table-bordered" id="unitTable">
                    <thead>
                        <tr>
                            <th>SL#</th>
                            <th>Location Name</th>
                            <th>Project</th>
                            <th>Remarks</th>
                            <th>Action</th>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            @foreach (var data in Model.projectConstructionLocations)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@data.locationPosition</td>
                                    <td>@data.project.projectName</td>
                                    <td>@data.remarks</td>
                                    <td>
                                        <a class="btn btn-success" onclick="Edit(@data.Id, '@data.locationPosition', '@data.remarks')" href="#"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;
                                        @*<a class="btn btn-danger" href="javascript:void(0)" onclick="DeleteMaster(@data.Id)"><i class="fa fa-trash-alt"></i></a>*@
                                    </td>
                                </tr>
                                i++;
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#unitTable').DataTable();

            Common.Ajax('GET', '/global/api/GetAllItemSpecification/', [], 'json', GetItemSpecificationList);

            Common.Ajax('GET', '/global/api/getUserInfoList/', [], 'json', GetAllUserList);
        });

        function Edit(Id, name, remarks) {
            $("#projectLocationId").val(Id);
            $("#locationPosition").val(name);
            $("#remarks").val(remarks);
        }

        function GetItemSpecificationList(response) {
            var lstPOP = [];
            // console.log(response);
            $.each(response, function (i, option) {
                //  alert(option.itemName);
                var obj = new Object();
                obj.key = option.Id;
                obj.value = option.specificationName;
                lstPOP[lstPOP.length] = obj;
            });
            $('#itemspecification').autocomplete({
                source: lstPOP,
                select: function (event, ui) {

                    $("#itemspecification").val(ui.item.value);
                    $("#itemSpecificationId").val(ui.item.key);

                }
            });

        }

        function GetAllUserList(response) {
            var lstUser = [];
             console.log(response);
            $.each(response, function (i, option) {
                //  alert(option.itemName);
                var obj = new Object();
                obj.key = option.aspnetId;
                obj.value = option.EmpName;
                lstUser[lstUser.length] = obj;
            });
            $('#userName').autocomplete({
                source: lstUser,
                select: function (event, ui) {

                    $("#userName").val(ui.item.value);
                    $("#applicationUserId").val(ui.item.key);

                }
            });

        }

        function AdditemDetails() {
            var ifExistIndex = window.localStorage.getItem("holdIndex");
            var index = "0";
            if (ifExistIndex == "null" || ifExistIndex == null) {
                index = $("#tblitemDetails tbody>tr").length;
            }
            else {
                index = ifExistIndex;
                tdRID = $("#tblitemDetails tbody >tr:eq(" + ifExistIndex + ") td:eq(0) .clsspecificationCategoryId").val();
            }

            if ($("#itemspecification").val() == "") {
                alert("Plaese Enter Specification Name.");
                return false
            }

            //if ($("#specCategory").val() == "") {
            //    alert("Plaese Enter Specification Category.");
            //    return false
            //}
            if ($("#catValue").val() == "") {
                alert("Plaese Enter Category Value.");
                return false
            }



            let id = parseInt($("#detailsId").val()) ? parseInt($("#detailsId").val()) : 0;
            var itemSpecificationName = $("#itemspecification").val();
            var itemSpecificationNameShow = $("#itemspecification").val();
            var specificationCategoryId = $("#itemSpecificationId").val();
            var specificationCategoryName = $("#specCategory option:selected").text();
            var catValue = $("#catValue").val();

            var RowCount = $("#tblitemDetails tbody>tr").length;
            var editOption = parseInt($('#IsEdit').val()) ? parseInt($('#IsEdit').val()) : 0;

            for (i = 0; i <= RowCount; i++) {
                var _itemSpecificationName = $("#itemSpecificationNameVD" + i).val();
                var _specificationCategoryId = $("#specificationCategoryId" + i).val();
                if ((_itemSpecificationName == itemSpecificationName && _specificationCategoryId == specificationCategoryId) && editOption == 0) {
                    alert('You have already added this Specification Category!');
                    return false
                }
                if (editOption == 1) {
                    itemSpecificationNameShow = itemSpecificationNameShowedit;
                }
                else {
                    if (_itemSpecificationName == itemSpecificationName) {
                        itemSpecificationNameShow = "";
                    }
                }

            }

            var dtTable = $("#tblitemDetails");
            var tableBody = dtTable.find('tbody');
            var trHtml = '<tr id=' + index + '>' +
                '<td>' + itemSpecificationNameShow + '<input type="hidden" id="itemSpecificationName' + index + '" name="itemSpecificationName" class="clsitemSpecificationName" value="' + itemSpecificationNameShow + '"/><input type="hidden" id="itemSpecificationNameVD' + index + '" name="itemSpecificationNameVD" class="clsitemSpecificationNameVD" value="' + itemSpecificationName + '"/></td>' +
                '<td>' + itemSpecificationName + '<input type="hidden" name="id"class="clsId" value="' + id + '"><input type="hidden" id="itemSpecificationId' + index + '" name="itemSpecificationId" class="clsitemSpecificationId" value="' + specificationCategoryId + '"/></td>' +
                '<td>' + catValue + '<input type="hidden" id="CategoryValue' + index + '" name="CategoryValue" class="clsCategoryValue" value="' + catValue + '"/></td>' +
                '<td><a href="javascript:void(0)"style="background-color:red;border-color:red" data-toggle="tooltip" title="Delete" class="btn btn-danger btn-xs" onclick="Delete(' + index + ')"><i class="fa fa-trash"></i></a>&nbsp;&nbsp;' +
                '<a onclick="EditTbl(' + index + "," + specificationCategoryId + ", '" + itemSpecificationName + "',  '" + catValue + "', '" + itemSpecificationNameShow + "'," + id + ')" href="javascript:void(0)" title="Edit" class="btn btn-success btn-xs" > <i class="fa fa-edit"></i></a >' +


                '</tr>';
            if (ifExistIndex == null || ifExistIndex == "null") {
                tableBody.append(trHtml);
            }
            else {
                var rowUpdate = $("#tblitemDetails tbody >tr:eq(" + ifExistIndex + ")");
                rowUpdate.replaceWith(trHtml);
                window.localStorage.setItem("holdIndex", null);
                ifExistIndex = null;
            }

            Refresh();
        }

        function AddItemInfo() {
            var ifExistIndex = window.localStorage.getItem("holdIndex");
            var index = "0";
            if (ifExistIndex == "null" || ifExistIndex == null) {
                index = $("#tblfuelDetails tbody>tr").length;
            }
            else {
                index = ifExistIndex;
                tdRID = $("#tblfuelDetails tbody >tr:eq(" + ifExistIndex + ") td:eq(0) .clsitemId").val();
            }

            let id = parseInt($("#customerItemInfoId").val()) ? parseInt($("#customerItemInfoId").val()) : 0;
            let itemId = $('#itemId').val();
            let fuelTypeName = $('#headlineName').val();
            let activityName = $('#headlineName option:selected').text();

            var editOption = parseInt($('#IsEdit').val()) ? parseInt($('#IsEdit').val()) : 0;
            var RowCount = $("#tblfuelDetails tbody>tr").length;


            if (fuelTypeName == null || fuelTypeName == '') {
                swal('Warning', 'Please you must be enter Activity Name!', 'warning');
                return false;
            }

            for (i = 0; i < RowCount; i++) {

                var _itemId = $('#headlineAll' + i + '').val();
                if (_itemId == fuelTypeName && editOption == 0) {
                    //alert('You have already added this Headline!');
                    swal('Warning', 'You have already added this Headline!', 'warning');
                    return false
                }
            }

            var dtTable = $("#tblfuelDetails");
            var tableBody = dtTable.find('tbody');
            var trHtml = '<tr id=' + index + '>' +
                '<td>' + activityName + '<input type="hidden" id="headlineAll' + index + '" name="headlineAll"class="clsId" value="' + fuelTypeName + '"></td>' +
                '<td><a href="javascript:void(0)"style="background-color:red;border-color:red" data-toggle="tooltip" title="Delete" class="btn btn-danger btn-xs" onclick="Delete(' + index + ')"><i class="fa fa-trash"></i></a>&nbsp;&nbsp;' +
                '</tr>';

            if (ifExistIndex == null || ifExistIndex == "null") {
                tableBody.append(trHtml);
                $("#headlineName").val(null);
            }
            else {
                var rowUpdate = $("#tblfuelDetails tbody >tr:eq(" + ifExistIndex + ")");
                rowUpdate.replaceWith(trHtml);
                window.localStorage.setItem("holdIndex", null);
                ifExistIndex = null;
                $("#headlineName").val(null);
            }
        }

        function Delete(index) {

            swal({
                title: 'Are you sure?', text: 'Do you want to delete this record!', type: 'warning', showCancelButton: true, confirmButtonColor: '#3085d6', cancelButtonColor: '#d33', confirmButtonText: 'Yes, delete it!'
            }).then(function () {
                //window.location.href = "/Purchase/PurchaseOrder/DeleteComments?Id=" + Id + '&actionId=' + actionTypeId;;
                $("#tblfuelDetails #" + index).remove();

                swal('', 'Deleted Successfully!', 'success');
                $("#headlineName").val(null);
            });
            return false;
        }

        function DeleteMaster(Id) {
            swal({
                title: 'Are you sure?', text: 'Do you want to delete this record!', type: 'warning', showCancelButton: true, confirmButtonColor: '#3085d6', cancelButtonColor: '#d33', confirmButtonText: 'Yes, delete it!'
            }).then(function () {

                $.ajax({
                    url: '@Url.Action("DeleteUnitById", "SCMUnit")',
                    data: { Id: Id },
                    type: 'POST',
                })
                    .done(function () {
                        swal('', 'Deleted Successfully!', 'success');
                        window.location.href = "/SCMMasterData/SCMUnit/Index";
                    })
                    .fail(function () {
                        swal('Cancelled', 'It will not be deleted. Please try again later !!!', 'error');
                    });
            });
        }
    </script>
}
