@model PromotionEntryViewModel
@{
    ViewData["Title"] = "Promotion Approval";
}
<br />
@*<h4 class="text text-center" style="color:black">Promotion Approval</h4><br />*@

<div class="row clearfix">
    <div class="col-12">
        <div class="card mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">@Model.fLang.title</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table class="table table-striped table-bordered" id="approvalTable">
                    <thead>
                        <tr>
                            <th>@Model.fLang.sl</th>
                            <th>@Model.fLang.employeeId</th>
                            <th>@Model.fLang.employeeName</th>
                            <th>@Model.fLang.dateOfPromotion</th>
                            <th>@Model.fLang.promotedPayScale</th>
                            <th>@Model.fLang.action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int Sl = 1;
                            @foreach (var data in Model.promotionEntries)
                            {
                                <tr>
                                    <td>@Sl</td>
                                    <td>@data.employee.employeeCode</td>
                                    <td>@data.employee.nameEnglish</td>
                                    <td>@data.date</td>
                                    <td>@data.payScale</td>
                                    <td>
                                        <form asp-area="HRPMSPromotionAndTransfer" asp-controller="PromotionEntry" asp-action="Action" method="post">
                                            <a class="btn btn-info" data-toggle="tooltip" title="Details" href="Details/@data.Id"><i class="fa fa-eye"></i></a>
                                            <input type="hidden" name="id" value="@data.Id" />
                                            <button class="btn btn-success" data-toggle="tooltip" title="Approve" type="submit" name="type" value="approve"><i class="fa fa-check-circle"></i></button>
                                            <button class="btn btn-danger" data-toggle="tooltip" title="Reject" type="submit" name="type" value="reject"><i class="fa fa-times-circle"></i></button>
                                        </form>
                                    </td>
                                </tr>
                                Sl = Sl + 1;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#language").addClass("active");
            $('#approvalTable').dataTable({
                stateSave: true,
                dom: "<'row'<'col-sm-12 col-md-2'l><'col-sm-12 col-md-3'B><'col-sm-12 col-md-7'f>>" +
                    "<'row'<'col-sm-12't>>" +
                    "<'row'<'col-sm-12 col-md-6'i><'col-sm-12 col-md-6'pr>>",
                buttons: [
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel"></i> Excel',
                        titleAttr: 'Excel',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        },
                        title: orgFullTitle,
                        messageTop: 'List Of Employee Promotion',
                        class: 'btn btn-info'
                    },
                    {
                        extend: 'csvHtml5',
                        text: '<i class="fa fa-file-excel"></i> CSV',
                        titleAttr: 'CSV',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        },
                        title: orgFullTitle,
                        messageTop: 'List Of Employee Training'
                    },
                    {
                        extend: 'print',
                        text: '<i class="fa fa-print"></i> Print',
                        titleAttr: 'Print',
                        title: orgFullTitle,
                        messageTop: 'List Of Employee Promotion',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        },
                        customize: function (doc) {
                            $(doc.document.body).find('h1').css('font-size', '20pt');
                            $(doc.document.body).find('h1').css('font-family', "'Times New Roman', Times, serif");
                            $(doc.document.body).find('h1').css('text-align', 'center');
                        }
                    }
                ]
            });
        });

        function Approved(id) {

        }

        function Reject(id) {

        }

    </script>
}

