@model PurchaseOrderViewModel
@{
    ViewData["Title"] = "Purchase Order List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row clearfix">
    <div class="col-12">
        <div class="card mb-4">           
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">List of Purchase Order</h6>
            </div>
            <div class="card-body">
                <table class="table table-striped table-bordered" id="csListTable">
                    <thead>
                        <tr>
                            <th>PO No.</th>
                            <th>PO Creation Date</th>
                            <th>CS No</th>
                            <th>Bill to location</th>
                            <th>Supplier Name</th>
                            <th>Saving Amount</th>
                            <th>Savings(%)</th>
                            <th>Action</th>
                    </thead>
                    <tbody>
                        @foreach (var data in Model.purchaseOrderMasters)
                        {
                            <tr>
                                <td>@data.poNo</td>
                                <td>@data.poDate?.ToString("dd-MMM-yyyy")</td>
                                <td>@data.cSMaster?.csNo</td>
                                <td>@data.billToLocation</td>
                                <td>@data.supplier.organizationName</td>
                                <td>@data.savingAmount</td>
                                <td>@data.savingPercent</td>
                                <td>
                                    <a class="btn btn-success" href="/SCMStock/GoodsReceive/StockIn/@data.Id"><i class="fa fa-plus"></i></a>
                                    @*<a class="btn btn-info" title="Print PR" target='_blank' href="/Report/ReportMaster/PurchaseRequisitionPdf/?reqId=@data.Id"><i class='fa fa-print'></i></a>*@

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row clearfix">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">List of Good Receive</h6>
            </div>
            <div class="card-body">
                <table class="table table-striped table-bordered" id="grListTable">
                    <thead>
                        <tr>
                            <th>GR No</th>
                            <th>GR Date</th>
                            <th>Received By</th>
                            <th>Supplier Name</th>
                            <th>PO No</th>
                            <th>Action</th>
                    </thead>
                    <tbody>
                        @foreach (var data in Model.stockMasters)
                        {
                            <tr>
                                <td>@data.receiveNo</td>
                                <td>@data.receiveDate?.ToString("dd-MMM-yyyy")</td>
                                <td>@data.receiveBy</td>
                                <td>@data.purchase?.supplier?.organizationName</td>
                                <td>@data.purchase?.poNo</td>
                                <td>
                                    <a class="btn btn-success" target="_blank" href="/SCMReport/ReportMaster/GoodsReceiveInfoViewpdf?grId=@data.Id"><i class="fa fa-print"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#csListTable').DataTable();
            $('#grListTable').DataTable();
        });
    </script>
}