@model ItemCategoryViewModel
@{
    ViewData["Title"] = Model.fLang.title;
    Layout = "~/Areas/Auth/Views/Shared/_MasterLayout.cshtml";
}
@section Style{
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <style>
        .redStar {
            color: red;
        }

        #myDIV {
            background-color: white;
            padding: 20px;
            box-shadow: 3px 3px 3px 3px lightgray;
            max-height: 415px;
            overflow-y: scroll;
            padding-top: 5px;
        }

        ::-webkit-scrollbar {
            width: 10px;
            background-color: white;
        }

        ::-webkit-scrollbar-thumb {
            background: #F3F3F3;
        }

        .g {
            text-decoration: none;
            color: #1492a5;
        }

            .g:hover {
                text-decoration: none;
                color: #070a67;
            }

            .g span {
                font-family: serif;
            }

        .small-box {
            text-align: center;
            border-radius: 10px;
            padding: 10px;
            transition: transform .5s;
        }

            .small-box:hover {
                background-color: #e8f0fe;
                transform: scale(.95);
            }

            .small-box i {
                font-size: 35px;
                margin: 10px;
            }







        .ui-autocomplete {
            cursor: pointer;
            height: 400px;
            width: 300px;
            overflow-y: scroll;
            background-color: white;
            color: rgb(0,188,212);
            z-index: 1050;
            /*outline-style:outset;*/
        }

        .node {
            cursor: pointer;
            width: 500px;
        }

            .node circle {
                fill: #fff;
                stroke: steelblue;
                stroke-width: 2px;
            }

            .node text {
                font: 14px sans-serif;
                text-align: center;
            }

        .link {
            fill: none;
            stroke: #C80;
            stroke-width: 2px;
        }

        .redStar {
            color: red;
        }

        .spanClass {
            background: white;
            padding: 6px;
            border: 1px solid;
            border-radius: 15px;
            margin-right: 5px;
            color: black;
            margin-bottom: 10px;
            background: oldlace;
        }

        .crossButton {
            margin-left: 5px;
            padding: 3px;
            border-radius: 10px;
            background: maroon;
            color: white;
            font-size: 12px;
            font-weight: bold;
        }
        /*dropdown*/
        #header_inner {
            background: #959595;
        }

            #header_inner .menu-header-container ul li {
                display: block;
                float: left;
                position: relative;
            }

                #header_inner .menu-header-container ul li a {
                    color: #393939;
                    font-size: 15px;
                    display: block;
                    padding: 30px 20px;
                    border-right: 1px solid #FFF;
                }

            #header_inner .menu-header-container .current-menu-item {
                background: #c8c8c8;
            }

            #header_inner .menu-header-container ul li a:hover {
                background: #c8c8c8;
            }

            #header_inner .menu-header-container ul li a.hover {
                background: #c8c8c8;
            }

            #header_inner .menu-header-container ul li ul {
                width: 290px;
                position: absolute;
                background: #c8c8c8;
                display: none;
                z-index: 1;
            }

                #header_inner .menu-header-container ul li ul li {
                    width: 290px;
                }

                    #header_inner .menu-header-container ul li ul li a {
                        font-size: 12px;
                        padding: 17px;
                        border: none;
                        border-bottom: 1px dotted #fff;
                    }

                        #header_inner .menu-header-container ul li ul li a:hover {
                            background: #d6d6d6;
                        }

                    #header_inner .menu-header-container ul li ul li ul {
                        width: 290px;
                        position: absolute;
                        background: #c8c8c8;
                        display: none;
                        z-index: 1;
                        left: 290px;
                        top: 0;
                    }

        .has-search .form-control {
            padding-left: 2.375rem;
        }

        .has-search .form-control-feedback {
            position: absolute;
            z-index: 2;
            display: block;
            width: 2rem;
            height: 1.5rem;
            line-height: 2rem;
            text-align: center;
            pointer-events: none;
            color: #aaa;
        }

        .outer {
            width: 684px;
            height: 70px;
            white-space: nowrap;
            position: relative;
            overflow-x: scroll;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;
        }

            .outer div {
                width: 100%;
                background-color: #eee;
                float: none;
                height: 100%;
                /*margin: 0 0.25%;*/
                display: inline-block;
                zoom: 1;
            }

        .outerd {
            width: 700px;
            height: 150px;
            white-space: nowrap;
            position: relative;
            overflow-x: scroll;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
        }

            .outerd div {
                width: 700px;
                background-color: #eee;
                float: none;
                height: auto;
                border: 1px solid;
                /*margin: 0 0.25%;*/
                display: inline-grid;
                zoom: 1;
            }
    </style>
}
<br />
@*<h4 class="text text-center" style="color:black">@Model.fLang.hader</h4><br />*@


<div class="card" style="width: 100%;">
    <div class="card-body">
        <h5 class="card-title" style="color: black">
            @Model.fLang.title
            <a id="btngle" href="javascript:void(0)" class="btn btn-outline-secondary btn-sm"
               style="position: absolute; right: 82px; top: 17px; box-shadow: none; font-size: 20px;">
                <i class="fas fa-th"></i>
            </a>
        </h5>
        <hr>
        <div class="container">
			<form asp-area="SCMMasterData" asp-controller="ItemCategory" asp-action="Index" id="FormId" method="post" data-parsley-validate="parsley">

				<div asp-validation-summary="All" class="text-danger"></div>

				<div class="row">
					<div class="col-md-12">

						<div class="form-group row">
							<input type="hidden" class="form-control" id="itemcategoryId" value="" name="itemcategoryId" data-parsley-required="true">
							<label for="itemName" class="col-sm-4 col-form-label">@Model.fLang.itemCategoryName</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="categoryName" value="" name="categoryName" data-parsley-required="true">


							</div>
						</div>
						<div class="form-group row">
							<label for="itemCategoryId" class="col-sm-4 col-form-label">@Model.fLang.parentCategoryName</label>
							<div class="col-sm-8">
								<label id="select_parent_label_id" onclick="parentFun()" class="form-control btn btn-info" href="#"><span style="color: white; font-size: 15px;">select parent</span></label>
								<input type="text" readonly class="form-control" id="select_parent_label_id1" data-parsley-required="true" autocomplete="off">
								<input type="hidden" id="parentId" name="parentId" value="0" />
							</div>
							<div id="parent_list_div_id" style="display: none;">
								<div class="card" style="width: 1040px">
									<div class="card-body">

										<div class="custom-control-inline" id="category_block_row_id" style="max-width:1000px; overflow-x:scroll;">
											<div class="caregory_block_col_cls" id="categoryBlockColId_1" style="width:252px; height:320px; overflow:auto; padding-left: 10px; border: 1px solid lightgray; padding-right: 10px; padding-top: 12px;">
												<div>
													<input type="text" id="filter_category_id_1" onkeyup="filterCategoryFun(1)" class="form-control" placeholder="name" style="width: 230px; margin-bottom: 10px;">
												</div>
												@foreach (var data in Model.itemCategories.Where(x => x.itemCategory.isParent == null))
												{
													<label class="btn category_common_cls category_cls_1" id="label_id_@data.itemCategory.Id" href="#" onclick="viewSubParent(@data.itemCategory.Id, 1)" style="border-radius: 0; border-left: 5px solid silver; text-align: left; width: 230px; background: #E9EBEC; margin-top: -7px;color:gray">@data.itemCategory.categoryName &nbsp;<span><img src="~/images/arrow.png" style="height: 12px; width: 12px; float: right;margin-top: 6px;" /></span></label>
												}
											</div>
										</div>
										<div class="row" style="width: 100%; background: #E9EBEC; margin-top: 20px; margin-left: 5px; border-radius: 5px;">
											<p id="current_location_id" style="color: gray; margin-top: 2px; margin-top: 10px; padding-left: 48px; font-weight: bold">Current Location : </p>
										</div>
										<div class="custom-control-inline" style=" margin-top: 10px;">
											<button class="btn" type="button" onclick="confirmFun()" style="border-radius: 0; background: #FF4E01; margin-left: 5px; color: whitesmoke">confirm</button>
											<button class="btn" type="button" onclick="clearFun()" style="border-radius: 0;margin-left: 5px; background: none; border: 1px solid lightgray">cancel</button>
											<button class="btn" type="button" onclick="clearFun()" style="border-radius: 0;margin-left: 5px; background: none; border: 1px solid lightgray">clear</button>
										</div>
									</div>
								</div>
							</div>

							@*<div class="col-sm-8">
						<input type="text" class="form-control" id="parentName">
						<input type="hidden" id="parentId" name="parentId" />
					</div>*@
						</div>
						<div class="form-group row  card shadow" id="header_inners" style="display:none;margin-left: 317px;">

							<div class="form-group row" style="margin-left: 13px;margin-top: 9px;">
								<div class="form-group" style="width:230px">
									<div class="form-group outer" id="searchbox">
										<div class="form-group row col-sm-3 ml-2" style="width: 170px;border:1px solid currentColor">
											<div class="form-group has-search">
												<span class="fa fa-search form-control-feedback" style="margin-top: 10px;"></span>
												<input type="text" id="myInput1" onclick="searchcat(1)" class="form-control" placeholder="Search-1" style="margin-top: 10px;" />
											</div>

										</div>

									</div>
								</div>
								<div class="form-group outerd" id="catbox" style="margin-top: 70px;margin-left: -230px;">


									<div class="form-group row col-sm-3 ml-2 mycontent panel" id="l1" style="height: auto;border:1px solid currentColor">


									</div>


								</div>
							</div>
							<div class="form-group row" style="width: 80%;background: #E9EBEC;margin-left: 5px;border-radius: 5px;margin-top: 30px;">
								<div class="form-group row col-sm-4">
									<label for="itemName" class="col-sm-12 col-form-label">Current Selection</label>
								</div>
								<div class="form-group row col-sm-8">
									<input class="form-control" style="width:700px;margin-top:6px" value="" id="catflow" readonly />
								</div>

							</div>
							<div class="form-group row" style="width: 80%;background: #E9EBEC;margin-left: 5px;border-radius: 5px;margin-top: 30px;">
								<div class="form-group row col-sm-4">
								</div>
								<div class="form-group row col-sm-8">

									<button type="button" data-toggle="tooltip" title="Refresh" onclick="RefreshAllD()" class="btn btn-danger btn-xs" style="float:right; margin-top:5px;margin-right:5px;margin-left: 8px;">Cancel</button>
									<button data-toggle="tooltip" title="Confirm" type="button" onclick="confirmD()" class="btn btn-success btn-xs" style="float:right; margin-top:5px;">Confirm</button>
								</div>

							</div>
						</div>
						<div class="form-group row">
							<label for="itemDescription" class="col-sm-4 col-form-label">@Model.fLang.description</label>
							<div class="col-sm-8">
								<textarea class="form-control" id="categoryDescription" value="" name="categoryDescription"></textarea>
							</div>
						</div>


					</div>
					@*<div class="col-md-6">


				<div class="form-group row">
					<label for="itemDescription" class="col-sm-4 col-form-label">@Model.fLang.description</label>
					<div class="col-sm-8">
						<textarea class="form-control" id="categoryDescription" value="" name="categoryDescription"></textarea>
					</div>
				</div>

			</div>*@
				</div>
				<hr />
				<div class="form-group row" style="display: none;">

					<label for="SubLedgerof" class="col-sm-4 col-form-label">Specification Category</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="SubLedgerof" name="SubLedgerof">
						@*<input type="hidden" class="form-control" id="LedgerIds" name="LedgerIds">
				<input type="hidden" class="form-control" id="LedgerNames" name="LedgerNames">*@
					</div>

				</div>
				<div class="col-sm-1" style="float:right; margin-right:-10px; display: none;">
					<a class="btn btn-block btn-success" onclick="AddGroup()" style="color:white;" title="Add Specification Category"><i class="fas fa-plus"></i></a>
				</div>
				<br />
				<br />
				<div class="form-group row" style="display: none;">
					<div class="col-sm-2">

					</div>
					<div id="SubLedgerList" style="display: none;" class="col-sm-10 row">


					</div>
				</div>

				<hr>


				<hr />
				<button type="submit" data-toggle="tooltip" title="Refresh" onclick="RefreshAll()" class="btn btn-danger btn-lg" style="float:right; margin-top:5px;margin-right:5px;margin-left: 8px;"><i class="fas fa-sync"></i></button>
				<button data-toggle="tooltip" title="Save" type="button" id="submit" value="Submit" class="btn btn-success btn-lg" style="float:right; margin-top:5px;"><i class="fas fa-save"></i></button>
			</form>
        </div>
    </div>
</div>

<br />
<hr />
<div class="row clearfix">
    <div class="col-12">
        <div class="card mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">@Model.fLang.title</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table class="table table-striped table-bordered" id="itemTable">
                    <thead>
                        <tr>

                            <th>@Model.fLang.itemCategoryName</th>


                            <th>Full Category</th>
                            <th>is Parent</th>
                            <th>@Model.fLang.action</th>
                    </thead>
                    <tbody>
                        @foreach (var data in Model.itemCategories)
                        {
                        <tr>

                            <td>@data.itemCategory.categoryName</td>
                            <td>@data.fullparent</td>
                            @*<td>@data.isParent</td>*@

                            @if (data.itemCategory.parentId == null)
                            {
                                <td><span class="badge badge-success">Yes</span></td>
                            }
                            else
                            {
                                <td><span class="badge badge-secondary">No</span></td>

                            }


                            <td>
                                <a title='Edit' class="btn btn-success" onclick="Edit(@data.itemCategory.Id,'@data.itemCategory.categoryName','@data.itemCategory.categoryDescription',@data.itemCategory.parentId)" href="#"><i class="fa fa-edit"></i></a>
                                <a style="color:white" title="Delete" class="btn btn-danger" onclick="Remove(@data.itemCategory.Id)"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addClusterModel" tabindex="-1" role="dialog" style="padding-left:2px" aria-labelledby="exampleaddClusterModel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width:1400px" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row" style="width:100%;">
                    <div class="col-sm-3">
                        @*<img src="~/images/Bangladesh-Govt-Logo.jpg" style="height:50px; width:50px;" />*@
                    </div>
                    <div class="col-sm-8">
                        <h2 class="modal-title text-center" id="exampleModalLabel" style="padding-top: 14px;">@Model.fLang.categoryTree </h2>
                    </div>
                    <div class="col-sm-1">
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>

            </div>
            <div class="modal-body">
                <div class="row" id="organoDiv">

                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<div id="myDIV" style="display: none; width: 311px; position: absolute; right: 50px; top: 167px;">
    <div class="row">

        <a href="/SCMMasterData/SCMUnit/" class="col-md-4 small-box g">
            <i class="fa fa-chart-line"></i><span>Unit</span>
        </a>

        @*<a href="/HRPMSEmployee/Address/Index/@Model.employeeID" class="col-md-4 small-box g">
                <i class="fa fa-map-marker-alt"></i><span>Address</span>
            </a>*@
        <a href="/SCMMasterData/Item/NewItem" class="col-md-4 small-box g">
            <i class="fas fa-sitemap"></i><span>items</span>
        </a>

        @*<a href="/HRPMSEmployee/EmployeeProjectActivity/EmployeeGrade/@Model.employeeID" class="col-md-4 small-box g">
                <i class="fab fa-glide-g"></i><span>Employee Grade</span>
            </a>*@

    </div>
</div>




@section Scripts{
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js" type="text/javascript"></script>
    <script src="https://d3js.org/d3.v3.min.js" type="text/javascript"></script>
    <script>

        $("#btngle").click(function () {
            $("#myDIV").slideToggle("slow");
        });

        $('#submit').click(function () {
		console.log($('#FormId').serializeArray());
		var data = $('#FormId').serializeArray();

		console.log(data[0].value)
		swal({
			title: 'Are you sure?', text: 'Do you want to submit this record!', type: 'warning', showCancelButton: true, confirmButtonColor: '#3085d6', cancelButtonColor: '#d33', confirmButtonText: 'Yes, submit it!'
		}).then(function () {
			$.ajax({
				url: '@Url.Action("Index", "ItemCategory")',
				type: 'POST',
				data: data
			}).done(function () {
                if (data[0].value == 0) {
                    swal('success', 'Saved Successfully!', 'success').then(function () {
                        location.reload();
                    });
                }
                else {
                    swal('success', 'Updated Successfully!', 'success').then(function () {
                        location.reload();
                    });;
                }
			}).fail(function () {
				swal('warning', 'Failed!', 'warning');
			})
		});
	})


        function AddGroup() {
            var id = 0;


            var count = 0;
            $('#SubLedgerList').find('input[type="hidden"]').each(function () {
                count += 1
                //alert(count);
                //$('#LgIss' + count + '').prop("disabled", true);

            });
            id = count;
            var value = $('#SubLedgerof').val();
            $('#SubLedgerList').append('<input type="hidden" name="descriptions[]" id="Lg' + id + '" value="' + value + '"><span class="spanClass" id="LgId' + id + '" >' + value + '<a href="#"><span class="crossButton" onclick="DeleteGroup(' + "'" + id + "'" + ')">X</span></a></span>');
            $('#SubLedgerof').val('')
        }

        function DeleteGroup(id) {
            $('#Lg' + id).remove();
            $('#LgId' + id).remove();
        }
        function searchcat(Id) {
            $("#myInput" + Id).on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#l" + Id + " a").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
                var vales = $("#catbox div").map(function () {
                    // return $(this).css('height'); // only if you want applied css values with 'px' etc.
                    return $(this).height();
                }).get();
                //alert(vales);
                if (Id != 1) {

                    $('#catbox').each(function () {
                        var $panels = $(this).find('.panel');
                        var tallest = 0;
                        //find tallest
                        $panels.each(function () {
                            var ph = $(this).height();
                            if (ph > tallest) tallest = ph;
                        });
                        $panels.height(tallest);
                    });
                }
                else {
                    $('#catbox').each(function () {
                        var $panels = $(this).find('.panel');
                        var tallest = 0;
                        //find tallest
                        $panels.each(function () {
                            var ph = $(this).height();
                            if (ph > tallest) tallest = ph;
                        });
                        $panels.height(150);
                    });
                }


                // $("#l" + Id).css("height","150px");
            });
        }
		$(document).ready(function () {
            $("#Item").addClass("active");
			$('#itemTable').DataTable({
				dom: 'Bfrtip',
				buttons: [{
					extend: 'excel',
					text: '<i class="fas fa-file-excel"></i> Export to Excel',
					titleAttr: 'Click to Export',
					//title: 'Click to Export',
					exportOptions: {
						columns: ':not(:last-child)'
					}
				}]
			});
            // alert("bashar");
            //Common.Ajax('GET', '/global/api/patentItemCategory/', [], 'json', GetItemCategoryList);
            Common.Ajax('GET', '/global/api/patentCatItem/', [], 'json', GetItemList);
            $("#header_inner .menu-header-container ul li").hover(function () {
                $(this).find("a").toggleClass('hover');
                $(this).siblings().children(".sub-menu").hide();
                $(this).children(".sub-menu").slideToggle(50);
            });
            $("#parentName").click(function () {
                var Id = $("#parentId").val();

                // Common.Ajax('GET', '/SCMMasterData/Item/getspeccat/' + Id, [], 'json', ajaxSup, false);
                $("#header_inners").show();
            });

        });

        function Remove(Id) {
            chk = confirm('Do you want to delete this?');
            if (chk) {
                location.replace("/SCMMasterData/ItemCategory/Delete/" + Id);
            } else {
                return false;
            }
        }



        function GetItemCategoryName(response) {
			console.log(response)
            // console.log(response.itemName);
            $("#parentName").val(response);
            //$.each(response, function (i, item) {
            //    alert(itemName);
            //    $("#parentName").val(item.itemName);
            //});

        }
        function GetItemCategoryList(response) {
            var lstPOP = [];
            console.log(response);
            $.each(response, function (i, option) {
                //  alert(option.itemName);
                var obj = new Object();
                obj.key = option.Id;
                obj.value = option.categoryName;
                lstPOP[lstPOP.length] = obj;
            });
            $('#parentName').autocomplete({
                source: lstPOP,
                select: function (event, ui) {

                    $("#parentName").val(ui.item.value);
                    $("#parentId").val(ui.item.key);

                }
            });

        }
        function GetItemList(response) {


            $.each(response, function (i, option) {

                var jj = 0;
                console.log(option);
                $.each(response, function (j, ff) {

                    if (ff.parentId == option.Id) {
                        jj += 1;
                    }

                });

                //  alert(Option.parentId);

                if (option.parentId == null) {
                    // alert(jj);
                    if (jj > 0) {
                        $('#l1').append('<a  class="col-sm-12" id="a' + option.Id + '" onclick="nextdata(' + "'" + option.categoryName + "'," + option.Id + ',' + 1 + ')" style="color:grey;font-weight:700" href="javascript:void(0)">' + option.categoryName + '<i class="fas fa-angle-right"></i></a>');
                    }
                    else {
                        $('#l1').append('<a  class="col-sm-12" id="a' + option.Id + '" onclick="condata(' + "'" + option.categoryName + "'," + option.Id + ',' + 1 + ')" style="color:grey;font-weight:700" href="javascript:void(0)">' + option.categoryName + '</a>');
                    }

                }

            });

        }
        function GetElementInsideContainer(containerID, childID) {

            var elm = {};
            var elms = document.getElementById(containerID).getElementsByTagName("*");
            console.log(elms.length);
            for (var i = 0; i < elms.length; i++) {
                if (elms[i].id === childID) {

                    var Id = childID.replace("a", '');

                    $("#a" + Id).css("color", "blue");

                }
                else {
                    var Id = elms[i].id.replace("a", '');
                    $("#a" + Id).css("color", "grey");
                }
            }

        }
        var SLID = 0;
        function nextdata(name, Id, sl) {
            SLID = sl;
            var prename = name;
            var matched = $("#catbox div");

            for (var i = 1; i <= matched.length; i++) {

                if (i > sl) {
                    $("#ss" + i).remove();
                    $("#l" + i).remove();

                }

            }
            GetElementInsideContainer("l" + sl, "a" + Id);

            //  $('#a' +Id).css("color","blue");
            Common.Ajax('GET', '/global/api/patentCatItemC/' + Id, [], 'json', GetItemListC);


            var data = $("#catflow").val();
            if (sl == 1) {
                data = "";
            }
            if (data != name + '>') {

                name = data + name;

                $("#catflow").val(name + '>');
            }
            var text = $("#catflow").val();
            var tlist = text.split(">");
            var targettext = 0;
            var fdata = "";

            for (var i = 0; i < tlist.length; i++) {

                if (targettext != 1) {

                    if (fdata == "") {
                        fdata = tlist[i];
                    }
                    else {
                        fdata = fdata + ">" + tlist[i];
                    }
                    if (tlist[i] == prename) {
                        targettext = 1;
                    }


                }


            }
            $("#parentId").val(Id);
            $("#catflow").val(fdata + ">");


        }
        function condata(name, Id, sl) {
            var prename = name;
            var matched = $("#catbox div");

            for (var i = 1; i <= matched.length; i++) {
                if (sl != 1) {
                    if (i > sl) {
                        var j = i + 1;
                        $("#ss" + j).remove();
                        $("#l" + j).remove();

                    }

                }


            }
            if (sl == 0) {

                $("#l2").empty();

            }
            else {
                var sldata = SLID + 1;
                if (sldata != 1) {
                    $("#l" + sldata).empty();
                }

            }
            var data = $("#catflow").val();
            var x = data.split(">");
            // var i = x.length();
            var fdata = "";
            for (var i = 0; i < x.length; i++) {

                fdata = x[i]

            }
            if (sl == 0) {
                name = name;
            }
            else {
                name = data.replace(fdata, "") + name;
            }
            GetElementInsideContainer("l" + sl, "a" + Id);
            // $('#a' + Id).css("color", "blue");

            $("#catflow").val(name);

            if (sl == 1) {
                $("#catflow").val(prename);
            }
            //  $("#parentName").val(name);
            $("#parentId").val(Id);

        }
        function RefreshAllD() {
            var matched = $("#catbox div");

            for (var i = 1; i <= matched.length; i++) {
                var j = i + 1;
                $("#ss" + j).remove();
                $("#l" + j).remove();
            }
            Common.Ajax('GET', '/global/api/patentCatItem/', [], 'json', GetItemList);
            $("#header_inners").hide();
            $("#catflow").val('');
            $("#parentName").val('');
            $("#parentId").val('');
        }
        function confirmD() {
            var Id = $("#parentId").val();

            if (Id == "") {
                swal("Please select last node.");
                return;
            }
            var name = $("#catflow").val();
            $("#parentName").val(name);
            Common.Ajax('GET', '/global/api/patentCatItem/', [], 'json', GetItemList);
            $("#header_inners").hide();
            $("#catflow").val('');

        }
        function GetItemListC(response) {

            SLID = SLID + 1;


            $.each(response.itemCategories, function (i, option) {

                var jj = 0;

                $.each(response.itemCategoriesall, function (j, ff) {

                    if (ff.parentId == option.Id) {
                        jj += 1;

                    }

                });



                if (jj > 0) {

                    var lll = $('#l' + SLID).length;

                    if (lll != 1) {

                        $('#searchbox').append('<div class="form-group row col-sm-3 ml-2" id="ss' + SLID + '" style = "width: 170px;border:1px solid currentColor">' +
                            '<div class="form-group has-search">' +
                            '<span class="fa fa-search form-control-feedback" style="margin-top: 10px;" ></span>' +
                            '<input type="text" id="myInput' + SLID + '" onclick="searchcat(' + SLID + ')" class="form-control" placeholder="Search-' + SLID + '" style="margin-top: 10px;">' +
                            '</div></div>');
                        $('#catbox').append('<div class="form-group row col-sm-3 ml-2 mycontent panel" id="l' + SLID + '" style="height: auto;border:1px solid currentColor"> </div >');


                    }
                    $('#l' + SLID).append('<a  class="col-sm-12 data' + SLID + '" id="a' + option.Id + '" onclick="nextdata(' + "'" + option.categoryName + "'," + option.Id + ',' + SLID + ')" style="color:grey;font-weight:700" href="javascript:void(0)">' + option.categoryName + '<i class="fas fa-angle-right"></i></a>');
                }
                else {
                    var lll = $('#l' + SLID).length;

                    if (lll != 1) {

                        $('#searchbox').append('<div class="form-group row col-sm-3 ml-2" id="ss' + SLID + '" style = "width: 170px;border:1px solid currentColor">' +
                            '<div class="form-group has-search">' +
                            '<span class="fa fa-search form-control-feedback" style="margin-top: 10px;"></span>' +
                            '<input type="text" id="myInput' + SLID + '" onclick="searchcat(' + SLID + ')" class="form-control" placeholder="Search-' + SLID + '" style="margin-top: 10px;">' +
                            '</div></div>');
                        $('#catbox').append('<div class="form-group row col-sm-3 ml-2 mycontent panel" id="l' + SLID + '" style="height: auto;border:1px solid currentColor"> </div >');


                    }
                    $('#l' + SLID).append('<a  class="col-sm-12" id="a' + option.Id + '" onclick="condata(' + "'" + option.categoryName + "'," + option.Id + ',' + SLID + ')" style="color:grey;font-weight:700" href="javascript:void(0)">' + option.categoryName + '</a>');
                }
                //if (SLID != 1) {
                //    $('#catbox').each(function () {
                //        var $panels = $(this).find('.panel');
                //        var tallest = 0;
                //        //find tallest
                //        $panels.each(function () {
                //            var ph = $(this).height();
                //            if (ph > tallest) tallest = ph;
                //        });
                //        $panels.height(tallest);

                //    });

                //}


            });
            scrollcount = 0;
            animatethis($('#catbox'), 170);
            animatethis($('#searchbox'), 170);
            scrollcount = 1;

        }
        var scrollcount = 0;
        function animatethis(targetElement, speed) {
            if (scrollcount == 0) {
                var scrollWidth = $(targetElement).get(0).scrollWidth;
                var clientWidth = $(targetElement).get(0).clientWidth;
                $(targetElement).animate({ scrollLeft: scrollWidth - clientWidth }
                    //,
                    //{
                    //    duration: speed,
                    //    complete: function () {
                    //        targetElement.animate({ scrollLeft: 0 },
                    //            {
                    //                duration: speed,
                    //                complete: function () {
                    //                    animatethis(targetElement, speed);
                    //                }
                    //            });
                    //    }
                    //}
                );
            }

        };
        function ShowTree() {
            Id = $("#parentId").val();

            Common.Ajax('GET', '/MasterData/ItemCategory/GetCategoriesJson/?org=' + Id, [], 'json', ajaxHandle);
        }
		function Edit(Id, itemCategoryName, categoryDescription, parentId) {
            $("#itemcategoryId").val(Id);
            $("#categoryName").val(itemCategoryName);
            //$("#categoryPrefix").val(catepre);

            $("#categoryDescription").val(categoryDescription);
			$("#parentId").val(parentId);


            //Common.Ajax('GET', '/global/api/ItemCategory/' + parentId, [], 'json', GetItemCategoryName);
            Common.Ajax('GET', '/global/api/ItemSpecCategory/' + Id, [], 'json', ajaxLedgerRelation, false);

			Common.Ajax('GET', '/SCMMasterData/ItemCategory/getParentCategories?Id=' + Id, [], 'json', ajaxSup1, false);
		}
		function ajaxSup1(response) {
			console.log(response);
			$('#select_parent_label_id1').val(response);

		}
        function ajaxLedgerRelation(response) {
            console.log(response);
            $('#SubLedgerList').empty();
            $.each(response, function (i, item) {
                if (item.specificationCategoryName != null) {
                    //$('#SubLedgerList').append('<span class="spanClass" id="LgRln' + item.id + '" >' + item ?.ledger ?.accountName + '</span>');
                    var id = 0;


                    var count = 0;
                    $('#SubLedgerList').find('input[type="hidden"]').each(function () {
                        count += 1
                        //alert(count);
                        //$('#LgIss' + count + '').prop("disabled", true);

                    });
                    id = count;
                    $('#SubLedgerList').append('<input type="hidden" name="descriptions[]" id="Lg' + id + '" value="' + item ?.specificationCategoryName + '"><span class="spanClass" id="LgId' + id + '" >' + item ?.specificationCategoryName + '<a href="#"><span class="crossButton" onclick="DeleteGroup(' + "'" + id + "'" + ')">X</span></a></span>');

                }

            });
        }
        function ajaxHandle(response) {
            console.log(response);
            GenerateTree(response.menus);
        }
        function RefreshAll() {
            location.reload();
        }

		//Parent child parent child load

		function parentFun() {

			$("#parent_list_div_id").show();
		}

		var lastClicked = 0;
		var lastChild = 0;
		var col = 2;
		var spanTag = 1;
		var searchId = 2;
		function viewSubParent(id, colClicked, lastNode) {
			console.log('ok2')
			console.log(id + ' ' + colClicked + ' ' + lastNode)
			//alert(id);
			//alert(colClicked);

			$(".caregory_block_col_cls").each(function () {

				var id = this.id;
				var test = id.split("_");
				var index = test[test.length - 1];
				console.log('index = ' + index);
				console.log('colClicked = ' + colClicked);
				if (index > colClicked) {

					$("#categoryBlockColId_" + index).remove();
				}

			});

			for (var i = 0; i <= spanTag; i++) {

				if (colClicked <= i) {
					$("#currentLocationId_" + i).remove();
				}
			}

			$("#select_parent_label_id").text($("#label_id_" + id).text());
			if (lastClicked == id) {

				return false;
			}
			else if (lastNode == 0) {

				lastClicked = id;
				lastChild = 1;
				var locationText = $("#label_id_" + id).text();
				$("#current_location_id").append('<span id="currentLocationId_' + spanTag + '" style="color: #1e90ff">' + locationText + '</span>');
				$("#parentId").val(id);
				$(".category_cls_" + colClicked).css('border-left', '5px solid silver');
				$("#label_id_" + id).css('border-left', '5px solid red');

			} else if (lastNode == null) {

				lastClicked = id;
				$("#parentId").val(id);
				$(".category_cls_" + colClicked).css('border-left', '5px solid silver');
				$("#label_id_" + id).css('border-left', '5px solid red');
				var locationText = $("#label_id_" + id).text() + '> ';
				$("#current_location_id").append('<span id="currentLocationId_' + spanTag + '" style="color: #1e90ff">' + locationText + '</span>');

			}

			if (lastNode == null) {

				$.ajax({
					url: "/SCMMasterData/Item/GetItemCategoryByParentId/" + id,
					type: "get",
					success: function (res) {
						console.log("ok");
						console.log(res);
						if (res != null) {

							if (res.length > 0) {

								$("#category_block_row_id").append('<div class="caregory_block_col_cls" id="categoryBlockColId_' + col + '" style="width:252px; height:320px; overflow:auto; padding-left: 10px; border: 1px solid lightgray; padding-right: 10px; padding-top: 12px;"> <div><input type="text" id="filter_category_id_' + searchId + '" onkeyup="filterCategoryFun(' + searchId + ')" class="form-control" placeholder="name" style="width: 230px; margin-bottom: 10px;"></div></div>');

							}
							$.each(res, function (i, e) {
								//alert(e.countChild);
								//alert(e.Id)

								if (e.countChild > 0) {

									$("#categoryBlockColId_" + col).append('<label class="btn category_common_cls category_cls_' + searchId + '" id="label_id_' + e.Id + '" href="#" onclick="viewSubParent(' + e.Id + "," + col + ')" style="border-radius: 0; border-left: 5px solid silver; text-align: left; width: 230px; background: #E9EBEC; margin-top: -7px;color:gray">' + e.categoryName + '&nbsp;<span><img src="/images/arrow.png" style="height: 12px; width: 12px; float: right;margin-top: 6px;"/></span></label>');
								}
								else {

									$("#categoryBlockColId_" + col).append('<label class="btn category_common_cls category_cls_' + searchId + '" id="label_id_' + e.Id + '" href="#" onclick="viewSubParent(' + e.Id + "," + col + ')" style="border-radius: 0; border-left: 5px solid silver; text-align: left; width: 230px; background: #E9EBEC; margin-top: -7px;color:gray">' + e.categoryName + '&nbsp;</label>');
									//$("#categoryBlockColId_" + col).append('<label class="btn category_common_cls category_cls_' + searchId + '" id="label_id_' + e.Id + '" href="#" onclick="viewSubParent(' + e.Id + "," + col + "," + 0 + ')" style="border-radius: 0; border-left: 5px solid silver; text-align: left; width: 230px; background: #E9EBEC; margin-top: -7px;color:gray">' + e.categoryName + '&nbsp;</label>');
								}

							});

							col++;
							spanTag++;
							searchId++;
						}
					}
				});
			}

		}

		function filterCategoryFun(searchId) {

			console.log(searchId);
			var value = $('#filter_category_id_' + searchId).val().toLowerCase();
			$(".category_cls_" + searchId).filter(function () {
				$(this).toggle($(this).html().toLowerCase().indexOf(value) > -1);
			});
		}

		function confirmFun() {
			var cat = $("#current_location_id").text();
			$("#select_parent_label_id").text($("#current_location_id").text());
			$("#select_parent_label_id1").val(cat.substring(19, cat.length - 4));
			$("#parent_list_div_id").hide();
		}
		function clearFun() {
			location.reload();
		}
    </script>
}

