@model OPUSERP.CLUB.Data.Hall.HallRentalApplicationInfo

@{
    ViewData["Title"] = "RentalDetailsInfo";
}

<h1>RentalDetailsInfo</h1>

<div>
    <h4>HallRentalApplicationInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hallInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hallInfo.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hallRentalShift)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hallRentalShift.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hallRent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hallRent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rentalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rentalDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rentalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rentalTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.applicantName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.applicantName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.applicantOrganization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.applicantOrganization)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.applicantAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.applicantAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mobileNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mobileNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.applicantSignUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.applicantSignUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.paymentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.paymentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isPaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isPaid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.chiefGuest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.chiefGuest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.specialGuest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.specialGuest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.remarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isDelete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createdAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createdAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.updatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.updatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createdBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createdBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.updatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.updatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
