@model LoanScheduleViewModel
@{
    ViewData["Title"] = "Loan Schedule ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style{
    <style>
        ul.ui-autocomplete {
            z-index: 99999999;
        }
    </style>
}

<div class="card" style="width: 100%;">
    <div class="card-body">
        <h5 class="card-title" style="color: black">Loan Application </h5>
        <hr>
        <div class="container">
            <form asp-area="Payroll" asp-controller="Adjustment" asp-action="LoanSchedule" method="post" data-parsley-validate="parsley">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row">
                    <input type="hidden" id="advanceAdjustmentId" name="advanceAdjustmentId" value=0>
                    <input type="hidden" id="employeeInfoId" name="employeeInfoId">
                    <div class="col-sm-7">
                        <div class="form-group row">
                            <label for="employeeName" class="col-sm-4 col-form-label">Employee's Name <span style="color:red;">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="employeeName" name="employeeName" data-parsley-required="true" data-parsley-trigger="keyup" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Designation" class="col-sm-4 col-form-label">Designation </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="Designation" name="Designation" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="employeeCode" class="col-sm-4 col-form-label">@Model.visualEmpCodeName</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="employeeCode" name="employeeCode" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="subsEmpName" class="col-sm-4 col-form-label">Recommender Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="subsEmpName" value="@Model.approvalDetail?.approver?.nameEnglish" id="subsEmpName" required readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="approverDesignation" class="col-sm-4 col-form-label">Recommender Desig.</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="@Model.approvalDetail?.approver?.designation" name="approverDesignation" id="approverDesignation" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="date" class="col-sm-4 col-form-label">Apply Date <span style="color:red;">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="date" autocomplete="off" name="date">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="loanPolicyId" class="col-sm-4 col-form-label">Loan Policy <span style="color:red;">*</span></label>
                            <div class="col-sm-8">
                                <select name="loanPolicyId" id="loanPolicyId" class="form-control" data-parsley-required="true">
                                    <option value="">Select Loan Policy</option>
                                    @foreach (var data in Model.loanPolicies)
                                    {
                                        <option value="@data.Id">@data.loanPolicyName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="purpose" class="col-sm-4 col-form-label">Purpose</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="purpose" name="purpose">
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-5">
                        <div class="form-group row">
                            <label for="maximumLoanAmount" class="col-sm-5 col-form-label">Maximum Limit</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control text-right" id="maximumLoanAmount" name="maximumLoanAmount" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="advanceAmount" class="col-sm-5 col-form-label">Loan Amount<span style="color:red;">*</span></label>
                            <div class="col-sm-7">
                                <input type="number" class="form-control text-right" id="advanceAmount" name="advanceAmount" data-parsley-required="true">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="interestRate" class="col-sm-5 col-form-label">Interest Rate(%)</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control text-right" id="interestRate" name="interestRate" onkeyup="CalInterest()" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="interestAmount" class="col-sm-5 col-form-label">Interest Amount</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control text-right" id="interestAmount" name="interestAmount" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="totalAmountWithInterest" class="col-sm-5 col-form-label">Total Loan Amount</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control text-right" id="totalAmountWithInterest" name="totalAmountWithInterest" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="installmentAmount" class="col-sm-5 col-form-label">Monthly installment</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control text-right" id="installmentAmount" name="installmentAmount" data-parsley-required="true" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="noOfInstallment" class="col-sm-5 col-form-label">No of Installment</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control text-right" id="noOfInstallment" name="noOfInstallment" data-parsley-required="true" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <button type="submit" value="Submit" title="Save" class="btn btn-success btn-lg" style="float:right; margin-top:5px;"><i class="fas fa-save"></i></button>
            </form>
        </div>
    </div>
</div>
<br />
<div class="row clearfix">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">List of Loan Application</h6>
            </div>
            <div class="card-body">
                <table class="table table-striped table-bordered" id="leaveTable">
                    <thead>
                        <tr>
                            <th width="5%">SL#</th>
                            <th>Employee Code</th>
                            <th>Employee Name</th>
                            <th>Designation</th>
                            <th>Salary Head</th>
                            <th>Start Date</th>
                            <th>Advance Amount</th>
                            <th>Action</th>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            @foreach (var data in Model.loanScheduleMasters)
                            {
                                <tr>
                                    <td width="5%">@i</td>
                                    <td>@data.employeeInfo.employeeCode</td>
                                    <td>@data.employeeInfo.nameEnglish</td>
                                    <td>@data.employeeInfo.designation</td>
                                    <td>@data.loanPolicy.salaryHead.salaryHeadName</td>
                                    <td>@data.loanDate?.ToString("dd-MMM-yyyy")</td>
                                    <td style="text-align:right;">@data.totalLoanAmount?.ToString("0,0.00")</td>
                                    <td>
                                        @if (data.approveStatus == 1)
                                        {
                                            <a class="btn btn-info" title="View" target="_blank" href="~/Payroll/Adjustment/ReportLoanSchedulePdf/@data.Id"><i class="fa fa-file-pdf "></i></a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-success" title="Edit" href="~/Payroll/Adjustment/EditLoanSchedule/@data.Id"><i class="fa fa-edit "></i></a>
                                            <a class="btn btn-info" title="View" target="_blank" href="~/Payroll/Adjustment/ReportLoanSchedulePdf/@data.Id"><i class="fa fa-file-pdf "></i></a>
                                        }
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            $('#leaveTable').DataTable();

            $("#date").datepicker({ dateFormat: "dd-M-yy", showAnim: "scale", changeMonth: true, changeYear: true, yearRange: "2010:2030" }).datepicker("setDate", new Date());

            //$("#installmentAmount").keyup(function () {
            //    GetInstallment();
            //});
            $("#advanceAmount").keyup(function () {
                CalInterest();               
            });
            //$("#noOfInstallment").keyup(function () {
            //    GetMonthly();
            //});

            $("#loanPolicyId").change(function () {
                Common.Ajax('GET', '/Payroll/Adjustment/GetLoanPolicyById/?id=' + $(this).val(), [], 'json', ajaxGetLoanPolicyById);
            });

            Common.Ajax('GET', '/Payroll/Adjustment/GetEmployeeInfoByCode', [], 'json', ajaxGetEmployeeInfoByCode);

        });

        function ajaxGetLoanPolicyById(response) {
            $("#maximumLoanAmount").val(response.maximumLoanAmount.toFixed(2));
            $("#interestRate").val(response.loanInterestRate.toFixed(2));
            $("#noOfInstallment").val(response.loanNoOfInstallment);            
        }

        function ajaxGetEmployeeInfoByCode(response) {
            $("#employeeInfoId").val(response.Id);
            $("#employeeName").val(response.nameEnglish);
            $("#employeeCode").val(response.employeeCode);
            $("#Designation").val(response.designation);
        }

        function GetInstallment() {
            var totalAmount = $("#totalAmountWithInterest").val();
            var monthlyAmount = $("#installmentAmount").val();
            if ($("#totalAmountWithInterest").val() == '' || $("#installmentAmount").val() == '') {
                totalAmount = 0;
                monthlyAmount = 0;
            }
            $("#noOfInstallment").val(parseFloat(totalAmount / monthlyAmount).toFixed(0));
        }

        function GetMonthly() {
            var totalAmount = $("#advanceAmount").val();
            var noOfInstal = $("#noOfInstallment").val();
            if ($("#advanceAmount").val() == '' || $("#noOfInstallment").val() == '') {
                totalAmount = 0;
                noOfInstal = 0;
            }
            $("#installmentAmount").val(parseFloat(totalAmount / noOfInstal).toFixed(2));
        }

        function CalInterest() {
            var totalAmount = $("#advanceAmount").val();
            var interestRate = $("#interestRate").val();
            var noOfInstall = $("#noOfInstallment").val();
            if ($("#advanceAmount").val() == '' || $("#interestRate").val() == '') {
                totalAmount = 0;
                interestRate = 0;
            }
            var interest = parseFloat((totalAmount / 100) * interestRate).toFixed(2);
            var total = parseInt(totalAmount) + parseInt(interest);
            $("#interestAmount").val(parseFloat((totalAmount / 100) * interestRate).toFixed(2));
            $("#totalAmountWithInterest").val(total.toFixed(2));

            $("#installmentAmount").val(parseFloat(total / noOfInstall).toFixed(2));
        }

    </script>
}



















