@model AllEmployeeLate

  @{
	  ViewData["Title"] = "Absent Report";
	  Layout = "~/Views/Shared/_PrintView.cshtml";
}


<div class="card" style="width: 100%;">
	<div class="card-header row" style="">
		<div class="col-7">
			<h5 class="card-title" style="color: black">Absent Report(All Employees)</h5>
		</div>
		
	</div>
	@*<img src="~/Assets/processing.gif" id="loader" style="display: none; width: 400px; margin: 0 auto;" />*@
	<div class="card-body">
		<div class="row">
			<div class="col-sm-12 row">
				<div class="col-7" style="color: black; font-size: 17px; padding-top: 24px;">
					<table style="border:none;">
						<tr>
							<td id="ChangeYear"> <span style="font-weight:bold;">Month  </span></td>
							<td>
								@ViewBag.month
							</td>
						</tr>
						@if (Model.departmentName != null)
						{
							<tr>
								<td><span style="font-weight:bold;">Department</span><span style="margin-left:3px;"></span> </td>
								<td>
									@Model.employeeLates?.FirstOrDefault()?.employee?.department?.deptName
								</td>
							</tr>
						}
						@if (Model.designationName != null)
						{
							<tr>
								<td><span style="font-weight:bold;">Designation</span><span style="margin-left:5px;"></span></td>
								<td>
									@Model.employeeLates?.FirstOrDefault()?.employee?.lastDesignation?.designationName
								</td>
							</tr>
						}
						@*@if (Model.shiftName != null)
						{
							<tr>
								<td><span style="font-weight:bold;">Shift </span><span style="margin-left:13px;"></span></td>
								<td>
									@Model.employeeLates?.FirstOrDefault()?.employee?.shiftGroup?.shiftName
								</td>
							</tr>
						}*@

					</table>
				</div>
				<div class="col-5">

					<div class="card-body">
						<table class="table table-striped  table-bordered" id="particularTable">
							<thead>
								<tr style="background-color:gray;">
									<th>Particular</th>
									<th>Days</th>
								</tr>
							</thead>
							<tbody>

								<tr>
									<td>Total Active Employees</td>
									<td id="tActive">@Model.allActive</td>
								</tr>
								@*<tr>
									<td>Total Absent Employees</td>
									<td id="tAbsent">@Model.allAbsent</td>
								</tr>*@

							</tbody>
						</table>
					</div>

				</div>
			</div>
		</div>


	</div>
</div>
<hr />

<div class="row clearfix">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<table class="table  table-striped table-bordered nowrap" id="attendenceTable">
					<thead>
						<tr>
							<th>Employee Name</th>
							<th>Employee Id</th>
							<th>Total Working Days</th>
							<th>Total Absent Days</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model.employeeLates)
						{
							@if (item.totalAbsent > 0)
							{
								<tr>
									<td>@item.employee?.nameEnglish</td>
									<td>@item.employee?.Id</td>
									<td>@item.totalPresent</td>
									<td>@item.totalAbsent</td>
								</tr>
							}
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

@section Scripts{
	<script src="~/Assets/paginathing.js"></script>
	<script>
		$(document).ready(function () {
		});
	</script>
}