@model AssetReportViewModel
@{
    ViewData["Title"] = "Asset Retirement Report";
    Layout = "~/Views/Shared/_PrintView.cshtml";
}

@section Style{
    <style>
        .print-card-body {
            width: 100%;
            padding-bottom: 10px;
        }

        .vartical-table th {
            width: 25%;
        }

        .vartical-table td {
            width: 25%;
        }

        .horizontal-table {
            /*width: 100%;*/
        }

        .table td, .table th {
            padding: .3rem;
            font-size: 15px;
        }

        table {
            page-break-inside: auto;
        }

        tr {
            page-break-inside: avoid;
            page-break-after: auto;
        }

        thead {
            display: table-header-group;
        }

        tfoot {
            display: table-footer-group;
        }

        h6 {
            font-size: 14px;
            background-color: gray;
            color: white !important;
            padding: 3px;
        }
    </style>
}

<div class="print-card" style="width: 100%;">
    <div class="print-card-body">
        <div class="container-fluid">
            <div class="row" style="padding-top:0px;">
                <div class="col-2">
                    <img src="@Model.companies.FirstOrDefault().filePath" alt="OPUS ERP" style="height:80px;" />
                </div>
                <div class="col-8">
                    <div style="color:black;text-align:center;">                        
                        <h3>@Model.companies.FirstOrDefault().companyName</h3>
                        <label>@Model.companies.FirstOrDefault().addressLine</label>
                        <h5>Asset Disposal Information</h5>
                        <h5>From @ViewBag.FromDate To @ViewBag.ToDate</h5>
                        <br />
                    </div>
                </div>
                <div class="col-2 fa-pull-right">
                    <p style="font-size:smaller;">Print at: @DateTime.Now.ToString("dd-MMM-yyyy HH:mm:ss")</p>
                </div>
            </div>
        </div>

        <div class="container-fluid" style="color:black;">
            <div class="row" style="padding: 0px 15px 0px 15px;">
                <table class="table table-bordered">
                    <thead>
                        <tr style="background-color:lightgray;">
                            <th style="text-align:center;width:5%;">Sl#</th>
                            <th style="text-align:center;width:10%;">Inventory No</th>
                            <th style="text-align:center;width:10%;">Asset Category</th>
                            <th style="text-align:center;width:10%;">Source of Procurement</th>
                            <th style="text-align:center;width:15%;">Asset Name</th>
                            <th style="text-align:center;width:15%;">Asset Description</th>
                            <th style="text-align:center;width:10%;">Serial No</th>
                            <th style="text-align:center;width:10%;">Procurement Date</th>
                            <th style="text-align:center;width:10%;">Asset Location</th>
                            <th style="text-align:center;width:10%;">Useful Life</th>
                            <th style="text-align:center;width:10%;">Disposal Date</th>
                            <th style="text-align:center;width:5%;">Disposal Type</th>
                            <th style="text-align:center;width:10%;">Asset Value</th>
                            <th style="text-align:center;width:10%;">Acc. Depreciation</th>
                            <th style="text-align:center;width:10%;">WDV</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{

                            @foreach (var data in @Model.assetRetirementReportViewModels)
                            {
                                <tr>
                                    <td style="text-align:center;">@data.rowSlNo</td>
                                    <td>@data.assetNo</td>
                                    <td>@data.categoryName</td>
                                    <td>@data.sourceName</td>
                                    <td>@data.itemName</td>
                                    <td>@data.assetDescription</td>
                                    <td>@data.assetSerialNo</td>
                                    <td>@data.purchaseDate</td>
                                    <td>@data.assetLocation</td>
                                    <td>@data.usefulLife</td>
                                    <td>@data.retirementDate</td>
                                    <td>@data.assetRetirementTypeName</td>
                                    <td style="text-align:right;">@data.assetValue?.ToString("0,0.00")</td>
                                    <td style="text-align:right;">@data.accumuDepreciation?.ToString("0,0.00")</td>
                                    <td style="text-align:right;">@data.wDvalue?.ToString("0,0.00")</td>
                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="12" style="text-align:right;">Total</th>
                            <th style="text-align:right;">@Model.assetRetirementReportViewModels.Sum(x => x.assetValue)?.ToString("0,0.00")</th>
                            <th style="text-align:right;">@Model.assetRetirementReportViewModels.Sum(x => x.accumuDepreciation)?.ToString("0,0.00")</th>
                            <th style="text-align:right;">@Model.assetRetirementReportViewModels.Sum(x => x.wDvalue)?.ToString("0,0.00")</th>
                            @*<th></th>*@
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
}