@model PayrollReportViewModel
@{
    ViewData["Title"] = "StaffLoanBalanceAsOnDateView";
    Layout = "~/Views/Shared/_PrintView.cshtml";
}


<style>

    .print-card-body {
        width: 100%;
        padding-bottom: 10px;
    }

    .vartical-table th {
        width: 25%;
    }

    .vartical-table td {
        width: 25%;
    }

    .table td, .table th {
        padding: .3rem;
        font-size: 14px;
        border: 1px solid black !important;
    }

    table {
        page-break-inside: auto;
        border-collapse: collapse;
        border: 1px solid black !important;
    }

    tr {
        page-break-inside: avoid;
        page-break-after: auto;
        border: 1px solid black !important;
    }

    thead {
        display: table-header-group;
        border: 1px solid black !important;
    }

    tfoot {
        display: table-footer-group;
        border: 1px solid black !important;
    }

    h6 {
        font-size: 14px;
        background-color: gray;
        color: white !important;
        padding: 3px;
    }
</style>


<div class="print-card" style="width: 100%;">
    <div class="print-card-body">

        <div class="container-fluid">
            @*<div class="fa-pull-right">
                <p style="font-size:smaller;">Print at: @DateTime.Now.ToString("dd-MMM-yyyy HH:mm:ss")</p>
            </div>*@
            <div class="row" style="padding-top:0px;">
                <div class="col-2">
                    <img src="/EmpImages/@Model.companies.FirstOrDefault().filePath" alt="BDBL Logo" style="height:80px;" />
                </div>
                <div class="col-8">
                    <div style="color:black;text-align:center;">
                        <h3 style="font-size:20px;">@Model.companies.FirstOrDefault()?.companyName</h3>
                        <h3 style="font-size:18px;"> Central Accounts Department</h3>
                        <h3 style="font-size:18px;"> Disbursment Without Installment</h3>
                        <br />
                    </div>
                </div>
                <div class="col-2">

                </div>
            </div>

            <div class="row" style="padding-top:0px; color: black;">
                <div class="col-6">
                </div>
                <div class="col-6 text-right">
                    Date Range: @ViewBag.startDate to @ViewBag.endDate
                </div>
            </div>
        </div>
        <div class="container-fluid ">
            <div class="col-12">
                <h3 style="font-size:18px;color:black"> </h3>
            </div>
        </div>
        <br />
        <div class="container-fluid" style="color:black;">
            <h5></h5>
            <table class="table table-bordered">
                <thead>
                    <tr style="text-align: center;">
                        <th>E.Id</th>
                        <th>Name</th>
                        <th>Designation</th>
                        <th>Loan Type</th>
                        <th>Date</th>
                        <th>Principal</th>
                        @*<th>Interest</th>
                        <th>Charge</th>*@
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                   @{
                       int i = 1;
                       decimal totalPrincipal = 0;
                       decimal totalInterest = 0;
                       decimal totalCharge = 0;
                       decimal totaltotal = 0;
                    }
                    @foreach (var data in Model.allStaffLoanVms)
                    {
                        decimal total = Convert.ToDecimal(data.principal) + Convert.ToDecimal(data.interest) + Convert.ToDecimal(data.charge);

                        <tr>
                            <td>@data.employeeCode</td>
                            <td>@data.nameEnglish</td>
                            <td style="text-align: center;">@data.shortName</td>
                            <td style="text-align: center;">@data.loanType</td>
                            <td style="text-align: center;">@data.effectiveDate?.ToString("dd/MM/yyyy")</td>
                            <td style="text-align: right;">@data.principal?.ToString("N2")</td>
                            @*<td style="text-align: right;">@data.interest?.ToString("N2")</td>
                            <td style="text-align: right;">@data.charge?.ToString("N2")</td>*@
                            <td style="text-align: right; width: 15%;">@data.total?.ToString("N2")</td>
                        </tr>
                        totalPrincipal += Convert.ToDecimal(data.principal);
                        //totalInterest += Convert.ToDecimal(data.interest);
                        //totalCharge += Convert.ToDecimal(data.charge);
                        totaltotal += Convert.ToDecimal(data.total);
                        i++;
                    }
                    <tr>
                        <th colspan="5" style="text-align: right;">Total</th>
                        <th style="text-align: right;">@totalPrincipal.ToString("N2")</th>
                        @*<th style="text-align: right;">@totalInterest.ToString("N2")</th>
                        <th style="text-align: right;">@totalCharge.ToString("N2")</th>*@
                        <th style="text-align: right;">@((totalPrincipal + totalInterest + totalCharge).ToString("N2"))</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

