@model PayrollReportViewModel
@{
    ViewData["Title"] = "Cash Statement";
    Layout = "~/Views/Shared/_PrintView.cshtml";
}
@section Style{
    <style>

        .print-card-body {
            width: 100%;
            padding-bottom: 10px;
        }

        .vartical-table th {
            width: 25%;
        }

        .vartical-table td {
            width: 25%;
        }

        .horizontal-table {
            /*width: 100%;*/
        }

        .table td, .table th {
            padding: .3rem;
            font-size: 15px;
        }

        table {
            page-break-inside: auto
        }

        tr {
            page-break-inside: avoid;
            page-break-after: auto
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-footer-group
        }

        h6 {
            font-size: 14px;
            color: black !important;
            padding: 3px;
        }
    </style>
}
<div class="print-card" style="width: 100%;">
    <div class="print-card-body">
        <div class="container-fluid">
            <div style="width:100%;overflow:hidden;">
                <div style="width:10%;float:left;">

                    <img src="/Assets/bdbl.png" alt="" style="height:50px;">
                    @*<img src="@Model.companies?.FirstOrDefault().filePath" alt="OPUS ERP" style="height:50px;" />*@
                </div>
                <div style="width:80%;float:left;">
                    <h3 style="text-align:center;color:black;"><b>@Model.companies?.FirstOrDefault()?.companyName</b></h3>
                    <br />
                    <p style="text-align:center;color:black;">@Model.companies?.FirstOrDefault()?.addressLine</p>
                    <h5 style="text-align:center;color:black;font-size:larger;">Cash sheet for the Month of @Model.bankStatementReportViewModels?.FirstOrDefault().periodName</h5>
                </div>
                <div style="width:10%;float:right;">
                    <div class="fa-pull-right">
                        <h5 style="text-align:right;color:black;">@Model.bankStatementReportViewModels?.FirstOrDefault()?.lockLabel</h5>
                    </div>
                </div>
            </div>
        </div>
        <hr style="border:1px solid black;">

        <div class="container-fluid" style="color:black;">
            <div class="row" style="padding: 0px 15px 0px 15px;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:10%;text-align:center;vertical-align:middle;">SL No</th>
                            <th style="width:25%;text-align:center;vertical-align:middle;">Name of the Company's Employee</th>
                            <th style="width:25%;text-align:center;vertical-align:middle;">Designation</th>
                            <th style="width:15%;vertical-align:middle;vertical-align:middle;">Cash Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            @foreach (var data in Model.bankStatementReportViewModels.Where(a => a.cashPayable != 0))
                            {
                                <tr>
                                    <td style="text-align:center;">@i</td>
                                    <td>@data.nameEnglish</td>
                                    <td>@data.designation</td>
                                    <td style="text-align:right;">@data.cashPayable?.ToString("0,0.00")</td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                    <thead>
                        <tr>
                            <td colspan="3" style="text-align:right;font-weight:bold;font-size:medium;">Total Amount = </td>
                            <td style="text-align:right;font-weight:bold;font-size:medium;">@Model.bankStatementReportViewModels.Sum(x => x.cashPayable)?.ToString("0,0.00")</td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="container-fluid">
            <div style="text-align:left;">
                <label style="color:black"><b>In Word</b>: @ViewBag.InWord</label>
            </div>
        </div>
    </div>
</div>


@section Scripts{
}