@model PayrollReportViewModel
@{
    ViewData["Title"] = "Individual Loan";
    Layout = "~/Views/Shared/_PrintView.cshtml";
}

<style>

    .print-card-body {
        width: 100%;
        padding-bottom: 10px;
    }

    .vartical-table th {
        width: 25%;
    }

    .vartical-table td {
        width: 25%;
    }

    .table td, .table th {
        padding: .3rem;
        font-size: 14px;
        border: 1px solid black !important;
    }

    table {
        page-break-inside: auto;
        border-collapse: collapse;
        border: 1px solid black !important;
    }

    tr {
        page-break-inside: avoid;
        page-break-after: auto;
        border: 1px solid black !important;
    }

    thead {
        display: table-header-group;
        border: 1px solid black !important;
    }

    tfoot {
        display: table-footer-group;
        border: 1px solid black !important;
    }

    h6 {
        font-size: 14px;
        background-color: gray;
        color: white !important;
        padding: 3px;
    }
</style>


<div class="print-card" style="width: 100%;">
    <div class="print-card-body">

        <div class="container-fluid">
            <div class="fa-pull-right">
                <p style="font-size:smaller;">Print at: @DateTime.Now.ToString("dd-MMM-yyyy HH:mm:ss")</p>
            </div>
            <div class="row" style="padding-top:0px;">
                <div class="col-2">
                    <img src="/EmpImages/@Model.companies.FirstOrDefault().filePath" alt="BDBL Logo" style="height:80px;" />
                </div>
                <div class="col-8">
                    <div style="color:black;text-align:center;">
                        <h3 style="font-size:20px;">@Model.companies.FirstOrDefault()?.companyName</h3>
                        <h4 style="font-size:18px;"> Loan History of @Model.indLoan?.employee?.nameEnglish (@Model.indLoan?.employee?.employeeCode) </h4>
                        <br />
                    </div>
                </div>
                <div class="col-2">

                </div>
            </div>
        </div>
        <div class="container-fluid ">
            <div class="col-12">
                <h3 style="font-size:18px;color:black"> </h3>
            </div>
        </div>
        <br />
        <div class="container-fluid" style="color:black;">
            <table class="table table border" style="border:1px solid black !important">
                <thead>
                    <tr>
                        <th>Loan Type</th>
                        <th>Loan History</th>
                    </tr>
                </thead>
                <tbody>

                    @if (Model.indLoan.loans.Where(x => x.loanType == "MCAR").Count() > 0)
                    {
                        <tr>
                            <td>Motor Car Loan</td>
                            <td style="padding: 0;" colspan="4">
                                <table style="width: 100%;">
                                    <tr>
                                        <th>Sl</th>
                                        <th>Date</th>
                                        <th>Installment Amount</th>
                                        <th>Rest Amount</th>
                                    </tr>
                                    @foreach (var item in Model.indLoan.loans.Where(x => x.loanType == "MCAR").OrderBy(x => x.noOfInstallment))
                                    {
                                        <tr>
                                            <td>@item.noOfInstallment</td>
                                            <td>@item.installmentDate?.ToString("dd MMM yyyy")</td>
                                            <td style="text-align: right;">@item.installmentAmount</td>
                                            <td style="text-align: right;">@item.restAmount</td>
                                        </tr>
                                    }
                                </table>
                            </td>
                        </tr>
                    }
                    @if (Model.indLoan.loans.Where(x => x.loanType == "MCA").Count() > 0)
                    {
                        <tr>
                            <td>Motor Cycle Loan</td>
                            <td style="padding: 0;" colspan="4">
                                <table style="width: 100%;">
                                    <tr>
                                        <th>Sl</th>
                                        <th>Date</th>
                                        <th>Installment Amount</th>
                                        <th>Rest Amount</th>
                                    </tr>
                                    @foreach (var item in Model.indLoan.loans.Where(x => x.loanType == "MCA").OrderBy(x => x.noOfInstallment))
                                    {
                                        <tr>
                                            <td>@item.noOfInstallment</td>
                                            <td>@item.installmentDate?.ToString("dd MMM yyyy")</td>
                                            <td style="text-align: right;">@item.installmentAmount</td>
                                            <td style="text-align: right;">@item.restAmount</td>
                                        </tr>
                                    }
                                </table>
                            </td>
                        </tr>
                    }
                    @if (Model.indLoan.loans.Where(x => x.loanType == "CL").Count() > 0)
                    {
                        <tr>
                            <td>Computer Loan</td>
                            <td style="padding: 0;" colspan="4">
                                <table style="width: 100%;">
                                    <tr>
                                        <th>Sl</th>
                                        <th>Date</th>
                                        <th>Installment Amount</th>
                                        <th>Rest Amount</th>
                                    </tr>
                                    @foreach (var item in Model.indLoan.loans.Where(x => x.loanType == "CL").OrderBy(x => x.noOfInstallment))
                                    {
                                        <tr>
                                            <td>@item.noOfInstallment</td>
                                            <td>@item.installmentDate?.ToString("dd MMM yyyy")</td>
                                            <td style="text-align: right;">@item.installmentAmount</td>
                                            <td style="text-align: right;">@item.restAmount</td>
                                        </tr>
                                    }
                                </table>
                            </td>
                        </tr>
                    }
                    @if (Model.indLoan.loans.Where(x => x.loanType == "HBA-A13").Count() > 0)
                    {
                        <tr>
                            <td>Home Loan (After 2013)</td>
                            <td style="padding: 0;" colspan="4">
                                <table style="width: 100%;">
                                    <tr>
                                        <th>Sl</th>
                                        <th>Date</th>
                                        <th>Installment Amount</th>
                                        <th>Rest Amount</th>
                                    </tr>
                                    @foreach (var item in Model.indLoan.loans.Where(x => x.loanType == "HBA-A13").OrderBy(x => x.noOfInstallment))
                                    {
                                        <tr>
                                            <td>@item.noOfInstallment</td>
                                            <td>@item.installmentDate?.ToString("dd MMM yyyy")</td>
                                            <td style="text-align: right;">@item.installmentAmount</td>
                                            <td style="text-align: right;">@item.restAmount</td>
                                        </tr>
                                    }
                                </table>
                            </td>
                        </tr>
                    }
                    @if (Model.indLoan.loans.Where(x => x.loanType == "HBA-B13").Count() > 0)
                    {
                        <tr>
                            <td>Home Loan (Before 2013)</td>
                            <td style="padding: 0;" colspan="4">
                                <table style="width: 100%;">
                                    <tr>
                                        <th>Sl</th>
                                        <th>Date</th>
                                        <th>Installment Amount</th>
                                        <th>Rest Amount</th>
                                    </tr>
                                    @foreach (var item in Model.indLoan.loans.Where(x => x.loanType == "HBA-B13").OrderBy(x => x.noOfInstallment))
                                    {
                                        <tr>
                                            <td>@item.noOfInstallment</td>
                                            <td>@item.installmentDate?.ToString("dd MMM yyyy")</td>
                                            <td style="text-align: right;">@item.installmentAmount</td>
                                            <td style="text-align: right;">@item.restAmount</td>
                                        </tr>
                                    }
                                </table>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>



    </div>
</div>