@model PayrollReportViewModel
@{
    ViewData["Title"] = "Individual";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Style{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="~/css/site.css" rel="stylesheet" />

    <link href="~/lib/main.css" rel="stylesheet" />
    <style>
        #calendar a, #ui-datepicker-div a {
            color: black !important;
        }
        /* Top Counter */
        .leftImgBox {
            width: 20%;
            height: 100%;
            float: left;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 13px;
        }

            .leftImgBox img {
                width: 100%;
            }

            .leftImgBox i {
                font-size: 42px !important;
            }

        .counterBox {
            float: right;
            text-align: center;
            margin: 10px;
        }

        .counter {
            font-size: 25px;
            margin-bottom: 0;
        }

        .counterBox1 {
            float: right;
            text-align: right;
            margin: 0;
        }

        .counter1 {
            font-size: 20px !important;
            margin-bottom: 0;
        }

        .counter p {
            text-align: right;
        }

        .title {
            font-size: 15px;
        }

        a {
            color: white !important;
        }

            a:hover {
                color: white;
            }

        .active5 {
            color: darkgreen;
        }

        .redstar {
            color: red;
            float: right;
        }
    </style>
}
<div class="card" style="width: 100%;">
    <div class="card-header  d-flex flex-row align-items-center justify-content-between">
        <h5 class="m-0 font-weight-bold text-primary">Individual Salary Report For TAX</h5>
        <a class='btn btn-info mr-4' style="" data-toggle='tooltip' title='Go Back' href='/Home/GridMenuPage?moduleId=1017&perentId=6229'><i class="fas fa-angle-double-left"> <span style="">Back</span></i></a>

    </div>
    <div class="card-body">

        <div class="container">

            <div class="row">
                <div class="col-sm-12 row">
                    <div class="col-sm-2"></div>
                    <div class="col-10" style="color: black; font-size: 17px; padding-top: 24px;">

                        @if (User.IsInRole("UAT Payroll") || User.IsInRole("UAT Admin") || User.IsInRole("Payroll Report") || User.IsInRole("UAT TAX"))
                        {
                            <div class="form-group row">
                                <label for="type" class="col-sm-3 col-form-label" style="font-weight:bold;">Report Type </label>
                                <div class="col-md-7">
                                    <select class="form-control" id="rptType">
                                        <option value="1">All Report</option>
                                        <option value="0">Individual Report</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row" id="desBox">
                                <label for="designationId" class="col-sm-3 mt-2 col-form-label ind" style="font-weight:bold;">Designation Name </label>
                                <div class="col-sm-7">
									<select class="form-control" id="designationId" name="designationId">
										@foreach (var item in Model.designations.OrderBy(x => Convert.ToInt32(x.designationCode)))
										{
											<option value="@item.Id">@item.shortName</option>
										}
									</select>
                                </div>
                            </div>
                            <div class="form-group row" id="indBox" style="display: none;">
                                <label for="employeeInfoId" class="col-sm-3 mt-2 col-form-label ind" style="font-weight:bold;">Employee Name </label>
                                <div class="col-sm-7">
                                    <input type="hidden" class="form-control" id="empCode1" name="empCode">
                                    <input type="text" class="form-control" id="employeeName" autocomplete="off" placeholder="Search By Employee Name Or Code...">
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group row">
                                <label for="employeeInfoId" class="col-sm-3 col-form-label" style="font-weight:bold;">Employee Name </label>
                                <div class="col-sm-7">
                                    <input type="hidden" class="form-control" id="empCode1" name="" vlaue="@ViewBag.empCode">
                                    <input type="text" class="form-control" id="employeeName" value="@ViewBag.empName (@ViewBag.empCode)" readonly>
                                </div>
                            </div>
                        }


                        <div class="form-group row" style="padding-bottom: 35px;">

                            <label class="col-sm-3 col-form-label" style="padding-left:0px;">From Date : </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="FromDate" name="" value="" placeholder="From Date" readonly="readonly">
                            </div>
                            <label class="col-sm-1 col-form-label" style="padding-left: 0px;">To Date : </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="ToDate" name="" value="" placeholder="To Date" readonly="readonly">
                            </div>



                        </div>


                    </div>

                </div>
                <div class="col-sm-11">
                    <a class='btn btn-info' style="margin-left:27%;float:right" data-toggle='tooltip' href='javascript:void(0)' onclick="PrintPdf()"><i style="" class="fas fa-print"> Print</i></a>

                </div>
            </div>

        </div>
    </div>
</div>
<script>
    var empCode = '';
    $(document).ready(function () {
        $("#FromDate").datepicker({ dateFormat: "dd-M-yy", showAnim: "scale", changeMonth: true, changeYear: true, yearRange: "2015:2050" }).datepicker();
        $("#ToDate").datepicker({ dateFormat: "dd-M-yy", showAnim: "scale", changeMonth: true, changeYear: true, yearRange: "2015:2050" }).datepicker();
        Common.Ajax('GET', '/global/api/GetActiveAllEmployeeInfo', [], 'json', ajaxGetEmployees, false);

        empCode = '@ViewBag.empCode';

        $('#rptType').on('change', function () {
            if ($('#rptType :selected').val() == 1) {
                $('#indBox').hide();
                $('#desBox').show();
            }
            else {
				$('#indBox').show();
				$('#desBox').hide();
            }
        })
    });



    function ajaxGetEmployees(response) {
        var GeEmployeesList = [];
        console.log(response)
        $.each(response, function (id, option) {
            var obj = new Object();
            obj.key = option.Id;
            obj.value = option.nameEnglish + "(" + option.employeeCode + ")";
            obj.employeeCode = option.employeeCode;
            GeEmployeesList[GeEmployeesList.length] = obj;
        });
        $('#employeeName').autocomplete({
            source: GeEmployeesList,
            select: function (event, ui) {
                //$("#employeeName").val(ui.item.value);
                $("#employeeId").val(ui.item.key);
                $("#empCode1").val(ui.item.employeeCode);
            }
        });
    }
    function PrintPdf() {
        var fromd = $('#FromDate').val();
        var tod = $('#ToDate').val();
        //var empCodes = $('#empCode').val();
        var empCodes = '';
        if ($('#empCode1').val() != '') {
            empCodes = $('#empCode1').val();
        }
        else if(empCode != '' && ('@User.IsInRole("UAT Admin")' == 'False' || '@User.IsInRole("UAT Payroll")' == 'False' ||'@User.IsInRole("Payroll Report")' == 'False' || '@User.IsInRole("UAT TAX")' == 'False')){
            empCodes = empCode;
        }
        

        @*if (empCode != '' && ('@User.IsInRole("UAT Admin")' == 'False' || '@User.IsInRole("UAT Payroll")' == 'False' ||'@User.IsInRole("Payroll Report")' == 'False' || '@User.IsInRole("UAT TAX")' == 'False')) {
            empCodes = empCode;
        }
        else {
            var empCodes = $('#empCode1').val();
        }*@


        //alert(fromd)
        //alert(tod)

        if ($('#rptType :selected').val() == 1) {
            window.open('/Payroll/PayrollReport/AllTaxSalaryPDF1?desigId=' + $('#designationId').val() + '&fDate=' + fromd + '&tDate=' + tod, '_blank');
        }
        else {
            window.open('/Payroll/PayrollReport/IndivisualSalaryPDF?empCode=' + empCodes + '&fDate=' + fromd + '&tDate=' + tod, '_blank');
        }
    }
</script>