@model PayrollReportViewModel
@{
    ViewData["Title"] = "SBSReportView";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>SBS Report View</h1>

<div class="card">
	<div class="card-body">
		<table class="table table-bordered table-hover table-responsive" id="tbl">
			<thead>
				<tr>
					<th>Name</th>
					<th>Dated</th>
					<th>FIID</th>
					<th>FIBranchId</th>
					<th>SlNo</th>
					<th>ACID</th>
					<th>dateOfBirth</th>
					<th>GenderCode</th>
					<th>UniqueId</th>
					<th>eTin</th>
					<th>NatureOfLoan</th>
					<th>EcoSecId</th>
					<th>EcoPurId</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.sbsReport)
				{
					<tr>
						<td>@item.nameEnglish</td>
						<td>@item.Dated?.ToString("dd/MM/yyyy")</td>
						<td>@item.FIID</td>
						<td>@item.FIBranchId</td>
						<td>@item.SlNo</td>
						<td>@item.ACID</td>
						<td>@item.dateOfBirth?.ToString("dd/MM/yyyy")</td>
						<td>@item.GenderCode</td>
						<td>@item.UniqueId</td>
						<td>@item.eTin</td>
						<td>@item.NatureOfLoan</td>
						<td>@item.EcoSecId</td>
						<td>@item.EcoPurId</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

@section Scripts{ 
	<script>
		$(document).ready(function(){
			$('#tbl').DataTable({});
		})
	</script>
}