@model PayrollReportViewModel
@{
    ViewData["Title"] = "StaffLoanBalanceAsOnDate";
    Layout = "~/Views/Shared/_PrintView.cshtml";
}


<style>

    .print-card-body {
        width: 100%;
        padding-bottom: 10px;
    }

    .vartical-table th {
        width: 25%;
    }

    .vartical-table td {
        width: 25%;
    }

    .table td, .table th {
        padding: .3rem;
        font-size: 14px;
        border: 1px solid black !important;
    }

    table {
        page-break-inside: auto;
        border-collapse: collapse;
        border: 1px solid black !important;
    }

    tr {
        page-break-inside: avoid;
        page-break-after: auto;
        border: 1px solid black !important;
    }

    thead {
        display: table-header-group;
        border: 1px solid black !important;
    }

    tfoot {
        display: table-footer-group;
        border: 1px solid black !important;
    }

    h6 {
        font-size: 14px;
        background-color: gray;
        color: white !important;
        padding: 3px;
    }
</style>


<div class="print-card" style="width: 100%;">
    <div class="print-card-body">

        <div class="container-fluid">
            @*<div class="fa-pull-right">
                <p style="font-size:smaller;">Print at: @DateTime.Now.ToString("dd-MMM-yyyy HH:mm:ss")</p>
            </div>*@
            <div class="row" style="padding-top:0px;">
                <div class="col-2">
                    <img src="/EmpImages/@Model.companies.FirstOrDefault().filePath" alt="BDBL Logo" style="height:80px;" />
                </div>
                <div class="col-8">
                    <div style="color:black;text-align:center;">
                        <h3 style="font-size:20px;">@Model.companies.FirstOrDefault()?.companyName</h3>
                        <h3 style="font-size:18px;">Central Accounts Department</h3>
                        <h3 style="font-size:18px;">@(Model.staffLoanAsOn.FirstOrDefault()?.branchName == null ? "All Branch" : Model.staffLoanAsOn.FirstOrDefault()?.branchName)</h3>
                        <h3 style="font-size:18px;">Staff Loan Balance As On @Convert.ToDateTime(ViewBag.asonDate).ToString("dd MMM yyyy")</h3>
                        <br />
                    </div>
                </div>
                <div class="col-2">

                </div>
            </div>
        </div>
        <div class="container-fluid ">
            <div class="col-12">
                <h3 style="font-size:18px;color:black"> </h3>
            </div>
        </div>
        <br />
		<div class="container-fluid" style="color:black;">
			@if (ViewBag.type == "MCA")
			{
				<h5>MCA</h5>
				<table class="table table-bordered">
					<thead>
						<tr style="text-align: center;">
							<th>E.Id</th>
							<th>Name</th>
							<th>A/C No.</th>
							<th>Loan Type</th>
							<th>Int. Rate</th>
							<th>Principal</th>
							<th>Interest</th>
							<th>Charge</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var data in Model.staffLoanAsOn.Where(x => x.loanType == "MCA"))
						{
							<tr>
								<td>@data.empCode</td>
								<td>@data.employeeName</td>
								<td style="text-align: center;">@data.accountNo</td>
								<td style="text-align: center;">@data.loanType</td>
								<td style="text-align: center;">
									@data.interestRate?.ToString("N0")
								</td>
								<td style="text-align: right;">@data.Principal?.ToString("N2")</td>
								<td style="text-align: right;">@data.Interest?.ToString("N2")</td>
								<td style="text-align: right;">@data.Charge?.ToString("N2")</td>
								<td style="text-align: right; width: 15%;">@data.Total?.ToString("N2")</td>
							</tr>
						}
						<tr>
							<td style="text-align: right;" colspan="5">Total</td>
							<td style="text-align: right;">@Model.staffLoanAsOn.Where(x => x.loanType == "MCA").Sum(x => x.Principal)?.ToString("N2")</td>
							<td style="text-align: right;">@Model.staffLoanAsOn.Where(x => x.loanType == "MCA").Sum(x => x.Interest)?.ToString("N2")</td>
							<td style="text-align: right;">@Model.staffLoanAsOn.Where(x => x.loanType == "MCA").Sum(x => x.Charge)?.ToString("N2")</td>
							<td style="text-align: right; width: 15%;">@Model.staffLoanAsOn.Where(x => x.loanType == "MCA").Sum(x => x.Total)?.ToString("N2")</td>
						</tr>
					</tbody>
				</table>
			}
			else if (ViewBag.type == "MCAR")
			{
				<h5>MCAR</h5>
				<table class="table table-bordered">
					<thead>
						<tr style="text-align: center;">
							<th>E.Id</th>
							<th>Name</th>
							<th>A/C No.</th>
							<th>Loan Type</th>
							<th>Int. Rate</th>
							<th>Principal</th>
							<th>Interest</th>
							<th>Charge</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var data in Model.staffLoanAsOn.Where(x => x.loanType == "MCAR"))
						{
							<tr>
								<td>@data.empCode</td>
								<td>@data.employeeName</td>
								<td style="text-align: center;">@data.accountNo</td>
								<td style="text-align: center;">@data.loanType</td>
								<td style="text-align: center;">
									@data.interestRate?.ToString("N0")
								</td>
								<td style="text-align: right;">@data.Principal?.ToString("N2")</td>
								<td style="text-align: right;">@data.Interest?.ToString("N2")</td>
								<td style="text-align: right;">@data.Charge?.ToString("N2")</td>
								<td style="text-align: right; width: 15%;">@data.Total?.ToString("N2")</td>
							</tr>
						}
						<tr>
							<td style="text-align: right;" colspan="5">Total</td>
							<td style="text-align: right;">@Model.staffLoanAsOn.Where(x => x.loanType == "MCAR").Sum(x => x.Principal)?.ToString("N2")</td>
							<td style="text-align: right;">@Model.staffLoanAsOn.Where(x => x.loanType == "MCAR").Sum(x => x.Interest)?.ToString("N2")</td>
							<td style="text-align: right;">@Model.staffLoanAsOn.Where(x => x.loanType == "MCAR").Sum(x => x.Charge)?.ToString("N2")</td>
							<td style="text-align: right; width: 15%;">@Model.staffLoanAsOn.Where(x => x.loanType == "MCAR").Sum(x => x.Total)?.ToString("N2")</td>
						</tr>
					</tbody>
				</table>
			}
			else if (ViewBag.type == "CL")
			{
				<h5>CL</h5>
				<table class="table table-bordered">
					<thead>
						<tr style="text-align: center;">
							<th>E.Id</th>
							<th>Name</th>
							<th>A/C No.</th>
							<th>Loan Type</th>
							<th>Int. Rate</th>
							<th>Principal</th>
							<th>Interest</th>
							<th>Charge</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var data in Model.staffLoanAsOn.Where(x => x.loanType == "CL"))
						{
							<tr>
								<td>@data.empCode</td>
								<td>@data.employeeName</td>
								<td style="text-align: center;">@data.accountNo</td>
								<td style="text-align: center;">@data.loanType</td>
								<td style="text-align: center;">
									@data.interestRate?.ToString("N0")
								</td>
								<td style="text-align: right;">@data.Principal?.ToString("N2")</td>
								<td style="text-align: right;">@data.Interest?.ToString("N2")</td>
								<td style="text-align: right;">@data.Charge?.ToString("N2")</td>
								<td style="text-align: right; width: 15%;">@data.Total?.ToString("N2")</td>
							</tr>
						}
						<tr>
							<td style="text-align: right;" colspan="5">Total</td>
							<td style="text-align: right;">@Model.staffLoanAsOn.Where(x => x.loanType == "CL").Sum(x => x.Principal)?.ToString("N2")</td>
							<td style="text-align: right;">@Model.staffLoanAsOn.Where(x => x.loanType == "CL").Sum(x => x.Interest)?.ToString("N2")</td>
							<td style="text-align: right;">@Model.staffLoanAsOn.Where(x => x.loanType == "CL").Sum(x => x.Charge)?.ToString("N2")</td>
							<td style="text-align: right; width: 15%;">@Model.staffLoanAsOn.Where(x => x.loanType == "CL").Sum(x => x.Total)?.ToString("N2")</td>
						</tr>
					</tbody>
				</table>
			}
			else if (ViewBag.type == "HBA-B13")
			{
				<h5>HBA-B13</h5>
				<table class="table table-bordered">
					<thead>
						<tr style="text-align: center;">
							<th>E.Id</th>
							<th>Name</th>
							<th>A/C No.</th>
							<th>Loan Type</th>
							<th>Int. Rate</th>
							<th>Principal</th>
							<th>Interest</th>
							<th>Charge</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var data in Model.staffLoanAsOn.Where(x => x.loanType == "HBA-B13"))
						{
							<tr>
								<td>@data.empCode</td>
								<td>@data.employeeName</td>
								<td style="text-align: center;">@data.accountNo</td>
								<td style="text-align: center;">@data.loanType</td>
								<td style="text-align: center;">
									@data.interestRate?.ToString("N0")
								</td>
								<td style="text-align: right;">@data.Principal?.ToString("N2")</td>
								<td style="text-align: right;">@data.Interest?.ToString("N2")</td>
								<td style="text-align: right;">@data.Charge?.ToString("N2")</td>
								<td style="text-align: right; width: 15%;">@data.Total?.ToString("N2")</td>
							</tr>
						}
						<tr>
							<td style="text-align: right;" colspan="5">Total</td>
							<td style="text-align: right;">@Model.staffLoanAsOn.Where(x => x.loanType == "HBA-B13").Sum(x => x.Principal)?.ToString("N2")</td>
							<td style="text-align: right;">@Model.staffLoanAsOn.Where(x => x.loanType == "HBA-B13").Sum(x => x.Interest)?.ToString("N2")</td>
							<td style="text-align: right;">@Model.staffLoanAsOn.Where(x => x.loanType == "HBA-B13").Sum(x => x.Charge)?.ToString("N2")</td>
							<td style="text-align: right; width: 15%;">@Model.staffLoanAsOn.Where(x => x.loanType == "HBA-B13").Sum(x => x.Total)?.ToString("N2")</td>
						</tr>
					</tbody>
				</table>

			}
			else if (ViewBag.type == "HBA-A13")
			{
				<h5>HBA-A13</h5>
				<table class="table table-bordered">
					<thead>
						<tr style="text-align: center;">
							<th>E.Id</th>
							<th>Name</th>
							<th>A/C No.</th>
							<th>Loan Type</th>
							<th>Int. Rate</th>
							<th>Principal</th>
							<th>Interest</th>
							<th>Charge</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var data in Model.staffLoanAsOn.Where(x => x.loanType == "HBA-A13"))
						{
							<tr>
								<td>@data.empCode</td>
								<td>@data.employeeName</td>
								<td style="text-align: center;">@data.accountNo</td>
								<td style="text-align: center;">@data.loanType</td>
								<td style="text-align: center;">
									@data.interestRate?.ToString("N0")
								</td>
								<td style="text-align: right;">@data.Principal?.ToString("N2")</td>
								<td style="text-align: right;">@data.Interest?.ToString("N2")</td>
								<td style="text-align: right;">@data.Charge?.ToString("N2")</td>
								<td style="text-align: right; width: 15%;">@data.Total?.ToString("N2")</td>
							</tr>
						}
						<tr>
							<td style="text-align: right;" colspan="5">Total</td>
							<td style="text-align: right;">@Model.staffLoanAsOn.Where(x => x.loanType == "HBA-A13").Sum(x => x.Principal)?.ToString("N2")</td>
							<td style="text-align: right;">@Model.staffLoanAsOn.Where(x => x.loanType == "HBA-A13").Sum(x => x.Interest)?.ToString("N2")</td>
							<td style="text-align: right;">@Model.staffLoanAsOn.Where(x => x.loanType == "HBA-A13").Sum(x => x.Charge)?.ToString("N2")</td>
							<td style="text-align: right; width: 15%;">@Model.staffLoanAsOn.Where(x => x.loanType == "HBA-A13").Sum(x => x.Total)?.ToString("N2")</td>
						</tr>
					</tbody>
				</table>
			}
			else if (ViewBag.type == "BCA")
			{
				<h5>BCA</h5>
				<table class="table table-bordered">
					<thead>
						<tr style="text-align: center;">
							<th>E.Id</th>
							<th>Name</th>
							<th>A/C No.</th>
							<th>Loan Type</th>
							<th>Int. Rate</th>
							<th>Principal</th>
							<th>Interest</th>
							<th>Charge</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var data in Model.staffLoanAsOn.Where(x => x.loanType == "BCA"))
						{
							<tr>
								<td>@data.empCode</td>
								<td>@data.employeeName</td>
								<td style="text-align: center;">@data.accountNo</td>
								<td style="text-align: center;">@data.loanType</td>
								<td style="text-align: center;">
									@data.interestRate?.ToString("N0")
								</td>
								<td style="text-align: right;">@data.Principal?.ToString("N2")</td>
								<td style="text-align: right;">@data.Interest?.ToString("N2")</td>
								<td style="text-align: right;">@data.Charge?.ToString("N2")</td>
								<td style="text-align: right; width: 15%;">@data.Total?.ToString("N2")</td>
							</tr>
						}
						<tr>
							<td style="text-align: right;" colspan="5">Total</td>
							<td style="text-align: right;">@Model.staffLoanAsOn.Where(x => x.loanType == "BCA").Sum(x => x.Principal)?.ToString("N2")</td>
							<td style="text-align: right;">@Model.staffLoanAsOn.Where(x => x.loanType == "BCA").Sum(x => x.Interest)?.ToString("N2")</td>
							<td style="text-align: right;">@Model.staffLoanAsOn.Where(x => x.loanType == "BCA").Sum(x => x.Charge)?.ToString("N2")</td>
							<td style="text-align: right; width: 15%;">@Model.staffLoanAsOn.Where(x => x.loanType == "BCA").Sum(x => x.Total)?.ToString("N2")</td>
						</tr>
					</tbody>
				</table>
			}
		</div>
    </div>
</div>

