@model AllHrReportViewModel

@{
    ViewData["Title"] = "HrReportManpowerByEducation";
    Layout = "~/Views/Shared/_PrintView.cshtml";

}
@section Style{
    <style>

        .print-card-body {
            width: 100%;
            padding-bottom: 10px;
        }

        .vartical-table th {
            width: 25%;
        }

        .vartical-table td {
            width: 25%;
        }

        .table td, .table th {
            padding: .3rem;
            font-size: 14px;
        }

        table {
            page-break-inside: auto;
        }

        tr {
            page-break-inside: avoid;
            page-break-after: auto;
        }

        thead {
            display: table-header-group;
        }

        tfoot {
            display: table-footer-group;
        }

        h6 {
            font-size: 14px;
            background-color: gray;
            color: white !important;
            padding: 3px;
        }
    </style>
}
<div class="print-card" style="width: 100%;">
    <div class="print-card-body">
        <div class="container-fluid">
            <div class="fa-pull-right">
                <p style="font-size:smaller;">Print at: @DateTime.Now.ToString("dd-MMM-yyyy HH:mm:ss")</p>
            </div>
            <div class="row" style="padding-top:0px;">
                <div class="col-2">
                    <img src="/EmpImages/@Model.companies.FirstOrDefault().filePath" alt="OPUS ERP" style="height:80px;" />
                </div>
                <div class="col-10">
                    <div style="color:black;text-align:center;">
                        <h4 style="text-transform: uppercase;font-size:18px;">Bangladesh Development Bank Limited</h4>
                        <h4 style="text-transform: uppercase;font-size:18px;">Head office : dhaka</h4>
                        <h4 style="text-transform: uppercase;font-size:18px;"><u>Human resource management department</u></h4>
                        <h5 style="font-size:18px;"><u>Staff Position For the Month As On 31 December, @ViewBag.month?.ToString("yyyy") </u></h5>
                        <br /><br />
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid" style="color:black;">
            <div class="row" style="padding: 0px 15px 0px 15px; width:100%;">
                <table class="table table-bordered " style="width:45%;">
                    <thead>
                        <tr style="background-color:lightgray;">
                            <th style="text-align:center;width:50%;border-bottom:1px solid black !important;" rowspan="3">Particulars</th>
                        </tr>
                        <tr style="background-color:lightgray;">
                            <th style="text-align:center;width:50%;border-bottom:1px solid black !important;" colspan="2">As On @ViewBag.months?.ToString("dd-MM-yyyy")</th>
                        </tr>
                    </thead>
                  
                    <tbody>
                        @{
                            int i = 0;
                            int grandtotal = 0;
                        }
                        @foreach (var data in Model.educationManpowerViewModels1)
                        {

                            <tr>
                                <td>@data.title</td>
                                <td style="text-align:center;" class="t_12_@i">@data.count</td>
                            </tr>
                            i++;
                            grandtotal += data.count;


                        }
                        <tr>
                            <th>Grand Total</th>
                            <th style="text-align:center">@grandtotal</th>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-bordered " style="width:20%; ">
                    <thead>
                        <tr style="background-color:lightgray;">
                            <th style="text-align:center;width:50%;border-bottom:1px solid black !important;" rowspan="3">As On @ViewBag.monthTw?.ToString("dd-MM-yyyy")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int j = 0;
                           int totalj = 0;

                        }

                        @foreach (var data in Model.educationManpowerViewModels2)
                        {
                            <tr>
                                <td style="text-align:center;" class="t_6_@j">@data.count</td>
                                @*<td style="text-align:center;" class="dif612 dif_612_@j">-</td>*@
                            </tr>
                            j++;
                            totalj += data.count;

                        }
                        <tr>
                            <th style="text-align:center">@totalj</th>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered " style="width:20%; ">
                    <thead>
                        <tr style="background-color:lightgray;">
                            <th style="text-align:center;width:50%;border-bottom:1px solid black !important;" rowspan="3">As On @ViewBag.month?.ToString("dd-MM-yyyy")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int k = 0;
                            int totalk = 0;
                        }

                        @foreach (var data in Model.educationManpowerViewModels)
                        {


                            <tr>
                                <td style="text-align:center;" class="t_@k">@data.count</td>
                                @*<td style="text-align:center;" class="dif6 dif_6_@k">-</td>*@
                            </tr>
                            k++;
                            totalk += data.count;
                        }
                        <tr>
                            <th style="text-align:center">@totalk</th>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered " style="width:15%; ">
                    <thead>
                        <tr style="background-color:lightgray;">
                            @*<th style="text-align:center;width:50%;border-bottom:1px solid black !important;" rowspan="3">@ViewBag.year1?.ToString("dd-MM-yyyy")</th>*@
                            <th style="text-align:center;width:50%;border-bottom:1px solid black !important;" rowspan="3">Year @ViewBag.year1?.ToString("yyyy")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int l = 0;
                            int totall = 0;
                        }
                       
                        @foreach (var data in Model.educationManpowerViewModels1y)
                        {
                           

                            <tr>
                                <td style="text-align:center;" class="t_@l">@data.count</td>
                                @*<td style="text-align:center;" class="dif6 dif_6_@k">-</td>*@
                            </tr>
                            l++;
                            totall += data.count;
                        }
                            <tr>
                                <th style="text-align:center">@totall</th>
                            </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            for (var i = 1; i <= $('.dif612').length; i++) {
                //console.log(parseInt($('.t_6_' + i).text()) - parseInt($('.t_12_' + i).text()))
                $('.dif_612_' + i).text(parseInt($('.t_6_' + i).text()) - parseInt($('.t_12_' + i).text()));
            }
            for (var i = 1; i <= $('.dif6').length; i++) {
                //console.log(parseInt($('.t_6_' + i).text()) - parseInt($('.t_12_' + i).text()))
                $('.dif_6_' + i).text(parseInt($('.t_' + i).text()) - parseInt($('.t_6_' + i).text()));

            }

            //$('.t_12_7').text(parseInt($('#sm_12').text()) + parseInt($('#sf_12').text()));
            //$('.t_6_7').text(parseInt($('#sm_6').text()) + parseInt($('#sf_6').text()));
           // $('.t_7').text(parseInt($('#sm_0').text()) + parseInt($('#fm_0').text()));
            $('.dif612.dif_612_7').text(parseInt($('.t_6_7').text()) - parseInt($('.t_12_7').text()));
            $('.dif6.dif_6_7').text(parseInt($('.t_7').text()) - parseInt($('.t_6_7').text()));
        });
    </script>

}


