@model TransferEntryViewModel
@{
    ViewData["Title"] = Model.fLang.titleDet;
}
<br />
@*<h4 class="text text-center" style="color:black">@Model.fLang.title</h4><br />*@

<div class="row clearfix">
    <div class="col-12">
        <div class="card mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">@Model.fLang.titleDet</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table class="table table-striped table-bordered" id="approvalTable">
                    <thead>
                        <tr>
                            <th>@Model.fLang.employeeId</th>
                            <th>@Model.fLang.employeeName</th>
                            <th>@Model.fLang.currentWorkingPlace</th>
                            <th>@Model.fLang.effectDate</th>
                            <th>@Model.fLang.joiningDate</th>
                            <th>@Model.fLang.newGrade</th>
                            <th>@Model.fLang.newDesignation</th>
                            <th>@Model.fLang.status</th>
                            <th>@Model.fLang.action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var data in Model.transferEntries)
                        {
                            <tr>
                                <td>@data.employee.employeeCode</td>
                                <td>@data.employee.nameEnglish</td>
                                <td>@data.currentPlace</td>
                                <td>@data.effectDate</td>
                                <td>@data.joiningDate</td>
                                <td>@data.newGrade</td>
                                <td>@data.newDesignation</td>
                                <td>@data.status</td>
                                <td>
                                    <form asp-area="HRPMSPromotionAndTransfer" asp-controller="TransferEntry" asp-action="Action" method="post">
                                        <a data-toggle="tooltip" title="Details" class="btn btn-info" href="Details/@data.Id"><i class="fa fa-eye"></i></a>
                                        <input type="hidden" name="id" value="@data.Id" />
                                        <button data-toggle="tooltip" title="Approve" class="btn btn-success" type="submit" name="type" value="approve"><i class="fa fa-check-circle"></i></button>
                                        <button data-toggle="tooltip" title="Reject" class="btn btn-danger" type="submit" name="type" value="reject"><i class="fa fa-times-circle"></i></button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#language").addClass("active");
            $('#approvalTable').dataTable({
                stateSave: true,
                dom: "<'row'<'col-sm-12 col-md-2'l><'col-sm-12 col-md-3'B><'col-sm-12 col-md-7'f>>" +
                    "<'row'<'col-sm-12't>>" +
                    "<'row'<'col-sm-12 col-md-6'i><'col-sm-12 col-md-6'pr>>",
                buttons: [
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel"></i> Excel',
                        titleAttr: 'Excel',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 6, 7]
                        },
                        title: orgFullTitle,
                        messageTop: 'List Of Employee Transfer',
                        class: 'btn btn-info'
                    },
                    {
                        extend: 'csvHtml5',
                        text: '<i class="fa fa-file-excel"></i> CSV',
                        titleAttr: 'CSV',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 6, 7]
                        },
                        title: orgFullTitle,
                        messageTop: 'List Of Employee Training'
                    },
                    {
                        extend: 'print',
                        text: '<i class="fa fa-print"></i> Print',
                        titleAttr: 'Print',
                        title: orgFullTitle,
                        messageTop: 'List Of Employee Transfer',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 6, 7]
                        },
                        customize: function (doc) {
                            $(doc.document.body).find('h1').css('font-size', '20pt');
                            $(doc.document.body).find('h1').css('font-family', "'Times New Roman', Times, serif");
                            $(doc.document.body).find('h1').css('text-align', 'center');
                        }
                    }
                ]
            });
        });

        function Approved(id) {

        }

        function Reject(id) {

        }

    </script>
}

