@model IOUViewModel
@{
    ViewData["Title"] = "Return";
}




<style>
    .page-link {
        color: black !important;
        font-size: 15px !important;
        padding: 8px !important;
        line-height: 20px !important;
    }

    .fas {
        margin-top: 10px;
        font-size: 25px;
    }

    .active {
        color: darkcyan;
    }

    .c {
        min-height: 300px;
        background-color: #FDF2E9;
    }

        .c .card-footer {
            height: 50px;
            background-color: #E9F7EF;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    .cb {
        height: 464px;
    }

    .c .cb {
        transition: .3s all;
        /*cursor: pointer;*/
    }

    .c:hover .cb {
        background-color: #D6DBE9;
    }

    #myInput1 {
        width: 41%;
        /*position: absolute;*/
        right: 18px;
        box-shadow: none;
        margin-left: 25%;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    a i {
        font-size: 15px !important;
        margin: 0 !important;
    }

    .pagination > li > a,
    .pagination > li > span {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #337ab7;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
    }

    .pagination > .active > a,
    .pagination > .active > a:focus,
    .pagination > .active > a:hover,
    .pagination > .active > span,
    .pagination > .active > span:focus,
    .pagination > .active > span:hover {
        z-index: 3;
        color: #fff;
        cursor: default;
        background-color: #337ab7;
        border-color: #337ab7;
    }

    .pagination-container {
        margin: 20px 0;
        display: flex;
        justify-content: flex-end;
    }
</style>
<div class="row">
    <div class="col-11">
        <i class="fas fa-th text-left mx-2"></i>
        <i class="fas fa-list-alt text-left mx-2"></i>
    </div>
    <div class="col-1">
        <a class='btn btn-info ' style="" data-toggle='tooltip' title='Go Back' href='/Home/GridMenuPage?moduleId=1&perentId=1295'><i style="margin: 4px; " class="fas fa-backward"></i></a>

    </div>
</div>
<div class="row clearfix" id="listView" style="display: none;">
    <div class="col-12">
        <div class="card mb-4">
            <br />
            <div class="row">
                <div class="col-md-10">
					<h6 class="m-0 font-weight-bold text-primary">SPOT Returned LIST</h6>
                </div>
                <div class="col-md-2">
                    @*<button type="button" class="btn btn-default btn-sm" style="width:100px;background-color:#024972;color:white;float:right;" onclick="location.href='@Url.Action("CreatePO", "PurchaseOrder")'">Create PO</button>*@
                </div>
            </div>
            <hr />
            <div class="card-body">
                <table class="table table-striped table-bordered" id="requisitionListTable">
                    <thead>
                        <tr>
                            <th>IOU Date</th>
                            <th>IOU No</th>
                            <th>Delivery Date</th>
                            <th>IOU Value</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var data in Model.iOUMasters.Where(x => x.iouStatus == 4))
                        {
                            <tr>
                                <td>@data.iouDate?.ToString("dd-MMM-yyyy")</td>
                                <td>@data.iouNo</td>
                                <td>@data.expectedDeliveryDate?.ToString("dd-MMM-yyyy")</td>
                                <td>@data.iouValue?.ToString("0.00")</td>
								<td>
									@if (data.iouStatus == 1)
									{
										<span class="badge badge-secondary">@data.iouCurrentStatus</span>
									}
									else if (data.iouStatus == 2)
									{
										<span class="badge badge-primary">@data.iouCurrentStatus</span>
									}
									else if (data.iouStatus == 3)
									{
										<span class="badge badge-info">@data.iouCurrentStatus</span>
									}
									else if (data.iouStatus == 4)
									{
										<span class="badge badge-dark">@data.iouCurrentStatus</span>
									}
									else
									{
										<span class="badge badge-danger">@data.iouCurrentStatus</span>
									}
								</td>
                                <td>
                                    @if (data.iouStatus == 3)
                                    {
                                        <a class="btn btn-info" target="_blank" href="/SCMReport/ReportMaster/IOUViewPdf?iouId=@data.Id"><i class="fa fa-print"></i></a>
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix" id="gridView">
    <div class="col-12">
        <div class="card mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center">
                <h6 class="m-0 font-weight-bold text-primary">SPOT Returned LIST</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="row" id="cards">
                    @foreach (var data in Model.iOUMasters.Where(x => x.iouStatus == 4))
                    {
                        <div class="col-md-3 mb-1 searchdiv">
                            <a href="javascript:void(0)" style="text-decoration: none; color: black; cursor: default;">

                                <div class="card c " style="font-size: 16px;">


                                    <div class="card-body cb text-center">
                                        <strong>SPOT Date:</strong><br />
                                        @data.iouDate?.ToString("dd-MMM-yyyy")<br /><br />
                                        <strong>SPOT NO.:</strong><br />
                                        @data.iouNo<br /><br />

                                        <strong>Delivery Date:</strong><br />
                                        @data.expectedDeliveryDate?.ToString("dd-MMM-yyyy")<br /><br />

                                        <strong>SPOT Value:</strong><br />
                                        @data.iouValue?.ToString("0.00")<br /><br />


                                        <strong>Status:</strong><br />
                                        @if (data.iouStatus == 1)
                                        {
                                            <span class="badge badge-secondary">@data.iouCurrentStatus</span>
                                        }
                                        else if (data.iouStatus == 2)
                                        {
                                            <span class="badge badge-primary">@data.iouCurrentStatus</span>
                                        }
                                        else if (data.iouStatus == 3)
                                        {
                                            <span class="badge badge-info">@data.iouCurrentStatus</span>
                                        }
                                        else if (data.iouStatus == 4)
                                        {
                                            <span class="badge badge-dark">@data.iouCurrentStatus</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-danger">@data.iouCurrentStatus</span>
                                        }
                                    </div>
                                    <div class="card-footer text-center font-weight-bold fixed-bottom" style="position: absolute;">
                                        @if (data.iouStatus == 4)
                                        {
                                            <a class="btn btn-info" href="/SCMIOU/IOU/ReturnedIOU?iouMasterId=@data.Id"><i class="fa fa-edit"></i></a>
                                        }
                                    </div>
                                </div>
                            </a> <br />

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts{
    <script src="~/Assets/paginathing.js"></script>

    <script>


        $(document).ready(function () {
            $('#requisitionListTable').DataTable();

            $("#education").addClass("active");


            $('#gridView').show();
            $('#listView').hide();

            $('.fas').removeClass('active');
            $('.fa-th').addClass('active');


            if ($("#cards").length != null) {

                $('#cards').paginathing({

                    // Limites your pagination number
                    // false or number
                    limitPagination: limit,
                    // limitPagination: false,

                    // Pagination controls
                    perPage: 8,
                    prevNext: true,
                    firstLast: true,
                    prevText: '&laquo;',
                    nextText: '&raquo;',
                    firstText: 'First',
                    lastText: 'Last',
                    containerClass: 'pagination-container',
                    ulClass: 'pagination',
                    liClass: 'page',
                    activeClass: 'active',
                    disabledClass: 'disabled',
                    pageNumbers: true,
                    insertAfter: '#cards'
                })
            }


        });

        $('.fa-list-alt').click(function () {
            $('#listView').show();
            $('#gridView').hide();

            $('.fas').removeClass('active');
            $('.fa-list-alt').addClass('active');
        })
        $('.fa-th').click(function () {
            $('#listView').hide();
            $('#gridView').show();

            $('.fas').removeClass('active');
            $('.fa-th').addClass('active');
        })




    </script>
}
















@*<br />
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-6">
                <h6 class="m-0 font-weight-bold text-primary">IOU Returned LIST</h6>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-default btn-sm" style="width:100px;background-color:#024972;color:white;float:right;" onclick="location.href='@Url.Action("Index", "IOU")'">Create IOU</button>
            </div>
        </div>
    </div>

    <div class="card-body">
        <table class="table table-striped table-bordered" id="newIOUListTable">
            <thead>
                <tr>
                    <th>IOU Date</th>
                    <th>IOU No</th>
                    <th>Delivery Date</th>
                    <th>IOU Value</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model.iOUMasters.Where(x => x.iouStatus == 4))
                {
                    <tr>
                        <td>@data.iouDate?.ToString("dd-MMM-yyyy")</td>
                        <td>@data.iouNo</td>
                        <td>@data.expectedDeliveryDate?.ToString("dd-MMM-yyyy")</td>
                        <td>@data.iouValue?.ToString("0.00")</td>
                        <td>@data.iouCurrentStatus</td>
                        <td>
                            @if (data.iouStatus == 3)
                            {
                                <a class="btn btn-info" target="_blank" href="/SCMReport/ReportMaster/IOUViewPdf?iouId=@data.Id"><i class="fa fa-print"></i></a>
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#newIOUListTable').DataTable();
            $('#returnIOUListTable').DataTable();
            $('#rejectedIOUListTable').DataTable();
        });
    </script>
}*@

