@model LevelofEducationViewModel

@{
    ViewData["TitleMD"] = Model.fLang.title;
    Layout = "~/Areas/HRPMSMasterData/Views/Shared/_MasterDataForm.cshtml";
}

@section StyleMD{
    <style>
        .redStar {
            color: red;
        }
    </style>
}


    <div class="card" style="width: 100%;">
        <div class="card-header  d-flex flex-row align-items-center justify-content-between">
            <h5 class="m-0 font-weight-bold text-primary">@Model.fLang.title</h5>
            <a class='btn btn-info mr-4' style="float:right" data-toggle='tooltip' title='Go Back' href='/Home/GridMenuPage?moduleId=3&perentId=5702'>@*<i class="fas fa-backward fa-2x "></i>*@<i class="fas fa-angle-double-left"> <span style="">Back</span></i></a>

        </div>
        <div class="card-body">
            @*<a class='btn btn-outline-info mr-4' style="float:right" data-toggle='tooltip' title='Go Back' href='/Home/GridMenuPage?moduleId=3&perentId=5702'><i class="fas fa-backward"></i></a>
            <h5 class="card-title" style="color: black">@Model.fLang.title</h5>
            <hr>*@
            <div class="container">
                <form asp-area="HRPMSMasterData" id="FormId" asp-controller="LevelOfEducation" asp-action="Index" method="post" data-parsley-validate="parsley">

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group row">
                        <input type="hidden" name="loeId" id="loeId" value="0" />

                        <label for="levelofeducationName" class="col-sm-3 col-form-label">@Model.fLang.levelOfEducation <span style="float:right;" class="redStar">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" data-parsley-required="true" data-parsley-trigger="keyup" class="form-control" name="levelofeducationName" id="levelofeducationName">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="levelofeducationNameBn" class="col-sm-3 col-form-label">@Model.fLang.levelOfEducationBn</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="levelofeducationNameBn" id="levelofeducationNameBn">
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="sortOrder" class="col-sm-3 col-form-label">Sort Order</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="sortOrder" id="sortOrder">
                        </div>
                    </div>

                    <hr />
                    @*<button type="button" id="submit" value="Submit" class="btn btn-success btn-lg" style="float:right; margin-top:5px;"><i class="fas fa-save"></i></button>*@
                    <button type="submit" id="submitbtn" value="Submit" class="btn btn-success btn-lg" style="float:right; margin-top:5px;display:none;"><i class="fas fa-save"></i></button>
                    <button type="button" id="submit" value="Submit" class="btn btn-success " style="float:right; margin-top:5px;"><i class="fas fa-save"></i> Save</button>

                </form>
            </div>
        </div>
    </div>

<hr />
<div class="row clearfix">
    <div class="col-12">
        <div class="card mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">@Model.fLang.title</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table class="table table-striped table-bordered" id="loeTable">
                    <thead>
                        <tr>
                            <th>@Model.fLang.levelOfEducation</th>
                            <th>@Model.fLang.levelOfEducationBn</th>
                            <th>Sort Order</th>

                            <th>@Model.fLang.action</th>
                    </thead>
                    <tbody>
                        @foreach (var data in Model.levelofEducations)
                        {
                        <tr>

                            <td>@data.levelofeducationName</td>
                            <td>@data.levelofeducationNameBn</td>
                            @if (data.sortOrder > 0)
                            {
                                <td>@data.sortOrder</td>

                            }
                            else
                            {
                                <td></td>
                            }
                            <td>
                                <a class="btn btn-success" onclick="Edit(@data.Id, '@data.levelofeducationName', '@data.levelofeducationNameBn','@data.sortOrder')" href="#"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;
                                <a class="btn btn-danger" href="javascript:void(0)" onclick="DeleteMaster(@data.Id)"><i class="fa fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section ScriptsMD{
    <script>

       

         @*$('#submit').click(function () {
		console.log($('#FormId').serializeArray());
		var data = $('#FormId').serializeArray();

		console.log(data[0].value)
		swal({
			title: 'Are you sure?', text: 'Do you want to submit this record!', type: 'warning', showCancelButton: true, confirmButtonColor: '#3085d6', cancelButtonColor: '#d33', confirmButtonText: 'Yes, submit it!'
		}).then(function () {
			$.ajax({
				url: '@Url.Action("Index", "LevelOfEducation")',
				type: 'POST',
				data: data
			}).done(function () {
                if (data[0].value == 0) {
                    swal('success', 'Saved Successfully!', 'success').then(function () {
                        location.reload();
                    });
                }
                else {
                    swal('success', 'Updated Successfully!', 'success').then(function () {
                        location.reload();
                    });;
                }
			}).fail(function () {
				swal('warning', 'Failed!', 'warning');
			})
		});
	})*@










        $(document).ready(function () {
            $("#submit").click(function () {
                swal({
                    title: 'Are you sure?', text: 'Do you want to submit this record!', type: 'warning', showCancelButton: true, confirmButtonColor: '#3085d6', cancelButtonColor: '#d33', confirmButtonText: 'Yes, submit it!'
                }).then(function () {
                    $("#submitbtn").click();
                });
            });
            $('#loe').addClass("active");
           // $('#loeTable').DataTable();

            $('#loeTable').DataTable({
                stateSave: false,
                dom: "<'row'<'col-sm-12 col-md-2'l><'col-sm-12 col-md-3'B><'col-sm-12 col-md-7'f>>" +
                    "<'row'<'col-sm-12't>>" +
                    "<'row'<'col-sm-12 col-md-6'i><'col-sm-12 col-md-6'pr>>",
                buttons: [
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel"></i> Excel',
                        titleAttr: 'Excel',
                        exportOptions: {
                            columns: [0, 1]
                        },
                        title: "Level of Education",
                        messageTop: 'Level of Education',
                        class: 'btn btn-info'
                    },
                    {
                        extend: 'csvHtml5',
                        text: '<i class="fa fa-file-excel"></i> CSV',
                        titleAttr: 'CSV',
                        exportOptions: {
                            columns: [0, 1]
                        },
                        title: "Level of Education",
                        messageTop: 'Level of Education'
                    },
                    {
                        extend: 'print',
                        text: '<i class="fa fa-print"></i> Print',
                        titleAttr: 'Print',
                        title: "Level of Education",
                        exportOptions: {
                            columns: [0, 1]
                        },
                        customize: function (doc) {
                            $(doc.document.body).find('h1').css('font-size', '20pt');
                            $(doc.document.body).find('h1').css('font-family', "'Times New Roman', Times, serif");
                            $(doc.document.body).find('h1').css('text-align', 'center');
                        }
                    }
                ]
            });

        });

        function Edit(Id, levelofeducationName, levelofeducationNameBn, sortOrder) {
            $("#loeId").val(Id);
            $("#levelofeducationName").val(levelofeducationName);
            $("#levelofeducationNameBn").val(levelofeducationNameBn);
            $("#sortOrder").val(sortOrder);
        }

        function DeleteMaster(Id) {
            swal({
                title: 'Are you sure?', text: 'Do you want to delete this record!', type: 'warning', showCancelButton: true, confirmButtonColor: '#3085d6', cancelButtonColor: '#d33', confirmButtonText: 'Yes, delete it!'
            }).then(function () {

                $.ajax({
                    url: '@Url.Action("DeleteLevelofEducationById", "LevelOfEducation")',
                    data: { Id: Id },
                    type: 'POST',
                })
                    .done(function () {
                        swal('', 'Deleted Successfully!', 'success');
                        window.location.href = "/HRPMSMasterData/LevelOfEducation/Index";
                    })
                    .fail(function () {
                        swal('Cancelled', 'It will not be deleted. Please try again later !!!', 'error');
                    });
            });
        }
    </script>
}

