
@model LeadBankViewModel
@{
    ViewData["Title"] = "Bank List";
    //Layout = "~/Areas/CRMLead/Views/Shared/_LeadForm.cshtml";

}

<div class="row clearfix">
    <div class="card" style="width: 100%;">
        <div class="card-header row">
            <div class="col-9">
                <h5 class="card-title" style="color: black">Lead Information</h5>
            </div>
            <div class="col-3">
                <a href='/CRMLead/LeadManagement/LeadsById?id=@ViewBag.leadId' style="text-decoration:none;"><h6 class="identity-box">@ViewBag.leadName</h6></a>

            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h4 class="m-0 font-weight-bold text-primary">Bank Information</h4>
                <a href="javascript:void(0)" onclick="AddBank()" style="background-color:#024972;" class="btn btn-info btn-sm pull-right">Add New</a>
            </div>

            <!-- Card Body -->
            <div class="card-body">
                <table class="table table-striped table-bordered" id="bankTable">
                    <thead>
                        <tr>
                            <th width="5%">SL#</th>
                            <th>Lead Name</th>
                            <th>Bank Name</th>
                            <th>Type</th>
                            <th>Branch Name</th>
                            <th>Contact Name</th>
                            <th>Department</th>
                            <th>Designation</th>
                            <th>Mobile</th>
                            <th>Action</th>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            @foreach (var data in Model.leadsBankInfos)
                            {
                                <tr>
                                    <td width="5%">@i</td>
                                    <td>@data?.leads?.leadName</td>
                                    <td><span style="display:none">-@data.Id-</span>@data?.bankBranchDetails?.bank?.bankName</td>
                                    <td>@data.bankType</td>
                                    <td>@data.bankBranchDetails?.bankBranch?.branchName</td>
                                    <td>@data?.contactName</td>
                                    <td>@data?.crmdepartments?.deptName</td>
                                    <td>@data?.crmdesignations?.designationName</td>
                                    <td>@data?.mobile</td>
                                    <td>
                                        <a class="btn btn-success" href="javascript:void(0)" onclick="EditBank(@data.Id,@data.leadsId,'@data.leads.leadName')" title="Edit"><i class="fa fa-edit"></i></a>
                                        <a class="btn btn-danger" href="javascript:void(0)" onclick="DeleteBank(@data.Id)" title="Delete"><i class="fa fa-trash"></i></a>
                                        @*<a class="btn btn-success" href="/CRMLead/Agreement/AgreementPdfAction?AgreementId=@data.Id" target="_blank" title="Print"><i class="fa fa-print"></i></a>*@

                                    </td>
                                </tr>
                                i++;

                            }
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


@section Scripts{


    <script type="text/javascript">
        $(document).ready(function () {
            $("#BankList").addClass("active");
            $('#bankTable').DataTable();

        });
       
        function EditBank(Id, leadsId, leadName) {
            window.location.href = "/CRMLead/LeadManagement/LeadBankInfo?id=" + Id + '&leadId=' + leadsId + '&leadName=' + leadName;

        }
        function AddBank() {
            window.location.href = "/CRMLead/LeadManagement/LeadBankInfo?id=" + 0 + '&leadId=' + @ViewBag.leadId + '&leadName=' + '@ViewBag.leadName';

        }
        function DeleteBank(Id) {
            swal({
                title: 'Are you sure?', text: 'Do you want to delete record!', type: 'warning', showCancelButton: true, confirmButtonColor: '#3085d6', cancelButtonColor: '#d33', confirmButtonText: 'Yes, delete it!'
            }).then(function () {
                window.location.href = "/CRMLead/LeadManagement/DeleteLeadsBank?Id=" + Id;
            });

        }
    </script>
}










