@model LeadsHistoryViewModel

@{
    ViewData["Title"] = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row clearfix">
    <div class="col-12">
        <div class="card mb-4">
            @*<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary" style="text-align:center;">Lead Name: @ViewBag.leadName</h6>
                </div>*@
            <div class="card-body">
                <table class="table table-striped table-bordered" id="statusTable">
                    <thead>
                        <tr>
                           <th>Sl No</th>
                            <th>Lead Name</th>
                            <th>Action Name</th>
                            <th>Action Details</th>
                            <th>Date & Time</th>
                            <th>User</th>
                    </thead>
                    <tbody>
                        @*@{
                            int i = 1;
                            @foreach (var data in Model.leadsHistories)
                            {
                                <tr>
                                    <td width="5%">@i</td>
                                    <td>@data.leads.leadName</td>
                                    <td>@data.actionName</td>
                                    <td>@data.actionDetails</td>
                                    <td>@data.createdAt?.ToString("dd-MMM-yyyy hh:mm:ss tt")</td>
                                    <td>@data.createdBy</td>

                                </tr>
                                i++;
                            }
                        }*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {


            $('#statusTable').DataTable();
            getActivitydata();
        });
        function getActivitydata() {
            

            $('#statusTable').DataTable().destroy();
            $('#statusTable').DataTable({
                ajax: {
                    url: '/CRMLead/LeadManagement/GetAllLeadsHistorySurSP',
                    dataSrc: ""
                },
                columns: [
                    { data: "SLNo" },
                    { data: "leadName" },
                    { data: "actionName" },
                    { data: "actionDetails" },
                    { data: "createdAt" },
                    { data: "createdBy" }
                ]
            });
           

        }


    </script>
}


@section Style{
    <style>

        .redStar {
            color: red;
        }
    </style>
}






