
@model VisitorEntryViewModel

@{
    ViewData["Title"] = "Index";
    int i = 1;
}

<br/>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="font-weight-bold" style="color: black">APPROVED LIST FOR MEETING</h5>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>#SL</th>
                                <th>Visitor Name</th>
                                <th>Contact</th>
                                <th>Meet To</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model.approvedList)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@item.name</td>
                                    <td>@item.mobile</td>
                                    <td>@item.nameEnglish</td>
                                    <td>@item.status</td>
                                    <td>
                                        <button type="button" onclick="printCard(@item.Id, @item.detailsId, '@item.name', '@item.nameEnglish', '@item.department','@item.designation',  '@item.imgUrl')" class="btn btn-success"><i class="fa fa-print"></i></button>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="font-weight-bold" style="color: black">Issue Card</h5>
                    </div>
                    <form id="myForm">
                        <input type="hidden" name="Id" id="masterId_hidden"/>
                        <input type="hidden" name="detailsId" id="detailsId_hidden"/>
                        <div class="card-body" id="issue_card_div_id">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <script>
        $(document).ready(function() {


        });

        function printCard(id, detailsId, vName, name, dept, designation, imgUrl) {

            var card = '<div class="row" style="margin: auto">' +
                '<div style="margin: auto">' +
                ' <img src="'+ imgUrl +'" height="140" width="140" />' +
                '</div>'+
                '</div>'+
                '<div style="text-align: center; font-weight: bold; color: black;">' +
                '<br/> Name: ' + vName +
                ' <br/><span class="custom-control-inline"> Card No: &nbsp'+ '<input type="text" name="cardNo" class="col-md-8 form-control"/></span>' +
                '<br/> Meet With ' +
                ' <br/> Name: ' + name +
                '<br/>' + dept + ', ' + designation +
                '<br/> <button type="button" class="btn btn-success btn-block " onclick="formSubmitFun()">Submit</button>'+
                ' </div>';

            $("#masterId_hidden").val(id);
            $("#detailsId_hidden").val(detailsId);

            $("#issue_card_div_id").empty();
            $("#issue_card_div_id").append(card);
           
        }

        function formSubmitFun() {

            var data = $("#myForm").serialize();

            $.ajax({
                url: "/Shagotom/IssueCard/Index",
                type: "post",
                data: data,
                success: function (response) {

                    if (response == "success") {
                        swal({
                            title: 'Success!', text: 'Saved Successfully!', type: 'success', showCancelButton: false, confirmButtonColor: '#3085d6', confirmButtonText: 'Ok!'
                        }).then(function () {
                            window.location.href = "/Shagotom/IssueCard/Index";
                        });

                    }
                    else {
                        swal('Warning!', 'Unable to save!', 'warning');
                    }

                }
            });
        }

    </script>
}
 