@model MembershipViewModel

@{
    ViewData["Title"] = "Membership Information";
    Layout = "~/Areas/HRPMSEmployee/Views/Shared/_EmployeeForm.cshtml";
}

@section StyleEmp{
}

<div class="card" style="width: 100%;">
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <h5 class="card-title" style="color: black">Membership Information</h5>
            </div>
            <div class="col-4">
                @*<a href='/HRPMSEmployee/Photograph/EditGrid/@Model.employeeID' style="text-decoration:none;"><h6 class="identity-box">@Model.employeeNameCode</h6></a>*@
            </div>
        </div>
        <hr>
        <div class="container">
            <form asp-area="Recruitment" asp-controller="RcrtMembership" asp-action="Index" method="post" data-parsley-validate="parsley">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group row">
                    <label for="nameOrganization" class="col-sm-2 col-form-label">Organization Name<span style="color:red;">*</span></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="nameOrganization" value="" name="nameOrganization" data-parsley-required="true">
                        <input type="hidden" name="candidateId" id="candidateId" value="@Model.candidateId" />
                        <input type="hidden" name="membershipId" id="membershipId" value="0" />
                    </div>
                </div>

                <div class="form-group row">
                    <label for="membershipType" class="col-sm-2 col-form-label">Membership Type <span style="color:red;">*</span></label>
                    <div class="col-sm-10">
                        <select type="text" class="form-control" id="membershipType" value="" name="membershipType" data-parsley-required="true">
                            <option value="">Select One</option>
                            @foreach (var data in Model.memberships)
                            {
                                <option value="@data.Id">@data.membershipName</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="membershipNo" class="col-sm-2 col-form-label">Membership No </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="membershipNo" value="" name="membershipNo">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="remarks" class="col-sm-2 col-form-label">Remarks</label>
                    <div class="col-sm-10">
                        <textarea name="remarks" id="remarks" class="form-control" rows="5" cols="5"></textarea>
                    </div>
                </div>
                <hr>
                <button type="submit" value="Submit" class="btn btn-success btn-lg" style="float:right; margin-top:5px;"><i class="fas fa-save"></i></button>
            </form>
        </div>
    </div>
</div>

<br />
<hr />

<div class="row clearfix">
    <div class="col-12">
        <div class="card mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold">Membership Information</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table class="table table-striped table-bordered" id="membershipTable">
                    <thead>
                        <tr>
                            <th>Organization Name</th>
                            <th>Membership Type </th>
                            <th>Membership No </th>
                            <th>Remarks</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var data in Model.rcrtEmpMemberships)
                        {
                            <tr>
                                <td>@data.nameOrganization</td>
                                <td>@data.membership.membershipName</td>
                                <td>@data.membershipNo</td>
                                <td>@data.remarks</td>
                                <td>
                                    <a class="btn btn-success" onclick="Edit(@data.Id, @data.membershipId , '@data.nameOrganization', '@data.remarks', '@data.membershipNo')" href="#"><i class="fa fa-edit"></i></a>
                                    @*<a class="btn btn-danger" onclick="Remove(@data.Id,@data.candidateId)" href="#"><i class="fa fa-trash-alt"></i></a>*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section ScriptsEmp{
    <script>
        $(document).ready(function () {
            $("#membership").addClass("active");
            $('#membershipTable').DataTable();
        });

        function Edit(Id, membershipId, nameOrganization, remarks, membershipNo) {
            $("#membershipId").val(Id);
            $("#membershipType").val(membershipId);
            $("#nameOrganization").val(nameOrganization);
            $("#remarks").val(remarks);
            $("#membershipNo").val(membershipNo);
        }

        //function Remove(Id, employeeId) {
        //    chk = confirm('Do you want to delete this?');
        //    if (chk) {
        //        //return true;
        //        location.replace("/HRPMSEmployee/Membership/Delete/" + Id + "?empId=" + employeeId);
        //    } else {
        //        return false;
        //    }
        //}

    </script>
}

