@model SalaryPeriodViewModel
@{
	ViewData["Title"] = "Salary Period";
	Layout = "~/Areas/Payroll/Views/Shared/_SalaryMasterForm.cshtml";
}

<div class="card" style="width: 100%;">
	@*<h5 class="card-title" style="color: black">Salary Period</h5>*@
	@*<div style="float: right; margin: 16px;">
			<a class='btn btn-outline-info' style="margin-top: -104px;" data-toggle='tooltip' title='Go Back' href='/Home/GridMenuPage?moduleId=10&perentId=5962'><i class="fas fa-backward"></i></a>

		</div>*@
	<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
		<h6 class="m-0 font-weight-bold text-primary">Salary Period</h6>
		<div style="float: right;">
			<a class='btn btn-info' style=" margin-top: -10px;" data-toggle='tooltip' title='Go Back' href='/Home/GridMenuPage?moduleId=10&perentId=5963'><i class="fas fa-angle-double-left"> <span style="">Back</span></i></a>
		</div>
	</div>
	<div class="card-body">
        <form asp-area="HR" asp-controller="SalaryMaster" id="FormId" asp-action="SalaryPeriod" method="post" data-parsley-validate="parsley">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group row">
                        <label for="salaryTypeId" class="col-sm-4 col-form-label">Type <span style="color:red;">*</span></label>
                        <div class="col-sm-8">
                            <select name="salaryTypeId" id="salaryTypeId" class="form-control" data-parsley-required="true">
                                <option value="">Select Type</option>
                                @foreach (var data in Model.salaryTypesList)
                                {
                                    <option value="@data.Id">@data.salaryTypeName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" id="divBonus">
                        <label for="bonusTypeId" class="col-sm-4 col-form-label">Bonus Type </label>
                        <div class="col-sm-8">
                            <select name="bonusTypeId" id="bonusTypeId" class="form-control">
                                <option value="">Select Bonus Type</option>
                                @foreach (var data in Model.bonusTypesList)
                                {
                                    <option value="@data.Id">@data.bonusTypeName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="salaryYearId" class="col-sm-4 col-form-label">Salary Year <span style="color:red;">*</span></label>
                        <div class="col-sm-8">
                            <select name="salaryYearId" id="salaryYearId" class="form-control" data-parsley-required="true">
                                <option value="" year="">Select Year</option>
                                @foreach (var data in Model.salaryYearsList)
                                {
                                    <option value="@data.Id" year="@data.yearName">@data.yearName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="taxYearId" class="col-sm-4 col-form-label">Tax Year <span style="color:red;">*</span></label>
                        <div class="col-sm-8">
                            <select name="taxYearId" id="taxYearId" class="form-control" data-parsley-required="true">
                                <option value="">Select Tax Year</option>
                                @foreach (var data in Model.taxYearsList)
                                {
                                    <option value="@data.Id">@data.taxYearName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="mailText" class="col-sm-4 col-form-label">Narration <span style="color:red;">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="mailText" value="" name="mailText">
                        </div>


                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="form-group row">
                        <label for="monthName" class="col-sm-3 col-form-label">Month Name <span style="color:red;">*</span></label>
                        <div class="col-sm-9">
                            <select class="form-control" id="monthName" name="monthName" data-parsley-required="true">
                                <option value="" month="">Select Month</option>
                                <option value="January" month="1">January</option>
                                <option value="February" month="2">February</option>
                                <option value="March" month="3">March</option>
                                <option value="April" month="4">April</option>
                                <option value="May" month="5">May</option>
                                <option value="June" month="6">June</option>
                                <option value="July" month="7">July</option>
                                <option value="August" month="8">August</option>
                                <option value="September" month="9">September</option>
                                <option value="October" month="10">October</option>
                                <option value="November" month="11">November</option>
                                <option value="December" month="12">December</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="periodName" class="col-sm-3 col-form-label">Period Name <span style="color:red;">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="periodName" value="" name="periodName" data-parsley-required="true">
                            <input type="hidden" id="editId" name="editId" value=0>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="daysWorking" class="col-sm-3 col-form-label">Working Days <span style="color:red;">*</span></label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="daysWorking" value="" name="daysWorking" data-parsley-required="true">
                        </div>
                    </div>

                    <div class="form-group row">

                        <label for="salaryPeriodId" class="col-sm-3 col-form-label">Affected Period Name <span class="red"></span></label>
                        <div class="col-sm-9">
                            @if (User.IsInRole("admin") || User.IsInRole("UAT Admin") || User.IsInRole("PayrollAdmin") || User.IsInRole("PaySlip"))
                            {
                                <select name="salaryPeriodId" id="salaryPeriodId" class="form-control">
                                    <option value="">Select Salary Period</option>
                                    @foreach (var data in Model.salaryPeriodsList.Where(x => x.salaryTypeId == 1))
                                    {
                                        <option value="@data.Id">@data.periodName</option>
                                    }
                                </select>
                            }
                            else
                            {
                                <select name="salaryPeriodId" id="salaryPeriodId" class="form-control">
                                    <option value="">Select Salary Period</option>
                                    @foreach (var data in Model.salaryPeriodsList.Where(x => x.salaryTypeId == 1))
                                    {
                                        <option value="@data.Id">@data.periodName</option>
                                    }
                                </select>
                            }

                        </div>


                    </div>


                </div>
                @*<div class="col-sm-12">
                <div class="form-group row">
                    <label for="mailText" class="col-sm-2 col-form-label">Mail Body</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="mailText" name="mailText" cols="18" rows="12"></textarea>
                    </div>
                </div>
            </div>*@
            </div>
            @*<button type="button" id="submit" value="Submit" class="btn btn-success btn-sm" style="float:right; margin-top:5px;width:80px;">Save</button>*@

            <button type="submit" id="submitbtn" value="Submit" class="btn btn-success btn-lg" style="float:right; margin-top:5px;display:none;"><i class="fas fa-save"></i></button>
            <button type="button" id="submit" value="Submit" class="btn btn-success" style="float:right; margin-top:5px;"><i class="fas fa-save"></i> Save</button>
            <button type="button" id="merge" class="btn btn-success" style="float:right; margin-top:5px; margin-right:5px;"><i class="fas"></i> merge</button>
            <button type="button" id="resetControl" class="btn btn-success" style="float:right; margin-top:5px; margin-right:5px;"><i class="fas"></i> Reset</button>
        </form>

	</div>
</div>
<br />
<div class="row clearfix">
	<div class="col-12">
		<div class="card mb-4">
			<!-- Card Header - Dropdown -->
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">Salary Period List</h6>
			</div>
			<!-- Card Body -->
			<div class="card-body">
				<table class="table table-striped table-bordered" id="educationalTable">
					<thead>
						<tr>
							<th>SL#</th>
							<th>Period Name</th>
							<th>Year</th>
							<th>Month Name</th>
							<th>Tax Year</th>
							<th>Salary Type</th>
							<th>Lock Type</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						@{
							int i = 1;

							@foreach (var data in Model.salaryPeriodsList.Where(a => a.salaryTypeId == 1))
							{
								<tr>
									<td>@i</td>
									<td>@data?.periodName</td>
									<td>@data?.salaryYear?.yearName</td>
									<td>@data?.monthName</td>
									<td>@data?.taxYear?.taxYearName</td>
									<td>@data?.salaryType?.salaryTypeName</td>
									@if (@data.lockLabel == 5)
									{
										<td>Locked</td>
									}
									else if (@data.lockLabel == 4)
									{
										<td>In Disburse</td>
									}
									else if (@data.lockLabel == 3)
									{
										<td>In Approve</td>
									}
									else if (@data.lockLabel == 2)
									{
										<td>Ongoing</td>
									}
									else
									{
										<td>In Process</td>
									}
									@if (@data.lockLabel == 0 || @data.lockLabel == 1 || @data.lockLabel == 2 || @data.lockLabel == 3)
									{
										<td>
											<a class="btn btn-success" onclick="Edit(@data.Id,'@data.periodName','@data.monthName','@data.salaryYearId','@data.taxYearId','@data.salaryTypeId','@data.bonusTypeId','@data.daysWorking')" href="javascript:void(0)"><i class="fa fa-edit"></i></a>
											&nbsp;&nbsp;
											<a class="btn btn-danger" href="javascript:void(0)" onclick="DeleteMaster(@data.Id)"><i class="fa fa-trash-alt"></i></a>
											@*,`@data.mailSub`,`@data.mailText`*@
										</td>
									}
									else
									{
                                        <td>
                                            <a class="btn btn-success" onclick="SetAffectedPeriod(@data.Id,'@data.periodName','@data.monthName','@data.salaryYearId','@data.taxYearId','@data.salaryTypeId','@data.bonusTypeId','@data.daysWorking', '@data.mailText')" href="javascript:void(0)"><i class="fa fa-edit"></i></a>
                                        </td>
									}
								</tr>
								i++;
							}
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

@section ScriptsMD{
	<script>
        @*$('#submit').click(function () {
			console.log($('#FormId').serializeArray());
			var data = $('#FormId').serializeArray();

			console.log(data[0].value)
			swal({
				title: 'Are you sure?', text: 'Do you want to submit this record!', type: 'warning', showCancelButton: true, confirmButtonColor: '#3085d6', cancelButtonColor: '#d33', confirmButtonText: 'Yes, submit it!'
			}).then(function () {
				$.ajax({
					url: '@Url.Action("Index", "SalaryMaster")',
					type: 'POST',
					data: data
				}).done(function () {
					if (data[0].value == 0) {
						swal('success', 'Saved Successfully!', 'success').then(function () {
							location.reload();
						});
					}
					else {
						swal('success', 'Updated Successfully!', 'success').then(function () {
							location.reload();
						});;
					}
				}).fail(function () {
					swal('warning', 'Failed!', 'warning');
				})
			});
		})*@

        $(document).ready(function () {
                        
            $("#resetControl").click(function () {
                enableControls(true);
            });

            $("#submit").click(function () {
                swal({
                    title: 'Are you sure?', text: 'Do you want to submit this record!', type: 'warning', showCancelButton: true, confirmButtonColor: '#3085d6', cancelButtonColor: '#d33', confirmButtonText: 'Yes, submit it!'
                }).then(function () {
                    $("#submitbtn").click();
                });
            });
            $("#merge").click(function () {
                swal({
                    title: 'Are you sure?', text: 'Do you want to merge this record!', type: 'warning', showCancelButton: true, confirmButtonColor: '#3085d6', cancelButtonColor: '#d33', confirmButtonText: 'Yes, merge it!'
                }).then(function () {
                    //do there
                    alert('Under Construction!');
                });
            });
            
            var orgFullTitle = "Salary List";
            $('#educationalTable').DataTable({
                stateSave: false,
                dom: "<'row'<'col-sm-12 col-md-2'l><'col-sm-12 col-md-3'B><'col-sm-12 col-md-7'f>>" +
                    "<'row'<'col-sm-12't>>" +
                    "<'row'<'col-sm-12 col-md-6'i><'col-sm-12 col-md-6'pr>>",
                buttons: [
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel"></i> Excel',
                        titleAttr: 'Excel',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6]
                        },
                        title: "ERP-Payroll",
                        messageTop: 'List Of Salary ',
                        class: 'btn btn-info'
                    },
                    {
                        extend: 'csvHtml5',
                        text: '<i class="fa fa-file-excel"></i> CSV',
                        titleAttr: 'CSV',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6]
                        },
                        title: "ERP-HRPMS",
                        messageTop: 'List Of Salary ',
                    },
                    {
                        extend: 'print',
                        text: '<i class="fa fa-print"></i> Print',
                        titleAttr: 'Print',
                        title: "ERP-HRPMS",
                        messageTop: 'List Of Salary ',
                        exportOptions: {
                            columns: [0, 1,2,3,4,5,6]
                        },
                        customize: function (doc) {
                            $(doc.document.body).find('h1').css('font-size', '20pt');
                            $(doc.document.body).find('h1').css('font-family', "'Times New Roman', Times, serif");
                            $(doc.document.body).find('h1').css('text-align', 'center');
                        }
                    }
                ]
            });

            $("#divBonus").hide();

            $("#salaryTypeId").change(function () {
                if ($('#salaryTypeId').val() == 2) {
                    $("#divBonus").show();
                }
                else {
                    $("#divBonus").hide();
                }
            });

            $("#salaryYearId").change(function () {
                GetPeriodName();
            });
            $("#monthName").change(function () {
                GetPeriodName();
            });
            $("#salaryTypeId").change(function () {
                GetPeriodName();
            });
        });

        function GetPeriodName() {
            var period = $("#salaryTypeId option:selected").text() + "-" + $("#monthName").val() + "-" + $("#salaryYearId option:selected").text();
			$("#periodName").val(period);

			var month = $('#monthName option:selected').attr("month");
			var year = $('#salaryYearId option:selected').attr("year");
			if (month != '' && year != '') {
				var days = daysInMonth(month, year);
				$('#daysWorking').val(days);
			}
			else {
				$('#daysWorking').val('');
			}

		}
		function daysInMonth(month, year) {
			return new Date(year, month, 0).getDate();
		}

        function Edit(Id, periodName, monthName, salaryYearId, taxYearId, salaryTypeId, bonusTypeId, daysWorking) {
            $('#editId').val(Id);
            $('#periodName').val(periodName);
            $('#monthName').val(monthName);
            $('#salaryYearId').val(salaryYearId);
            $('#taxYearId').val(taxYearId);
            $('#salaryTypeId').val(salaryTypeId);
            if (bonusTypeId == '' || bonusTypeId == null) {
                $("#divBonus").hide();
                $('#bonusTypeId').val('');
            }
            else {
                $("#divBonus").show();
                $('#bonusTypeId').val(bonusTypeId);
            }
            $('#daysWorking').val(daysWorking);
            //$('#mailSub').val(mailSub);
            //$('#mailText').val(mailText);
        }

        function DeleteMaster(Id) {
            swal({
                title: 'Are you sure?', text: 'Do you want to delete this record!', type: 'warning', showCancelButton: true, confirmButtonColor: '#3085d6', cancelButtonColor: '#d33', confirmButtonText: 'Yes, delete it!'
            }).then(function () {

                $.ajax({
                    url: '@Url.Action("DeleteSalaryPeriodById", "SalaryMaster")',
                    data: { Id: Id },
                    type: 'POST',
                })
                    .done(function () {
                        swal('', 'Deleted Successfully!', 'success');
                        window.location.href = "/Payroll/SalaryMaster/SalaryPeriod";
                    })
                    .fail(function () {
                        swal('Cancelled', 'It will not be deleted. Please try again later !!!', 'error');
                    });
            });
        }

        function SetAffectedPeriod(Id, periodName, monthName, salaryYearId, taxYearId, salaryTypeId, bonusTypeId, daysWorking, mailText) {
            //$('#editId').val(Id);
            $('#periodName').val(periodName);
            $('#monthName').val(monthName);
            $('#salaryYearId').val(salaryYearId);
            $('#taxYearId').val(taxYearId);
            $('#salaryTypeId').val(salaryTypeId);
            $('#daysWorking').val(daysWorking);
            $('#mailText').val(mailText);

            if (bonusTypeId == '' || bonusTypeId == null) {
                $("#divBonus").hide();
                $('#bonusTypeId').val('');
            }
            else {
                $("#divBonus").show();
                $('#bonusTypeId').val(bonusTypeId);
            }
            enableControls(false);
        }

        function enableControls(isEnabled) {
            if (isEnabled) {
                $('#editId').val('');
                $('#periodName').val('');
                $('#monthName').val('');
                $('#salaryYearId').val('');
                $('#taxYearId').val('');
                $('#salaryTypeId').val('');
                $('#daysWorking').val('');
                $("#divBonus").val('');
                $('#bonusTypeId').val('');
                $('#mailText').val('');
                $('#submit').val('');

                $('#periodName').removeAttr('disabled');
                $('#monthName').removeAttr('disabled');
                $('#salaryYearId').removeAttr('disabled');
                $('#taxYearId').removeAttr('disabled');
                $('#salaryTypeId').removeAttr('disabled');
                $('#daysWorking').removeAttr('disabled');
                $("#divBonus").removeAttr('disabled');
                $('#bonusTypeId').removeAttr('disabled');
                $('#mailText').removeAttr('disabled');
                $('#submit').removeAttr('disabled');
            }
            else {
                $('#periodName').attr('disabled', 'disabled');
                $('#monthName').attr('disabled', 'disabled');
                $('#salaryYearId').attr('disabled', 'disabled');
                $('#taxYearId').attr('disabled', 'disabled');
                $('#salaryTypeId').attr('disabled', 'disabled');
                $('#daysWorking').attr('disabled', 'disabled');
                $("#divBonus").attr('disabled', 'disabled');
                $('#bonusTypeId').attr('disabled', 'disabled');
                $('#mailText').attr('disabled', 'disabled');
                $('#submit').attr('disabled', 'disabled');
            }
        }

	</script>
}