@model CSRequisitionList
@{
	ViewData["Title"] = "CS List";
}

<div class="row clearfix">
	<div class="col-12">
		<div class="card mb-4">
			<br />
			<div class="row">
				<div class="col-md-10">
					<h6 class="m-0 font-weight-bold text-primary">Approved CS List</h6>
				</div>
				<div class="col-md-2">
					@*<button type="button" class="btn btn-default btn-sm" style="width:100px;background-color:#024972;color:white;float:right;" onclick="location.href='@Url.Action("CreatePO", "PurchaseOrder")'">Create PO</button>*@
				</div>
			</div>
			<hr />
			<div class="card-body">
				<table class="table table-striped table-bordered" id="csListTable">
					<thead>
						<tr>
							<th>Requisition No.</th>
							<th>Requisition Date</th>
							<th>Procurement Person</th>
							<th>CS No</th>
							<th>CS Creation Date</th>
							@*<th>Final Approver</th>*@
							<th>Action</th>
					</thead>
					<tbody>
						@foreach (var data in Model.cSMasters.Where(x =>x.csStatus == 3))
						{
							<tr>
								<td>@data.requisition.reqNo</td>
								<td>@data.requisition.reqDate?.ToString("dd-MMM-yyyy")</td>
								<td>@data.procurementPerson</td>
								<td>@data.csNo</td>
								<td>@data.csDate?.ToString("dd-MMM-yyyy")</td>
								<td>@data.approverName</td>
								<td>
									@*<a class="btn btn-success btn-sm" href="/SCMPurchaseProcess/PurchaseApprove/CSApprove?csId=@data.Id">Approve CS</a>*@
									<a class="btn btn-success btn-sm" href="/SCMPurchaseProcess/PurchaseProcess/CSReportPdf?csId=@data.Id">Print CS</a>
									@*<a class="btn btn-info" title="Print PR" target='_blank' href="/Report/ReportMaster/PurchaseRequisitionPdf/?reqId=@data.Id"><i class='fa fa-print'></i></a>*@
								</td>
							</tr>
						}

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


@section Scripts{
	<script type="text/javascript">
        $(document).ready(function () {
            $('#csListTable').DataTable();
        });
	</script>
}

