@model CSRequisitionList
@{
    ViewData["Title"] = "CS Ongoing";
}


<style>
    .page-link {
        color: black !important;
        font-size: 15px !important;
        padding: 8px !important;
        line-height: 20px !important;
    }

    .fas {
        margin-top: 10px;
        font-size: 25px;
    }

    .active {
        color: darkcyan;
    }

	.c {
		min-height: 365px;
		background-color: #FDF2E9;
	}

        .c .card-footer {
            height: 50px;
            background-color: #E9F7EF;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    .cb {
        height: 540px;
    }

    .c .cb {
        transition: .3s all;
        /*cursor: pointer;*/
    }

    .c:hover {
        background-color: #D6DBE9;
    }

    #myInput1 {
        width: 38%;
        position: absolute;
        right: 70px;
        box-shadow: none;
        margin-left: 25%;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    a i {
        font-size: 15px !important;
        margin: 0 !important;
    }

    .pagination > li > a,
    .pagination > li > span {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #337ab7;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
    }

    .pagination > .active > a,
    .pagination > .active > a:focus,
    .pagination > .active > a:hover,
    .pagination > .active > span,
    .pagination > .active > span:focus,
    .pagination > .active > span:hover {
        z-index: 3;
        color: #fff;
        cursor: default;
        background-color: #337ab7;
        border-color: #337ab7;
    }

    .pagination-container {
        margin: 20px 0;
        display: flex;
        justify-content: flex-end;
    }
</style>


<i class="fas fa-th text-left mx-2"></i>
<i class="fas fa-list-alt text-left mx-2"></i>

<div class="row clearfix" id="listView" style="display: none;">
    <div class="col-12">
        <div class="card mb-4">
            <br />
            <div class="row">
                <div class="col-md-10">
                    <h6 class="m-0 font-weight-bold text-primary">CS List</h6>
                </div>
                <div class="col-md-2">
                    <a class='btn btn-info' style="margin-left: 66%;" data-toggle='tooltip' title='Go Back' href='/Home/GridMenuPage?moduleId=1&perentId=1295'><i style="margin: 4px; font-size: 20px;" class="fas fa-backward"></i></a>

                    @*<button type="button" class="btn btn-default btn-sm" style="width:100px;background-color:#024972;color:white;float:right;" onclick="location.href='@Url.Action("CreatePO", "PurchaseOrder")'">Create PO</button>*@
                </div>
            </div>
            <hr />
            <div class="card-body">
                <table class="table table-striped table-bordered" id="csListTable">
                    <thead>
                        <tr>
                            <th>Requisition No.</th>
                            <th>Requisition Date</th>
                            <th>Procurement Person</th>
                            <th>CS No</th>
                            <th>CS Creation Date</th>
                            <th>Final Approver</th>
                            <th>Action</th>
                    </thead>
                    <tbody>
                        @foreach (var data in Model.cSMasters)
                        {
                            <tr>
                                <td>@data.requisition.reqNo</td>
                                <td>@data.requisition.reqDate?.ToString("dd-MMM-yyyy")</td>
                                <td>@data.procurementPerson</td>
                                <td>@data.csNo</td>
                                <td>@data.csDate?.ToString("dd-MMM-yyyy")</td>
                                <td>@data.approverName</td>
                                <td>
                                    <a class="btn btn-success btn-sm" href="/SCMPurchaseProcess/PurchaseApprove/CSApprove?csId=@data.Id">Approve CS</a>
                                    <a class="btn btn-success btn-sm" href="/SCMPurchaseProcess/PurchaseProcess/CSReportPdf?csId=@data.Id" style="margin-left:73px; margin-top: -48px;">Print CS</a>
                                    @*<a class="btn btn-info" title="Print PR" target='_blank' href="/Report/ReportMaster/PurchaseRequisitionPdf/?reqId=@data.Id"><i class='fa fa-print'></i></a>*@
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix" id="gridView">
    <div class="col-12">
        <div class="card mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center">
                
                <div class="col-md-5">
                    <h6 class="m-0 font-weight-bold text-primary">CS List</h6>
                </div>
                <div class="col-md-2">
                    <a class='btn btn-info' style="margin-left: 367%;" data-toggle='tooltip' title='Go Back' href='/Home/GridMenuPage?moduleId=1&perentId=1295'><i style="margin: 4px; font-size: 20px;" class="fas fa-backward"></i></a>


                </div>

                <input type="text" class="form-control" placeholder="Search here..." id="myInput1" />

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="row" id="cards">
                    @foreach (var data in Model.cSMasters)
                    {
                        <div class="col-md-3 mb-1 searchdiv" >
                            <a href="javascript:void(0)" style="text-decoration: none; color: black; cursor: default;">

                                <div class="card c " style="font-size: 16px;">


                                    <div class="card-body cb text-center">
                                        <strong>Requisition No.:</strong> <br />
                                        @data.requisition.reqNo <br /> <br />

                                        <strong>Requisition Date:</strong> <br />
                                        @data.requisition.reqDate?.ToString("dd-MMM-yyyy") <br /> <br />

                                        <strong>Procurement Person:</strong> <br />
                                        @data.procurementPerson<br /> <br />

                                        <strong>CS  NO.:</strong> <br />
                                        @data.csNo<br /> <br />

                                        <strong>CS  Date:</strong> <br />
                                        @data.csDate?.ToString("dd-MMM-yyyy")<br /> <br />

                                        <strong>Approver Name:</strong> <br />
                                        @data.approverName<br/>

                                        @*<p>@data.requisition.reqNo</p>
        <p>@data.requisition.reqDate?.ToString("dd-MMM-yyyy")</p>
        <p>@data.procurementPerson</p>
        <p>@data.csNo</p>
        <p>@data.csDate?.ToString("dd-MMM-yyyy")</p>
        <p>@data.approverName</p>*@
                                    </div>
									<div class="card-footer text-center font-weight-bold position-absolute" style="bottom: 0; width: 100%;">
										<a class="btn btn-success btn-sm" href="/SCMPurchaseProcess/PurchaseApprove/CSApprove?csId=@data.Id">Approve CS</a>
										<a class="btn btn-success btn-sm ml-1" href="/SCMPurchaseProcess/PurchaseProcess/CSReportPdf?csId=@data.Id">Print CS</a>
									</div>
                                </div>
                            </a> <br />

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts{
    <script src="~/Assets/paginathing.js"></script>

    <script>


        $(document).ready(function () {
            $('#csListTable').DataTable();

            $("#education").addClass("active");


            $('#gridView').show();
            $('#listView').hide();

            $('.fas').removeClass('active');
            $('.fa-th').addClass('active');


            if ($("#cards").length != null) {

                $('#cards').paginathing({

                    // Limites your pagination number
                    // false or number
                   // limitPagination: limit,
                    // limitPagination: false,

                    // Pagination controls
                    perPage: 8,
                    prevNext: true,
                    firstLast: true,
                    prevText: '&laquo;',
                    nextText: '&raquo;',
                    firstText: 'First',
                    lastText: 'Last',
                    containerClass: 'pagination-container',
                    ulClass: 'pagination',
                    liClass: 'page',
                    activeClass: 'active',
                    disabledClass: 'disabled',
                    pageNumbers: true,
                    insertAfter: '#cards'
                })
            }


        });

        $('.fa-list-alt').click(function () {
            $('#listView').show();
            $('#gridView').hide();

            $('.fas').removeClass('active');
            $('.fa-list-alt').addClass('active');
        })
        $('.fa-th').click(function () {
            $('#listView').hide();
            $('#gridView').show();

            $('.fas').removeClass('active');
            $('.fa-th').addClass('active');
        })




    </script>
}





















