@model RequisitionViewModel
@{
    ViewData["Title"] = "Requisition";
    Layout = "~/Views/Shared/_PrintView.cshtml";
}

<style>
    .table-bordered {
        border-collapse: collapse !important;
    }

        .table-bordered th {
            border: 1px solid gray !important;
        }

        .table-bordered td {
            border: 1px solid gray !important;
        }
</style>

<div>
    <div>
        <div>
            <div>
                <div>
                    <div style="float:left">
                        <img src="@Model.company.filePath" style="margin:0px 0px 0px 0px;" height="100" width="180" />
                    </div>
                    <div style="color:black">
                        <p style="font-weight:900;padding-left:410px">@Model.company.companyName</p>
                        <p style="width:650px;padding-left:300px;text-align:center">@Model.company.addressLine</p>
                        @*<p style="width:650px;padding-left:300px;text-align:center">@Model.company.phone</p>*@
                        <p style="width:650px;padding-left:300px;text-align:center">Requisition</p>
                    </div>
                </div>
            </div>

            <br /><br />

            <div style="margin-bottom:30px;color:black">
                <span style="float:left;font-weight:600;">Invoice No : @Model.requisitionMaster.requisitionNumber</span>
                <span style="text-align:right;float:right;font-weight:600;">Invoice Date : @Model.requisitionMaster.requisitionDate?.ToString("dd-MMM-yyyy")</span>
                <br />
                <span style="float:left;font-weight:600;">Customer : @Model.requisitionMaster.relSupplierCustomerResourse.resource.nameEnglish</span>
            </div>
        </div>

        <div>
            <table class="table table-striped table-bordered" id="voucherList">
                <thead>
                    <tr>
                        <th>Package Name</th>
                        <th>Item</th>
                        <th>Item Spac.</th>
                        <th>Price</th>
                        <th>Qty</th>
                        <th>Vat</th>
                        <th>Discount</th>

                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.requisitionDetails)
                    {
                        //decimal lineTot = 0; decimal lineDisc = 0;

                        //lineTot = (Convert.ToDecimal(@item.itemPriceFixing.price) * Convert.ToDecimal(@item.quantity));
                        //if (@item.itemPriceFixing.discountPersent != null)
                        //{
                        //    lineDisc = (Convert.ToDecimal(@item.itemPriceFixing.price) * Convert.ToDecimal(@item.quantity) * Convert.ToDecimal(@item.itemPriceFixing.discountPersent) / 100);
                        //}
                        //decimal lineTotal = lineTot - lineDisc;
                        var packageName = "";
                        if (item.packageDetailId != null)
                        {

                            packageName = @item.packageDetail.packageMaster.packageName;
                        }
                        <tr>
                            <td>@packageName</td>
                            <td>@item.disItemPriceFixing.itemSpecification.Item.itemName</td>
                            <td>@item.disItemPriceFixing.itemSpecification.specificationName</td>
                            <td>@item.disItemPriceFixing.price?.ToString("0.00")</td>
                            <td>@item.quantity?.ToString("0.00")</td>
                            <td>@item.vatAmount?.ToString("0.00")</td>
                            <td>@item.discountAmount?.ToString("0.00")</td>
                            <td style="text-align:right;">@item.lineTotal?.ToString("0.00")</td>
                        </tr>
                    }
                </tbody>
                <tfoot>

                    <tr>
                        <th colspan="7" style="text-align:right;">Gross Total</th>
                        <td style="text-align:right;">@Model.requisitionMaster.totalAmount?.ToString("0.00")</td>
                    </tr>
                    <tr>
                        <th colspan="7" style="text-align:right;">Discount(%)</th>
                        <td style="text-align:right;">@Model.requisitionMaster.DiscountOnTotal?.ToString("0.00")</td>
                    </tr>
                    <tr>
                        <th colspan="7" style="text-align:right;">VAT</th>
                        <td style="text-align:right;">@Model.requisitionMaster.VATOnTotal?.ToString("0.00")</td>
                    </tr>

                    <tr>
                        <th colspan="7" style="text-align:right;">Total</th>
                        <td style="text-align:right;">@Model.requisitionMaster.NetTotal?.ToString("0.00")</td>td>
                    </tr>
                </tfoot>
            </table>
        </div>

        @*<div>
                <div style="text-align:left;width:100%;">
                    <span style="color:black"><span style="font-weight:600">Amount In Word:</span>&nbsp; &nbsp;@ViewBag.InWord</span>
                </div>
            </div>*@

        <br /><br /><br /><br /><br /><br />

        <div>
            <div>
                <div style="float:left">
                    <span style="color:black"></span>
                    <br />
                    <span style="color:black">-----------------</span>
                    <br />
                    <span style="color:black;padding-left:20px">Approved By</span>
                </div>

                <div style="float:right">
                    <span style="color:black;text-align:center;">@Model.requisitionMaster.createdBy</span>
                    <br />
                    <span style="color:black">------------------</span>
                    <br />
                    <span style="color:black;padding-left:20px">Create By</span>
                </div>
            </div>
        </div>
    </div>
</div>












