@model DegreeViewModel
@{
    ViewData["TitleMD"] = Model.fLang.title;
    Layout = "~/Areas/HRPMSMasterData/Views/Shared/_MasterDataForm.cshtml";
}

@section StyleMD{
    <style>
        .redStar {
            color: red;
        }
    </style>
}

    <div class="card" style="width: 100%;">
        <div class="card-header  d-flex flex-row align-items-center justify-content-between">
            <h5 class="m-0 font-weight-bold text-primary">@Model.fLang.title</h5>
            <a class='btn btn-info mr-4' style="float:right" data-toggle='tooltip' title='Go Back' href='/Home/GridMenuPage?moduleId=3&perentId=5702'>@*<i class="fas fa-backward fa-2x "></i>*@<i class="fas fa-angle-double-left"> <span style="">Back</span></i></a>

        </div>
        <div class="card-body">
            @*<a class='btn btn-outline-info mr-4' style="float:right" data-toggle='tooltip' title='Go Back' href='/Home/GridMenuPage?moduleId=3&perentId=5702'><i class="fas fa-backward"></i></a>
            <h5 class="card-title" style="color: black">@Model.fLang.title</h5>
            <hr>*@
            <div class="container">
                <form asp-area="HRPMSMasterData" id="FormId" asp-controller="Degree" asp-action="Index" method="post" data-parsley-validate="parsley">

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group row">
                        <input type="hidden" name="degreeId" id="degreeId" value="0" />

                        <label for="levelofeducationId" class="col-sm-2 col-form-label">@Model.fLang.loeName <span style="float:right;" class="redStar">*</span></label>
                        <div class="col-sm-10">
                            <select class="form-control" name="levelofeducationId" id="levelofeducationId" data-parsley-required="true">
                                <option value="">Select</option>
                                @foreach (var data in Model.levelofeducationNamelist)
                                {
                                    <option value="@data.Id">@data.levelofeducationName</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="degreeName" class="col-sm-2 col-form-label">@Model.fLang.degreeName <span style="float:right;" class="redStar">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" data-parsley-required="true" data-parsley-trigger="keyup" class="form-control" name="degreeName" id="degreeName">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="degreeNameBn" class="col-sm-2 col-form-label">@Model.fLang.degreeNameBn</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="degreeNameBn" id="degreeNameBn">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="degreeShortName" class="col-sm-2 col-form-label">@Model.fLang.shortName</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="degreeShortName" id="degreeShortName">
                        </div>
                    </div>
                    <hr />
                    @*<button type="button" id="submit" value="Submit" class="btn btn-success btn-lg" style="float:right; margin-top:5px;"><i class="fas fa-save"></i></button>*@
                    <button type="submit" id="submitbtn" value="Submit" class="btn btn-success btn-lg" style="float:right; margin-top:5px;display:none;"><i class="fas fa-save"></i></button>
                    <button type="button" id="submit" value="Submit" class="btn btn-success" style="float:right; margin-top:5px;"><i class="fas fa-save"></i> Save</button>

                </form>
            </div>
        </div>
    </div>
<hr />
<div class="row clearfix">
    <div class="col-12">
        <div class="card mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">@Model.fLang.title</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table class="table table-striped table-bordered" id="departmentTable">
                    <thead>
                        <tr>
                            <th>LOE</th>
                            <th>@Model.fLang.degreeName</th>
                            <th>@Model.fLang.degreeNameBn</th>
                            <th>@Model.fLang.shortName</th>
                            <th>@Model.fLang.action</th>
                    </thead>
                    <tbody>
                        @foreach (var data in Model.degrees)
                        {
                            <tr>
                                <td>@data.levelofeducation?.levelofeducationName</td>
                                <td>@data.degreeName</td>
                                <td>@data.degreeNameBn</td>
                                <td>@data.degreeShortName</td>
                                <td>
                                    <a class="btn btn-success" onclick="Edit(@data.Id, '@data.degreeName', '@data.degreeNameBn', '@data.degreeShortName', '@data.levelofeducationId')" href="#"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;
                                    <a class="btn btn-danger" href="javascript:void(0)" onclick="DeleteMaster(@data.Id)"><i class="fa fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section ScriptsMD{
    <script>

        $(document).ready(function () {
            $("#submit").click(function () {
                swal({
                    title: 'Are you sure?', text: 'Do you want to submit this record!', type: 'warning', showCancelButton: true, confirmButtonColor: '#3085d6', cancelButtonColor: '#d33', confirmButtonText: 'Yes, submit it!'
                }).then(function () {
                    $("#submitbtn").click();
                });
            });
            $("#degree").addClass("active");
            $('#departmentTable').DataTable({
                stateSave: false,
                dom: "<'row'<'col-sm-12 col-md-2'l><'col-sm-12 col-md-3'B><'col-sm-12 col-md-7'f>>" +
                    "<'row'<'col-sm-12't>>" +
                    "<'row'<'col-sm-12 col-md-6'i><'col-sm-12 col-md-6'pr>>",
                buttons: [
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel"></i> Excel',
                        titleAttr: 'Excel',
                        exportOptions: {
                            columns: [0, 1, 2]
                        },
                        title: "Degree Information",
                        messageTop: 'List Of Degree Information',
                        class: 'btn btn-info'
                    },
                    {
                        extend: 'csvHtml5',
                        text: '<i class="fa fa-file-excel"></i> CSV',
                        titleAttr: 'CSV',
                        exportOptions: {
                            columns: [0, 1, 2]
                        },
                        title: "Degree Information",
                        messageTop: 'List Of Degree Information'
                    },
                    {
                        extend: 'print',
                        text: '<i class="fa fa-print"></i> Print',
                        titleAttr: 'Print',
                        title: "Degree Information",
                        exportOptions: {
                            columns: [0, 1, 2]
                        },
                        customize: function (doc) {
                            $(doc.document.body).find('h1').css('font-size', '20pt');
                            $(doc.document.body).find('h1').css('font-family', "'Times New Roman', Times, serif");
                            $(doc.document.body).find('h1').css('text-align', 'center');
                        }
                    }
                ]
            });

        });

        function Edit(Id, degreeName, degreeNameBn, degreeShortName, levelofeducationId) {
            $("#degreeId").val(Id);
            $("#degreeName").val(degreeName);
            $("#degreeNameBn").val(degreeNameBn);
            $("#degreeShortName").val(degreeShortName);
            $("#levelofeducationId").val(levelofeducationId);
        }

        function DeleteMaster(Id) {
            swal({
                title: 'Are you sure?', text: 'Do you want to delete this record!', type: 'warning', showCancelButton: true, confirmButtonColor: '#3085d6', cancelButtonColor: '#d33', confirmButtonText: 'Yes, delete it!'
            }).then(function () {

                $.ajax({
                    url: '@Url.Action("DeleteDegreeById", "Degree")',
                    data: { Id: Id },
                    type: 'POST',
                })
                    .done(function () {
                        swal('', 'Deleted Successfully!', 'success');
                        window.location.href = "/HRPMSMasterData/Degree/Index";
                    })
                    .fail(function () {
                        swal('Cancelled', 'It will not be deleted. Please try again later !!!', 'error');
                    });
            });
        }
    </script>
}

