@model ApplicationFormViewModel
@{
    ViewData["Title"] = "Selected List";
    Layout = "~/Areas/HRPMSEmployee/Views/Shared/_EmployeeForm.cshtml";
}

<div class="row clearfix">
    <div class="col-12">
        <div class="card mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h5 class="m-0 font-weight-bold text-primary">Applicants Selected List </h5>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table class="table table-striped table-bordered" id="validApplicantsTable1">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>Application No</th>
                            <th>Name</th>
                            <th>Mobile No.</th>
                            <th>Written</th>
                            <th>Viva</th>
                            <th>Total Marks</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ var Count = 1;
                            @foreach (var data in Model.applicationForms.Where(x => x.status == 7))
                            {
                                <tr>
                                    <td>@Count</td>
                                    <td>@data.applicationNo</td>
                                    <td>@data.nameEN</td>
                                    <td>@data.mobile</td>
                                    <td>@data.writtenMarks</td>
                                    <td>@data.vivaResult</td>
                                    <td>@data.totalMarks</td>
                                </tr>
                                Count++;
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section ScriptsEmp{
    <script>
        $(document).ready(function () {
            $("#language").addClass("active");
            //$('#validApplicantsTable1').DataTable();
            $('#validApplicantsTable1').DataTable({
                stateSave: false,
                dom: "<'row'<'col-sm-12 col-md-2'l><'col-sm-12 col-md-3'B><'col-sm-12 col-md-7'f>>" +
                    "<'row'<'col-sm-12't>>" +
                    "<'row'<'col-sm-12 col-md-6'i><'col-sm-12 col-md-6'pr>>",
                buttons: [
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel"></i> Excel',
                        titleAttr: 'Excel',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6]
                        },
                        title: "Applicants Selected List",
                        messageTop: 'List of Applicants Selected List',
                        class: 'btn btn-info'
                    },
                    {
                        extend: 'csvHtml5',
                        text: '<i class="fa fa-file-excel"></i> CSV',
                        titleAttr: 'CSV',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6]
                        },
                        title: "Applicants Selected List",
                        messageTop: 'List of Applicants Selected List'
                    },
                    {
                        extend: 'print',
                        text: '<i class="fa fa-print"></i> Print',
                        titleAttr: 'Print',
                        title: "Applicants Selected List",
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6]
                        },
                        customize: function (doc) {
                            $(doc.document.body).find('h1').css('font-size', '20pt');
                            $(doc.document.body).find('h1').css('font-family', "'Times New Roman', Times, serif");
                            $(doc.document.body).find('h1').css('text-align', 'center');
                        }
                    }
                ]
            });
        });

    </script>
}

